{% extends "base.html" %} {% load static %} {% block title %} Inicio {% endblock %} {% block content %}

<section class="portada-lcen-colores">
    <img src="{% static 'img/mapa-contitucional-banner.png' %}" alt="img collage portada" class="img-fluid img-banner-desktop">
    <img src="{% static 'img/mapa-constitucional-movil-banner.png' %}" alt="img collage portada" class="img-fluid img-banner-movil">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'inicio' %}">Inicio</a></li>
            <li class="breadcrumb-item"><a href="{% url 'mapa-constitucional' %}">Mapa Constitucional</a></li>
            <li class="breadcrumb-item active" aria-current="page">Agua</li>
        </ol>
    </nav>
</section>

<section class="container mapa-constitucional-terminos">
    <div class="row">
        <div class="col-12 col-md-12 col-lg-4">
            <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'mapa-constitucional' %}">Temas</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Agua</li>
                </ol>
            </nav>

            <!-- Button trigger modal -->
            <button type="button" class="btn-concepto-modal" data-bs-toggle="modal" data-bs-target="#exampleModal">Derechos humanos y fundamentales</button>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Derechos humanos y fundamentales</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <p>Los derechos humanos o fundamentales son los derechos que tenemos básicamente por existir como seres humanos. Pertenecen a todas las personas, con independencia de la nacionalidad, género, origen étnico, color, religión, idioma o cualquier otra condición.</p>
                            <h4>¿Qué son los derechos económicos, sociales, culturales y ambientales?</h4>
                            <p>Los Derechos Económicos Sociales, Culturales y Ambientales (DESCA) son los derechos humanos que garantizan condiciones sociales y económicas básicas necesarias para una vida en dignidad y libertad.</p>
                            <h4>¿Cómo avanzar hacia la igualdad y la no disciminación?</h4>
                            <p>Las desigualdades amenazan el desarrollo social y económico a largo plazo, dificultan la reducción de la pobreza y destruyen el sentimiento de plenitud y valía de las personas. Es por eso debe avanzarse hacia formas de igualdad sustantiva entre todas las personas.</p>
                            <p>Fuente: <a href="https://www.ohchr.org/sp/issues/pages/whatarehumanrights.aspx" target="_blank" class="enlaces">ohchr.org</a>, <a href="https://www.escr-net.org/es/derechos" target="_blank" class="enlaces">escr-net.org</a> y <a href="https://www.es.amnesty.org/en-que-estamos/blog/historia/articulo/derechos-civiles-derechos-politicos/" target="_blank" class="enlaces">es.amnesty.org</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <h3>Agua</h3>
            <p>El derecho humano al agua implica tanto libertades como derechos.  Las libertades se refieren a mantener el acceso a un suministro de agua necesario para ejercer el derecho al agua y el derecho a no ser objeto de injerencias, como por ejemplo, a no sufrir cortes arbitrarios del suministro o a la no contaminación de los recursos hídricos. Los derechos comprenden el derecho a un sistema de abastecimiento y gestión del agua que ofrezca a la población iguales oportunidades de disfrutar del derecho al agua.</p>
            <p>Fuente: <b>Comité DESC (2002) Observación General Nro. 15. El derecho al agua.</b></p>
        </div>

        <div class="col-12 col-md-12 col-lg-8">
            <div class="d-flex align-items-start">

                <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <h4>4 contenidos asociados</h4>
                    <button class="nav-link active" id="v-pills-tab-1" data-bs-toggle="pill" data-bs-target="#v-pills-1" type="button" role="tab" aria-controls="v-pills-1" aria-selected="true"><span>Adecuación del agua</span></button>
                    <button class="nav-link" id="v-pills-tab-2" data-bs-toggle="pill" data-bs-target="#v-pills-2" type="button" role="tab" aria-controls="v-pills-2" aria-selected="false"><span>Disponibilidad del agua</span></button>
                    <button class="nav-link" id="v-pills-tab-3" data-bs-toggle="pill" data-bs-target="#v-pills-3" type="button" role="tab" aria-controls="v-pills-3" aria-selected="false"><span>Calidad del agua</span></button>
                    <button class="nav-link" id="v-pills-tab-4" data-bs-toggle="pill" data-bs-target="#v-pills-4" type="button" role="tab" aria-controls="v-pills-4" aria-selected="false"><span>Accesibilidad del agua</span></button>
                   
                </div>

                <div class="tab-content" id="v-pills-tabContent">

                    <div class="tab-pane fade show active" id="v-pills-1" role="tabpanel" aria-labelledby="v-pills-tab-1">
                        <p class="text-bold">¿Qué son los derechos económicos, sociales, culturales y ambientales?</p>
                        <h4>Adecuación del agua</h4>
                        <p>Implica que los elementos del derecho al agua deben ser adecuados a la dignidad, la vida y la salud humanas. Esta adecuación no se refiere únicamente a las cantidades volumétricas y las tecnologías, sino al tratamiento del agua como un bien social y cultural y no fundamentalmente como un bien económico.</p>
                        <p>Fuente: <b>Comité DESC (2002) Observación General Nro. 15. El derecho al agua.</b></p>
                        <!--<hr>
                        <h5>Otros temas asociados</h5>
                        <ul>
                            <li><a href="#" class="btn-lcen button hvr-sweep-to-right">Item</a></li>
                        </ul>-->
                    </div>

                    <div class="tab-pane fade" id="v-pills-2" role="tabpanel" aria-labelledby="v-pills-tab-2">
                        <p class="text-bold">¿Qué son los derechos económicos, sociales, culturales y ambientales?</p>
                        <h4>Disponibilidad del agua</h4>
                        <p>Implica que el abastecimiento de agua de cada persona debe ser continuo y suficiente para los usos personales y domésticos, entre los que se encuentra el consumo, el saneamiento e higiene personal y la preparación de alimentos entre muchas otras.</p>
                        <p>Fuente: <b>Comité DESC (2002) Observación General Nro. 15. El derecho al agua.</b></p>
                        <!--<hr>
                        <h5>Otros temas asociados</h5>
                        <ul>
                            <li><a href="#" class="btn-lcen button hvr-sweep-to-right">Item</a></li>
                        </ul>-->
                    </div>

                    <div class="tab-pane fade" id="v-pills-3" role="tabpanel" aria-labelledby="v-pills-tab-3">
                        <p class="text-bold">¿Qué son los derechos económicos, sociales, culturales y ambientales?</p>
                        <h4>Calidad del agua</h4>
                        <p>Implica que el agua debe ser salubre y no contener microorganismos o sustancias químicas o radiactivas que puedan constituir una amenaza para la salud de las personas. Es decir, el agua debería tener un color, un olor y un sabor aceptables para cada uso personal o doméstico.</p>
                        <p>Fuente: <b>Comité DESC (2002) Observación General Nro. 15. El derecho al agua.</b></p>
                        <!--<hr>
                        <h5>Otros temas asociados</h5>
                        <ul>
                            <li><a href="#" class="btn-lcen button hvr-sweep-to-right">Item</a></li>
                        </ul>-->
                    </div>
                    
                    <div class="tab-pane fade" id="v-pills-4" role="tabpanel" aria-labelledby="v-pills-tab-4">
                        <p class="text-bold">¿Qué son los derechos económicos, sociales, culturales y ambientales?</p>
                        <h4>Accesibilidad del agua</h4>
                        <p>El agua y las instalaciones y servicios de agua deben ser accesibles a todos, sin discriminación. Esto implica que deben estar al alcance físico de todos los sectores de la población, que los costos asociados al abastecimiento de agua deben ser asequibles y no comprometer el ejercicio de otros derechos, que estos servicios se entreguen sin discriminación y que existan posibilidades de solicitar, recibir y difundir información sobre el agua.</p>
                        <p>Fuente: <b>Comité DESC (2002) Observación General Nro. 15. El derecho al agua.</b></p>
                        <!--<hr>
                        <h5>Otros temas asociados</h5>
                        <ul>
                            <li><a href="#" class="btn-lcen button hvr-sweep-to-right">Item</a></li>
                        </ul>-->
                    </div>

                </div>
            </div>
        </div>
    </div>

</section>


{% endblock %}
