{% extends "base.html" %}
{% load static %}
{% block title %} Inicio {% endblock %}
{% block content %}

<section class="portada-lcen-colores">
    <img src="{% static 'img/mapa-contitucional-banner.png' %}" alt="img collage portada" class="img-fluid img-banner-desktop">
    <img src="{% static 'img/mapa-constitucional-movil-banner.png' %}" alt="img collage portada" class="img-fluid img-banner-movil">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'inicio' %}">Inicio</a></li>
            <li class="breadcrumb-item"><a href="{% url 'mapa-constitucional' %}">Mapa Constitucional</a></li>
            <li class="breadcrumb-item active" aria-current="page">Control Constitucional</li>
        </ol>
    </nav>
</section>

<section class="container mapa-constitucional-terminos">
    <div class="row">
        <div class="col-12 col-md-12 col-lg-4">
            <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'mapa-constitucional' %}">Temas</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Control Constitucional</li>
                </ol>
            </nav>

            <!-- Button trigger modal -->
            <button type="button" class="btn-concepto-modal" data-bs-toggle="modal" data-bs-target="#exampleModal">El estado</button>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">El Estado</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <p>“Una comunidad humana, fijada sobre un territorio propio, que posee una organización que resulta para ese grupo, en lo que respecta a las relaciones con sus miembros, una potencia suprema de acción, de mando y coerción”, <u>Carré de Malberg (1988).</u></p>
                            <h4>¿Por qué tenemos un Estado?</h4>
                            <p>Los Estados existen para cuidar a las personas y asegurar el bienestar de las sociedades. Para lograr este objetivo, las Constituciones establecen un conjunto de reglas y principios, que establecen las atribuciones de los órganos del Estado, limitan el poder público y determinan los fines que deben cumplir las instituciones.</p>
                            <h4>¿Cómo se organiza el Estado?</h4>
                            <p>Conjunto de normas de la Constitución sobre cómo se organiza el Estado. Tal como en los planos de una sala de máquinas, en los aspectos orgánicos nos encontraremos con las reglas sobre la función, los límites al poder, la posición en la estructura jerárquica y los requisitos para que las personas integren cada una de las piezas del Estado. Estas piezas se conocen como "Órganos", por lo que estas reglas también se conocen como los aspectos orgánicos de la Constitución.</p>
                        </div>
                    </div>
                </div>
            </div>
            <h3>Control Constitucional</h3>
            <p>Sistema que busca garantizar que no haya normas cuyo contenido o aplicación sean incompatibles con la Constitución. Actualmente, la función de Control la ejercen el Tribunal Constitucional, las Cortes de Apelaciones y Suprema, la Contraloría General de la República y el Congreso Nacional.</p>
        </div>

        <div class="col-12 col-md-12 col-lg-8">
            <div class="d-flex align-items-start">
               
                <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <h4>4 contenidos asociados</h4>
                    <button class="nav-link active" id="v-pills-tab-1" data-bs-toggle="pill" data-bs-target="#v-pills-1" type="button" role="tab" aria-controls="v-pills-1" aria-selected="true"> <span>Control abstracto</span></button>
                    <button class="nav-link" id="v-pills-tab-2" data-bs-toggle="pill" data-bs-target="#v-pills-2" type="button" role="tab" aria-controls="v-pills-2" aria-selected="false"><span>Control concreto</span></button>
                    <button class="nav-link" id="v-pills-tab-3" data-bs-toggle="pill" data-bs-target="#v-pills-3" type="button" role="tab" aria-controls="v-pills-3" aria-selected="false"><span>Alcance</span></button>
                    <button class="nav-link" id="v-pills-tab-4" data-bs-toggle="pill" data-bs-target="#v-pills-4" type="button" role="tab" aria-controls="v-pills-4" aria-selected="false"><span>Órganos que lo llevan a cabo</span></button>
                </div>
                
                <div class="tab-content" id="v-pills-tabContent">
                   
                    <div class="tab-pane fade show active" id="v-pills-1" role="tabpanel" aria-labelledby="v-pills-tab-1">
                        <p class="text-bold">¿Cómo se organiza el Estado?</p>
                        <h4>Control abstracto</h4>
                        <p>Evaluación hecha por los órganos de control constitucional de que el texto de una norma de rango legal o inferior es compatible con el texto de la constitución. Es un análisis abstracto, ya que se analiza solamente la compatibilidad de los conceptos, y los tribunales deben preguntarse si es que existe algún caso hipotético en elq ue la ley peuda ser contraria a la Constitución. Aquellas normas que sean consideradas inconstitucionales en los sistemas de conrol abstracto deben salir del sistema jurídico.</p>
                        <!--<hr>
                        <h5>Otros temas asociados</h5>
                        <ul>
                            <li><a href="#" class="btn-lcen button hvr-sweep-to-right">Item</a></li>
                        </ul>-->
                    </div>
                    
                    <div class="tab-pane fade" id="v-pills-2" role="tabpanel" aria-labelledby="v-pills-tab-2">
                        <p class="text-bold">¿Cómo se organiza el Estado?</p>
                        <h4>Control concreto</h4>
                        <p>Evaluación de si la aplicación de una norma legal o inferior en un caso de la vida real es contraria a la constitución. Algunos sistemas (como el de Estados Unidos) solamente permiten el control concreto, y el efecto de la incompatibilidad de una norma no es su eliminación, sino que el caso debe resolverse aplicando el resto de las normas del ordenamiento jurídico, pero esta sigue vigente para el resto de las situaciones hasta que el congreso la reemplace.</p>
                        <!--<hr>
                        <h5>Otros temas asociados</h5>
                        <ul>
                            <li><a href="#" class="btn-lcen button hvr-sweep-to-right">Item</a></li>
                        </ul>-->
                    </div>
                    
                    <div class="tab-pane fade" id="v-pills-3" role="tabpanel" aria-labelledby="v-pills-tab-3">
                        <p class="text-bold">¿Cómo se organiza el Estado?</p>
                        <h4>Alcance</h4>
                        <p>Considerando que el control constitucional requiere la interpretación y aplicación de principios constitucionales cuyo contenido es inminentemente político y moral, se ha discutido si este debe abarcar a la Constitución completa o solamente a aquellas normas que no requieren de una interpretación de parte del órgano de control. Así, en algunos sistemas los tribunales constitucionales pueden controlar el cumplimiento de todos los artículos de la Constitución, mientras que en otros, solamente pueden revisar que se cumplan las reglas de simple aplicación, como la edad requerida para postularse a un cargo público.</p>
                        <!--<hr>
                        <h5>Otros temas asociados</h5>
                        <ul>
                            <li><a href="#" class="btn-lcen button hvr-sweep-to-right">Item</a></li>
                        </ul>-->
                    </div>
                    
                    <div class="tab-pane fade" id="v-pills-4" role="tabpanel" aria-labelledby="v-pills-tab-4">
                        <p class="text-bold">¿Cómo se organiza el Estado?</p>
                        <h4>Órganos que lo llevan a cabo</h4>
                        <p>En Chile, el control constitucional está a cargo de varios órganos. El principal de ellos es el Tribunal Constitucional, pero también tienen funciones de control la Corte Suprema y las Cortes de Apelaciones, la Contraloría General de la República y el mismo congreso, durante la tramitación de los proyectos de ley.</p>
                        <!--<hr>
                        <h5>Otros temas asociados</h5>
                        <ul>
                            <li><a href="#" class="btn-lcen button hvr-sweep-to-right">Item</a></li>
                        </ul>-->
                    </div>
                    
                </div>
            </div>
        </div>
    </div>

</section>


{% endblock %}
