{% extends "base.html" %}
{% load static %}
{% block title %}Debate Constituyente{% endblock %}
{% block content %}

<nav class="navbar navbar-expand-lg fixed-top">
    <div class="container-fluid">
        <div class="container">
            <a class="navbar-brand" href="{% url 'inicio' %}"><img src="{% static 'img/img-lcen-2/logo-lcen.svg' %}" alt="logo-lcen" class="logo-lcen"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="{% url 'quienes-somos' %}">¿Quiénes somos</a>
                    </li>
                    <!-- <li class="nav-item">
                          <a class="nav-link" href="{% url 'iniciativas' %}">Iniciativas</a>
                    </li>
                    <li class="nav-item">
                          <a class="nav-link" href="{% url 'escano52' %}">Escaño52</a>
                    </li>  -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Recursos
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="{% url 'mapa-constitucional' %}">Mapa constitucional</a></li>
                            <li><a class="dropdown-item" href="{% url 'glosario-constitucional' %}">Glosario constitucional</a></li>
                            <li><a class="dropdown-item" href="{% url 'verevaluaciones' %}">Evaluaciones de normas</a></li>
                            <li><a class="dropdown-item" href="{% url 'evaluaciones_int' %}">Evaluación internacional</a></li>
                            <li><a class="dropdown-item" href="{% url 'ver_propuestas' %}">Propuestas ciudadanas</a></li>
                            <li><a class="dropdown-item" href="{% url 'constitucion-feminista' %}">Constitución feminista</a></li>
                            <li><a class="dropdown-item" href="{% url 'ensayos' %}">Ensayos</a></li>
                        </ul>
                    </li>
                    <!-- <li class="nav-item">
                        <a class="nav-link" href="{% url 'preguntas-frecuentes' %}">Preguntas Frecuentes</a>
                    </li> -->
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'contacto' %}">Contacto</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>


<section class="portada-lcen-colores">
    <img src="{% static 'img/header-debateconstituyente.jpg' %}" alt="img collage portada" class="img-fluid img-banner-desktop">
    <img src="{% static 'img/header-debateconstituyente-movil.jpg' %}" alt="img collage portada" class="img-fluid img-banner-movil">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'inicio' %}">Inicio</a></li>
            <li class="breadcrumb-item active" aria-current="page">Debate Constituyente</li>
        </ol>
    </nav>
</section>

<section class="container debate-constituyente seccion-info">
    <div class="row d-flex align-items-center">
        <div class="col-12 col-sm-12 col-md-6 wow animate__animated animate__fadeIn">
            <h2>Debate Constituyente</h2>
            <p>La Convención Constitucional ya está discutiendo qué normas y artículos quedarán en la nueva Constitución de Chile ¿Sabes cómo avanza este proceso? Puede ser un poco complicado, pero no te preocupes porque aquí te entregamos todas las herramientas para comprender el proceso de votación de normas.</p>
            <p><b>¡Sigue el mapa!</b></p>
        </div>
        <div class="col-12 col-sm-12 col-md-6 wow animate__animated animate__fadeIn animate__delay-1s">
            <img src="{% static 'img/collage-debate-constituyente.png' %}" alt="collage debate constituyente" width="100%">
        </div>
    </div>
</section>

<section class="infografia-debate wow animate__animated animate__fadeIn">
  <img src="{% static 'img/infografia-debate-constituyente.jpeg' %}" alt="" class="w-100 infografia-desktop-ipn">
</section>

<section class="glosario-cta seccion-info container-fluid">
  <div class="container">
    <div class="row justify-content-md-center">
        <div class="col-12 col-sm-12 col-md-5 col-lg-4 wow animate__animated animate__fadeIn">
            <img src="{% static 'img/collage-glosario-img.png' %}" alt="collage" width="100%">
        </div>
        <div class="col-12 col-sm-12 col-md-7 col-lg-8 wow animate__animated animate__fadeIn btn-cronograma align-self-center">
            <p>Te quedaron dudas con algunos conceptos?</p>
            <h3>Busca en el Glosario Constitucional</h3>
            <div class="btn-glosario">
                 <a href="{% url 'glosario-constitucional' %}" class="btn-lcen button hvr-sweep-to-right boton-manual-convencion">Revisa el glosario aquí</a>
           </div>
        </div>
    </div>
  </div>
</section>

<section class="cronograma-cta seccion-info container-fluid">
  <div class="container">
    <div class="row justify-content-md-center">
        <div class="col-12 col-sm-12 col-md-12 col-lg-10 wow animate__animated animate__fadeIn">
            <img src="{% static 'img/cronograma-titulo-cta.png' %}" alt="titulo cronograma" width="100%">
        </div>
        <div class="col-12 col-sm-12 col-md-12 wow animate__animated animate__fadeIn btn-cronograma">
            <a href="{% url 'cronograma-constitucional' %}" class="btn-lcen button hvr-sweep-to-right boton-manual-convencion">Revisa el cronograma aquí</a>
        </div>
    </div>
  </div>
</section>

{% endblock %}
