{% extends "base.html" %}
{% load static %}
{% block title %} Constitución Feminista {% endblock %}
{% block content %}

<nav class="navbar navbar-expand-lg fixed-top">
    <div class="container-fluid">
        <div class="container">
            <a class="navbar-brand" href="{% url 'inicio' %}"><img src="{% static 'img/img-lcen-2/logo-lcen.svg' %}" alt="logo-lcen" class="logo-lcen"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="{% url 'quienes-somos' %}">¿Quiénes somos</a>
                    </li>
                    <!-- <li class="nav-item">
                          <a class="nav-link" href="{% url 'iniciativas' %}">Iniciativas</a>
                    </li>
                    <li class="nav-item">
                          <a class="nav-link" href="{% url 'escano52' %}">Escaño52</a>
                    </li>  -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Recursos
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="{% url 'mapa-constitucional' %}">Mapa constitucional</a></li>
                            <li><a class="dropdown-item" href="{% url 'glosario-constitucional' %}">Glosario constitucional</a></li>
                            <li><a class="dropdown-item" href="{% url 'constitucion-feminista' %}">Constitución feminista</a></li>
                            <li><a class="dropdown-item" href="{% url 'ensayos' %}">Ensayos</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Proceso 2022/23
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="{% url 'verevaluaciones' %}">Evaluaciones de normas</a></li>
                            <li><a class="dropdown-item" href="{% url 'evaluaciones_int' %}">Evaluación internacional</a></li>
                            <li><a class="dropdown-item" href="{% url 'ver_propuestas' %}">Propuestas ciudadanas</a></li>
                        </ul>
                    </li>
                    <!-- <li class="nav-item">
                        <a class="nav-link" href="{% url 'preguntas-frecuentes' %}">Preguntas Frecuentes</a>
                    </li> -->
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'contacto' %}">Contacto</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>

<section class="portada-lcen-colores mb-3">
    <img src="{% static 'img/portadas/constitucion-feminista-portada.png' %}" alt="img portada desktop" class="img-fluid img-banner-desktop">
    <img src="{% static 'img/portadas/constitucion-feminista-portada-movil.png' %}" alt="img portada movil" class="img-fluid img-banner-movil">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'inicio' %}">Inicio</a></li>
          <li class="breadcrumb-item"><a href="{% url 'constitucion-feminista' %}">Constitución Feminista</a></li>
          <li class="breadcrumb-item active" aria-current="page">Derecho al trabajo remunerado</li>
        </ol>
    </nav>
</section>


<section class="container-fluid constitucionfeminista-descripcion  no-bg py-5">
    <div class="container py-5 ensayos-descripcion reflexion">
        <div class="row d-flex justify-content-md-center">
            <div class="col-12 col-sm-12 col-md-9 wow animate__animated animate__fadeIn">
                <h2>Derecho al trabajo remunerado</h2>
                <h3>Reflexiones de Paula Poblete Maureira, Comunidad Mujer</h3>

                <div class="decoracion violeta"></div>

                <p><b><i><span>En Chile hemos normalizado una serie de injusticias.</span></i></b> No nos sorprende que alguien que vive en el norte o en el sur del país tenga menos oportunidades (de todo tipo) que alguien que vive en la capital; no nos parece insólito que por el hecho de tener dinero alguien pueda acceder a servicios de salud y educación de buena calidad y que ocurra lo contrario cuando el dinero escasea; no nos resulta fuera de toda lógica que una comunidad se quede sin agua porque un proyecto empresarial compró todos los derechos de aprovechamiento y la acapara con el fin de asegurar su negocio. <b><i><span>De igual modo, hemos normalizado que sean las mujeres las que tienen que hacer malabares para conciliar la vida familiar y laboral o que, si no lo consiguen, simplemente no se inserten en el mercado laboral.</span></i></b></p>

                <p>Nos parece casi natural que sean ellas las principales responsables de cuidar a quienes tienen algún nivel de dependencia, niñas, niños, personas adultas mayores, enfermas y/o discapacitadas y que, por lo tanto, sus posibilidades de desarrollarse en el espacio laboral o de lograr la autonomía económica, estén supeditadas a no tener este tipo de responsabilidades o a conseguir delegarlas (generalmente en otra mujer).</p>

                <p>Sin embargo, <b><i><span>el que ellas estén asociadas a la responsabilidad del cuidado es una construcción social</span></i></b>, no es algo inherente, determinado por la biología o la naturaleza. Su sexo no define que tengan una mayor habilidad para el cuidado. Como tantas otras, la adquieren en el proceso de socialización, la aprenden porque se les enseña. Es la sociedad —cada una en su contexto, variable según el momento y el lugar— la que ha ido definiendo qué es lo permitido para las mujeres, lo deseable y lo valorable en ellas. Y de modo análogo con los hombres.</p>

                <p><b><i><span>Estos procesos culturales se han visto reforzados por la institucionalidad, las leyes y los diversos programas públicos.</span></i></b> Por ejemplo, en el Código del Trabajo chileno, las responsables de la familia son las mujeres. Las únicas titulares de los diferentes derechos a cuidar son las madres trabajadoras: del pre y posnatal, posnatal parental, fuero maternal, derecho de alimentación, sala cuna y licencia por enfermedad grave del niño/a menor de un año. En Chile, los padres trabajadores no tienen derecho a cuidar (ni el deber). Sólo si la madre renuncia a su derecho y se lo traspasa al padre, él puede ejercerlo, pero no en todos los casos, sólo en el posnatal parental, el derecho de alimentación y la licencia por enfermedad grave del niño/a menor de un año.</p>

                <p><b><i><span>Este tipo de normativas no sólo refuerza los roles estereotipados entre hombres y mujeres, sino que establece costos de contratación distintos.</span></i></b> Así, las mujeres son comparativamente más caras que los hombres y eso se traduce en barreras para obtener un trabajo remunerado o se expresa en menores salarios. Esto es injusto y debe cambiar.</p>

                <p>El proceso constituyente precisamente es fruto del cuestionamiento que hicimos sobre nuestra normalidad. Hubo desigualdades que se nos hicieron intolerables. Así, la deliberación colectiva y, en definitiva, la nueva Constitución, como la más evidente materialización de un nuevo pacto social, ofrecen una tremenda oportunidad para mejorar las experiencias de vida de las mujeres en relación con el trabajo remunerado. Por diversas vías se puede avanzar para que las mujeres tengan el mismo derecho que los hombres a este trabajo, es decir, en igualdad de condiciones y que las responsabilidades sobre el cuidado no se transformen en una desventaja para ellas. Son múltiples los compromisos nacionales e internacionales que Chile ha asumido en esta materia y que es urgente hacerlos realidad.</p>

                <p>Si se logra <span class="destacado-reflexion">consagrar como principios rectores de una sociedad justa e igualitaria aquel que establece la igualdad sustantiva y la no discriminación por razones de sexo (entre otras) y el de la corresponsabilidad social de los cuidados</span>, se estará allanado el camino para instaurar el derecho al trabajo remunerado y a la igualdad salarial entre hombres y mujeres.</p>

                <p><b><i><span>Bajo el marco de una Constitución de este tipo, será posible impulsar medidas afirmativas que se traduzcan en resultados concretos.</span></i></b> Este es el caso de las políticas que favorecen la corresponsabilidad de los cuidados entre mujeres y hombres, como la sala cuna universal, el postnatal parental de uso exclusivo para padres y la ampliación de la cobertura del Subsistema Nacional de Apoyos y Cuidados, que contribuyen a equiparar las oportunidades de acceso al mercado laboral y a reducir las fuentes de la brecha salarial de género.</p>

                <p><span class="destacado-reflexion">Si en la nueva Constitución se logra consagrar el derecho al trabajo remunerado en igualdad de condiciones para hombres y mujeres, se habilitaría el avance en legislaciones que pudieran garantizarlo.</span> Por ejemplo, el establecimiento de la obligatoriedad de la suscripción de la Norma Chilena (NCh) 3262 (2012) de igualdad de género y conciliación de la vida laboral, familiar y personal, para las empresas del Estado, las grandes empresas y aquellas proveedoras del Estado. Así, se masificaría la implementación del Sistema de Gestión de Igualdad de Género y Conciliación (SIGIGC) de la vida laboral, familiar y personal de responsabilidad compartida al interior de las organizaciones.</p>

                <p>Asimismo, se posibilitaría el establecimiento de mecanismos de fiscalización efectivos para resguardar el derecho a la igualdad en las remuneraciones entre mujeres y hombres (Ley 20.348) en todas las empresas, independientemente de su tamaño, penalizando su incumplimiento con la inmediata rectificación de salarios y fortaleciendo las instancias de denuncia.</p>

                <p>Para reducir la segregación ocupacional vertical, es decir, la ausencia de mujeres en los altos cargos, la instauración de este derecho haría posible establecer la obligatoriedad práctica de la Norma de Carácter General (NCG) 385 sobre gobierno corporativo, responsabilidad social y desarrollo sostenible de la Comisión para el Mercado Financiero (CMF) para el sector privado, las empresas con participación del Estado y las empresas públicas, de tal manera que se viabilice la diversidad de género en la composición de los directorios y en los niveles gerenciales de las organizaciones (ComunidadMujer, 2015 y 2017).</p>

                <p><b><i><span>El trabajo es una moneda de dos caras. En una está el remunerado y, en la otra, el no remunerado. Ambos no pueden comprenderse por separado.</span></i></b> Las facilidades que tienen los hombres para desenvolverse en el espacio remunerado están relacionadas directamente con que se desentienden de sus responsabilidades en el ámbito doméstico. Por el contrario, las dificultades que muchas mujeres experimentan para desarrollarse en el mercado laboral tienen que ver en gran medida con las ataduras derivadas del trabajo no remunerado.</p>

                <p><span class="destacado-reflexion">Es crucial materializar la corresponsabilidad entre el Estado, la sociedad y las comunidades locales para desfamiliarizar el rol de los cuidados y, así lograr desfeminizarlos.</span> Solo así avanzaremos en que el derecho al trabajo remunerado de hombres y mujeres en igualdad de condiciones sea una realidad.</p>


                <h5 class="mt-5 mb-4"><strong>Propuestas</strong></h5>

                <p>Una Constitución para las nuevas generaciones de Chile, que sea verdaderamente inclusiva, democrática, legítima y sostenible, sólo será posible si integra las voces de aquellos grupos sociales históricamente excluidos y vulnerados, como es el caso de las mujeres.</p>

                <p>En este proceso inédito, que el órgano constituyente sea una Convención Constitucional paritaria en términos de sexos, elegida democráticamente, representa una oportunidad histórica para incorporar las demandas por la igualdad de género en todos los ámbitos de la vida.</p>

                <p><span class="destacado-reflexion">Para ello, es necesario que la Carta Fundamental sea escrita con lenguaje inclusivo y que transversalmente tenga perspectiva de género, considerando las múltiples interseccionalidades que afectan a las personas, como la etnia, el estrato socioeconómico, la localización geográfica, la orientación sexual, entre otras.</span></p>

                <p>El presente documento propone una nueva Constitución para Chile que incluya un conjunto mínimo de principios, derechos y deberes que permitan orientar a la sociedad hacia el logro de la igualdad de género real. A través de un ejercicio comparativo entre Constituciones del mundo, espera contribuir a la discusión sobre la formulación más adecuada para cada uno de ellos.</p>

                <p><span class="destacado-reflexion">Como principios rectores, ComunidadMujer recomienda establecer el principio de igualdad sustantiva y no discriminación y el principio de corresponsabilidad social de los cuidados. Entre los derechos fundamentales de las mujeres, sugiere integrar el derecho a la igualdad sustantiva y a la no discriminación; el derecho a una vida libre de violencia; el derecho al trabajo remunerado y a la igualdad salarial; y el derecho a una educación no sexista. Finalmente, insta al Estado a reconocer el trabajo de cuidados no remunerado como actividad productiva y a garantizar la participación paritaria de mujeres y hombres en la vida política, contemplando la necesidad de introducir normas de equidad de género en la composición de sus órganos.</span></p>

                <h6 class="mt-5"><a href="https://www.comunidadmujer.cl/biblioteca-publicaciones/wp-content/uploads/2021/04/Una-Constituci%C3%B3n-para-la-Igualdad-2021.pdf" target="_blank">Revisa el documento de propuestas aquí</a></h6>

            </div>

            <div class="col-12 col-sm-12 col-md-9 wow animate__animated animate__fadeIn">
                <div class="logo-autor">
                    <img src="{% static 'img//logos-reflexiones/logo-comunidad-mujer.jpg' %}" alt="logo autor">
                </div>
            </div>

        </div>
    </div>
</section>

{% endblock %}
