{% extends "base.html" %} {% load static %} {% block title %} Inicio {% endblock %} {% block content %}

<section class="portada-lcen-colores">
    <img src="{% static 'img/mapa-contitucional-banner.png' %}" alt="img collage portada" class="img-fluid img-banner-desktop">
    <img src="{% static 'img/mapa-constitucional-movil-banner.png' %}" alt="img collage portada" class="img-fluid img-banner-movil">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'inicio' %}">Inicio</a></li>
            <li class="breadcrumb-item"><a href="{% url 'mapa-constitucional' %}">Mapa Constitucional</a></li>
            <li class="breadcrumb-item active" aria-current="page">Educación</li>
        </ol>
    </nav>
</section>

<section class="container mapa-constitucional-terminos">
    <div class="row">
        <div class="col-12 col-md-12 col-lg-4">
            <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'mapa-constitucional' %}">Temas</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Educación</li>
                </ol>
            </nav>

            <!-- Button trigger modal -->
            <button type="button" class="btn-concepto-modal" data-bs-toggle="modal" data-bs-target="#exampleModal">Derechos humanos y fundamentales</button>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Derechos humanos y fundamentales</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <p>Los derechos humanos o fundamentales son los derechos que tenemos básicamente por existir como seres humanos. Pertenecen a todas las personas, con independencia de la nacionalidad, género, origen étnico, color, religión, idioma o cualquier otra condición.</p>
                            <h4>¿Qué son los derechos económicos, sociales, culturales y ambientales?</h4>
                            <p>Los Derechos Económicos Sociales, Culturales y Ambientales (DESCA) son los derechos humanos que garantizan condiciones sociales y económicas básicas necesarias para una vida en dignidad y libertad.</p>
                            <h4>¿Cómo avanzar hacia la igualdad y la no disciminación?</h4>
                            <p>Las desigualdades amenazan el desarrollo social y económico a largo plazo, dificultan la reducción de la pobreza y destruyen el sentimiento de plenitud y valía de las personas. Es por eso debe avanzarse hacia formas de igualdad sustantiva entre todas las personas.</p>
                            <p>Fuente: <a href="https://www.ohchr.org/sp/issues/pages/whatarehumanrights.aspx" target="_blank" class="enlaces">ohchr.org</a>, <a href="https://www.escr-net.org/es/derechos" target="_blank" class="enlaces">escr-net.org</a> y <a href="https://www.es.amnesty.org/en-que-estamos/blog/historia/articulo/derechos-civiles-derechos-politicos/" target="_blank" class="enlaces">es.amnesty.org</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <h3>Educación</h3>
            <p>La educación es un derecho que pertenece al ámbito de la autonomía de la persona, y como tal es el principal medio que permite a las personas salir de la pobreza y participar plenamente en sus comunidades. La educación debe orientarse al desarrollo del sentido de la dignidad de la personalidad humana y debe capacitar a todas las personas para participar efectivamente en una sociedad libre. Además, debe favorecer la comprensión entre todos los grupos.</p>
            <p>Fuente: <b>Comité DESC (1999) Observación General Nº 13. El derecho a la educación.</b></p>
        </div>

        <div class="col-12 col-md-12 col-lg-8">
            <div class="d-flex align-items-start">

                <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <h4>4 contenidos asociados</h4>
                    <button class="nav-link active" id="v-pills-tab-1" data-bs-toggle="pill" data-bs-target="#v-pills-1" type="button" role="tab" aria-controls="v-pills-1" aria-selected="true"><span>Niveles educativos</span></button>
                    <button class="nav-link" id="v-pills-tab-2" data-bs-toggle="pill" data-bs-target="#v-pills-2" type="button" role="tab" aria-controls="v-pills-2" aria-selected="false"><span>Disponibilidad de la educación</span></button>
                    <button class="nav-link" id="v-pills-tab-3" data-bs-toggle="pill" data-bs-target="#v-pills-3" type="button" role="tab" aria-controls="v-pills-3" aria-selected="false"><span>Accesibilidad de la educación</span></button>
                    <button class="nav-link" id="v-pills-tab-4" data-bs-toggle="pill" data-bs-target="#v-pills-4" type="button" role="tab" aria-controls="v-pills-4" aria-selected="false"><span>Aceptabilidad de la educación</span></button>
                   
                </div>

                <div class="tab-content" id="v-pills-tabContent">

                    <div class="tab-pane fade show active" id="v-pills-1" role="tabpanel" aria-labelledby="v-pills-tab-1">
                        <p class="text-bold">¿Qué son los derechos económicos, sociales, culturales y ambientales?</p>
                        <h4>Niveles educativos</h4>
                        <p>Existen distintos niveles educativos que el derecho a la educación debe garantizar. La enseñanza primaria se considera como el principal sistema para impartir la educación básica fuera de la familia. La enseñanza secundaria concluye la educación básica y consolida los fundamentos del desarrollo humano y del aprendizaje a lo largo de toda la vida. La enseñanza técnica y profesional permite conseguir un desarrollo económico, social y cultural constante y la ocupación plena y productiva. La enseñanza superior incluye programas de estudios o formación para la investigación posteriores a la enseñanza secundaria. Y la educación fundamental es el conjunto de necesidades básicas de aprendizaje que deben garantizarse con independencia del nivel de escolaridad, constituyendo un componente integral de la educación de adultos y la educación permanente.</p>
                        <p>Fuente: <b>Comité DESC (1999) Observación General Nº 13. El derecho a la educación.</b></p>
                        <!--<hr>
                        <h5>Otros temas asociados</h5>
                        <ul>
                            <li><a href="#" class="btn-lcen button hvr-sweep-to-right">Item</a></li>
                        </ul>-->
                    </div>

                    <div class="tab-pane fade" id="v-pills-2" role="tabpanel" aria-labelledby="v-pills-tab-2">
                        <p class="text-bold">¿Qué son los derechos económicos, sociales, culturales y ambientales?</p>
                        <h4>Disponibilidad de la educación</h4>
                        <p>Significa que los Estados deben garantizar que hayan instituciones y programas de enseñanza en cantidad suficiente para atender las necesidades de las personas. Esto conlleva a su vez, que dichas instituciones tengan las condiciones físicas, técnicas y tecnológicas necesarias para su operación.</p>
                        <p>Fuente: <b>Comité DESC (1999) Observación General Nº 13. El derecho a la educación.</b></p>
                        <!--<hr>
                        <h5>Otros temas asociados</h5>
                        <ul>
                            <li><a href="#" class="btn-lcen button hvr-sweep-to-right">Item</a></li>
                        </ul>-->
                    </div>

                    <div class="tab-pane fade" id="v-pills-3" role="tabpanel" aria-labelledby="v-pills-tab-3">
                        <p class="text-bold">¿Qué son los derechos económicos, sociales, culturales y ambientales?</p>
                        <h4>Accesibilidad de la educación</h4>
                        <p>Implica que las instituciones y programas disponibles deben ser accesibles a todas las personas en tres dimensiones: que la educación llegue a todas las personas, sin discriminación; que la educación sea materialmente accesible, ya sea a través de medios de cobertura territorial o a través de medios tecnológicos adecuados; y que que la educación debe estar al alcance económico de todos. Esto no significa que toda educación deba ser gratuita de manera inmediata, sino que también se haga de manera gradual.</p>
                        <p>Fuente: <b>Comité DESC (1999) Observación General Nº 13. El derecho a la educación.</b></p>
                        <!--<hr>
                        <h5>Otros temas asociados</h5>
                        <ul>
                            <li><a href="#" class="btn-lcen button hvr-sweep-to-right">Item</a></li>
                        </ul>-->
                    </div>
                    
                    <div class="tab-pane fade" id="v-pills-4" role="tabpanel" aria-labelledby="v-pills-tab-4">
                        <p class="text-bold">¿Qué son los derechos económicos, sociales, culturales y ambientales?</p>
                        <h4>Aceptabilidad de la educación</h4>
                        <p>Este requisito se relaciona con la forma y fondo de la educación en relación con sus objetivos. Para que la educación sea aceptable, los medios y contenidos utilizados deben ser pertinentes, adecuados culturalmente y de buena calidad para los estudiantes y sus familias.</p>
                        <p>Fuente: <b>Comité DESC (1999) Observación General Nº 13. El derecho a la educación.</b></p>
                        <!--<hr>
                        <h5>Otros temas asociados</h5>
                        <ul>
                            <li><a href="#" class="btn-lcen button hvr-sweep-to-right">Item</a></li>
                        </ul>-->
                    </div>
                
                </div>
            </div>
        </div>
    </div>

</section>


{% endblock %}
