{% extends "base.html" %} {% load static %} {% block title %} Inicio {% endblock %} {% block content %}

<section class="portada-lcen-colores">
    <img src="{% static 'img/header-constitucionfeminista.png' %}" alt="img collage portada" class="img-fluid img-banner-desktop">
    <img src="{% static 'img/header-constitucionfeminista-movil.png' %}" alt="img collage portada" class="img-fluid img-banner-movil">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'inicio' %}">Inicio</a></li>
            <li class="breadcrumb-item"><a href="{% url 'constitucion-feminista' %}">Constitución Feminista</a></li>
            <li class="breadcrumb-item active" aria-current="page">El rol de las mujeres y niñas en la gestión hídrica</li>
        </ol>
    </nav>
</section>


<section class="container-fluid constitucionfeminista-descripcion  no-bg py-5">
    <div class="container py-5 ensayos-descripcion reflexion">
        <div class="row d-flex justify-content-md-center">
            <div class="col-12 col-sm-12 col-md-9 wow animate__animated animate__fadeIn">
                <h2>El rol de las mujeres y niñas en la gestión hídrica</h2>
                <h3>Reflexiones de Victoria Cruz Amigo y Eloisa Parra Marin, Fundación Newenko</h3>

                <div class="decoracion violeta"></div>

                <h5><strong>Introducción</strong></h5>

                <p>Hemos sido testigos de cómo el cambio climático ha sido un agente principal en las sequías a nivel mundial, pero éste no ha sido el único factor decisivo en la crisis hídrica, puesto que también inciden una acelerada urbanización, el creciente desarrollo económico y la desigualdad, entre otras causas.<sup>1</sup></p>

                <p>De los factores mencionados anteriormente, la desigualdad se posiciona en un rol fundamental que evidencia las problemáticas del acceso al agua y saneamiento, y que afecta especialmente a las comunidades rurales, a sectores socioeconómicos vulnerables e incrementa las brechas de género.<b><i><span> La problemática en torno a la disponibilidad de los recursos hídricos se acentúa en mujeres y niñas en situación de pobreza, que se ven expuestas a las desigualdades de acceso, saneamiento e higiene<sup>2</sup>. En consecuencia “las normas, costumbres y prácticas de género no permiten a las mujeres participar, contribuir ni beneficiarse de la gestión de los recursos hídricos”<sup>3</sup>.</span></i></b></p>

                <h5 class="mt-5 mb-4"><strong>Rol de las mujeres y niñas en la gestión hídrica: su relación con los DESCA</strong></h5>

                <p><b><i><span>Las mujeres y niñas han sido actrices principales en la gestión del agua dentro de sus hogares y comunidades, ejerciendo y soportando la carga de las tareas domésticas y de cuidado que se vinculan con el agua, posicionándolas en una situación de vulnerabilidad desde una perspectiva de género.</span></i></b></p>

                <p>Así “en el Segundo Foro Mundial del Agua celebrado en La Haya (2000) se reconoció que las mujeres, además de ser los usuarios principales del “agua doméstica”, utilizaban el agua en su papel fundamental de producción de alimentos”.</p>

                <p>Lo anterior, se relaciona con el Objetivo de Desarrollo Sostenible (ODS) propuesto por la Organización de Naciones Unidas, correspondientes al número 3 “salud y bienestar” y a la desigualdad hídrica, puesto que el PNUD indicó que, “más de 1,6 mil millones de personas viven en ambientes frágiles donde las crisis prolongadas, combinadas con servicios sanitarios precarios, presentan un desafío significativo para la salud global”. Esto implica que las mujeres y niñas que se desarrollan en este entorno, además tienen la carga de gestionar el agua.</p>

                <p><b><i><span>Este el rol histórico asignados a las mujeres respecto de la gestión hídrica en sus hogares, implica una afectación y menoscabo a los DESCA, toda vez que constituye un impedimento para que las mujeres puedan desarrollarse de forma plena y ejercer sus derechos, tales como el acceso a la educación, a la salud, a la seguridad social y al alimento; y, principalmente, a la participación en las organizaciones relacionadas con la gestión hídrica.</span></i></b></p>

                <h5 class="mt-5 mb-4"><strong>Participación de las mujeres en la gestión de aguas</strong></h5>

                <p>En efecto, <b><i><span>son muchos los espacios en los que las mujeres y niñas cumplen con el rol de gestión de las aguas, pero se debe tener cuidado al analizar estos hechos, pues, si bien existe una gestión, esta se enmarca fuera de una participación e incidencia en la toma de decisiones en torno a las aguas.</span></i></b></p>

                <p>Un ejemplo internacional de esto, es el estudio realizado en Zimbabwe donde se reconocía en la comunidad que las mujeres debían tener un rol más importante en la ordenación de los recursos hídricos, integrando así los comités que se encargaban de los pozos, pero a pesar de esto, aquellas mujeres que eran pobres, son las que menos probabilidades tenían de ser elegidas en los cargos de los comités de pozos o de desarrollo de sus propias aldeas. Siendo las mujeres las que menos probabilidades tienen de participar en las decisiones colectivas con incidencia en la gestión hídrica (Cleaver, F., 1998, p. 5).</p>

                <p>Por otro lado, en Chile, podemos hablar de una participación ambiental ciudadana, que según el Ministerio del Medio Ambiente es “el involucramiento activo de la ciudadanía en los procesos de toma de decisiones públicas que tienen repercusión en sus vidas, son las formas específicas en que las personas, las organizaciones sociales y movimientos pueden ser parte e incidir en los procesos de gestión pública vinculados al medio ambiente”.</p>

                <p>Cuestión que también es reconocida internacionalmente en el Principio 10 de la Declaración de Río de Janeiro, reconociendo la triple dimensionalidad del derecho de participación: 1. Participación ciudadana, 2. Acceso a la información y 3. Acceso a la justicia.</p>

                <p>Sin embargo, el problema surge al preguntarnos si en materia de aguas es posible hablar de una participación ambiental ciudadana en los mismos términos, pero en el sistema actual de derecho de aguas, la participación no es el foco principal de la normativa de nuestro país. Por tanto, no existe contenido expreso de la participación ambiental en relación a las aguas.</p>

                <p>El Código de Aguas no regula en ninguna de sus disposiciones mecanismos de participación ciudadana para la gestión de recursos hídricos de manera directa, no existen en este sentido consultas o audiencias públicas, representación en consejos y comités, etc.</p>

                <p>Existen disposiciones que sí consideran ejes participativos, pero estos espacios participativos se limitan a quiénes son dueños de un Derecho de Aprovechamiento de Aguas (DAA) o a quiénes les interesa constituir un DAA.</p>

                <p>Entonces, si la participación e incidencia en la toma de decisiones de la gestión hídrica se encuentra limitada a quienes son titulares de DAA, o son parte de las directivas de las APR y OUAS, <b><i><span>la pregunta se encamina a cuál es el porcentaje de mujeres representantes en estos espacios.</span></i></b></p>

                <p>Ante esto encontramos las siguientes cifras: </p>
                <ul>
                    <li><b>1</b> Respecto a la totalidad de cargos en las Organizaciones de Usuarios de Aguas en Chile, un 84,95% de sus cargos corresponden a integrantes varones, <b><i><span>sólo un 12,41% de sus miembros son mujeres</span></i></b> y el resto 2,64% corresponde a entidades jurídicas. </li>
                    <li><b>2</b> Sobre la totalidad de cargos en APR, se observa que un 56,66% de sus miembros son hombres y el <b><i><span>43,34% son mujeres<sup>4</sup>.</span></i></b></li>
                </ul>


                <p>Además, cabe mencionar que <b><i><span>los cargos ocupados por mujeres tienen un principal desarrollo en labores de secretariado o gestión administrativa</span></i></b>, entre otros.</p>


                <p>Por tanto, es una tarea fundamental dar la debida consideración a los datos de las posiciones, pues queda demostrado que <b><i><span>la falta de validación estadística de la importancia del género como categoría clave de diferencia para el acceso al agua y la experiencia es un resultado importante”</span></i></b>. (Harris et al., 2017, p. 572).</p>

                <p>El Segundo foro de la Haya concluyó que “la participación de la mujer mejoraría el sistema de gestión. Como las mujeres soportan la parte principal de la carga de la mala gestión, se las podría potenciar con una participación mayor y más eficaz”<sup>5</sup>, y esta es justamente una problemática evidenciada en el ODS número 5, correspondiente a la “igualdad de género”. Así, una de las metas de este objetivo consiste en “Asegurar la participación plena y efectiva de las mujeres y la igualdad de oportunidades de liderazgo a todos los niveles decisorios en la vida política, económica y pública” (PNUD).</p>

                <p><b><i><span>Existen estudios que destacan el efecto positivo que se consigue en los proyectos cuando se adoptan planteamientos basados en la participación y que tengan en cuenta las cuestiones de género.</span></i></b> Es más probable que las instalaciones sean técnicamente apropiadas, estén convenientemente situadas y se utilicen y mantengan de forma adecuada cuando se consulta tanto a las mujeres como a los hombres<sup>6</sup>.</p>

                <h5 class="mt-5 mb-4"><strong>Conclusiones </strong></h5>

                <p>Por esta razón, <span class="destacado-reflexion">es necesario ampliar la participación ciudadana en temas hídricos a todas las personas, pero particularmente a las mujeres, por ser quienes históricamente han tenido la carga de gestionar el agua en sus hogares, al margen del sistema de derecho de aguas de nuestro país.</span></p>

                <p>Es una tarea pendiente, tanto para la sociedad como para la institucionalidad, actualizar la normativa existente, otorgando, en primer lugar, un reconocimiento a la participación ciudadana en relación a las aguas, no alejada, de la participación ambiental, sino más bien, de forma armónica. En segundo lugar, debe acompañarse de una especial consideración a la participación de las mujeres, e inclusive, de las niñas e infancias, tomando en cuenta el rol que desempeñan día a día, en todos los espacios de la gestión hídrica. Finalmente, entregar una protección a esta participación, de manera vinculante e informada, que sea capaz de asegurar una incidencia en materia hídrica.</p>

                <p>Existen muchas más aristas necesarias, que deben ser incluidas en las materias de participación y gestión del agua, en relación a la perspectiva de género, pero las discusiones que se cuestionan estos temas constituyen un primer avance hacia una gestión hídrica participativa, vinculante y equitativa.</p>


                <br>
                <hr>
                <br>

                <h5>Referencias:</h5>
                <p class="ref-cf"><sup>1</sup> ONU (2020), p. 9.</p>
                <p class="ref-cf"><sup>2</sup> Id., p. 41.</p>
                <p class="ref-cf"><sup>3</sup> UNESCO. 21 de septiembre de 2021 <a href="http://www.unesco.org/new/es/natural-sciences/environment/water/wwap/water-and-gender/" target="_blank">http://www.unesco.org/new/es/natural-sciences/environment/water/wwap/water-and-gender/.</a></p>
                <p class="ref-cf"><sup>4</sup> Estudio inédito Fundación Newenko.</p>
                <p class="ref-cf"><sup>5</sup> ONU (2005), p. 3.</p>
                <p class="ref-cf"><sup>6</sup> Id., p. 4.</p>


                <br>
                <hr>
                <br>

                <h5>Bibliografía</h5>
                <p class="ref-cf">Cleaver, Frances. (1998): Incentives and informal institutions: gender and the management of water [Incentivos e instituciones informales: género y gestión del agua]. Agriculture and Human Values, vol. 15, No. 4, pp. 347-360.</p>

                <p class="ref-cf">Estudio a publicar Fundación Newenko (2021)</p>

                <p class="ref-cf">Harris, L; Kleiber, D; Goldin, J; Darkwah, A y Morinville, C. (2017) Intersections of gender and water: comparative approaches to everyday gendered negotiations of water access in underserved areas of Accra, Ghana and Cape Town, South Africa [Perspectiva de género y agua: enfoques comparativos de las negociaciones cotidianas de género sobre el acceso al agua en áreas desatendidas de Accra, Ghana y Ciudad del Cabo, Sudáfrica]. Journal of Gender Studies, VOL. 26, NO. 5, pp. 561–582.</p>

                <p class="ref-cf">Organización de las Naciones Unidas (2005): La Mujer en el 2000 y después. La mujer, la nacionalidad y la ciudadanía. División para el Adelanto de la Mujer, Departamento de Asuntos Económicos y Sociales.</p>

                <p class="ref-cf">UNESCO, ONU-Agua, 2020: Informe Mundial de las Naciones Unidas sobre el Desarrollo de los Recursos Hídricos 2020: Agua y Cambio Climático, París, UNESCO.</p>

                <p class="ref-cf mb-5">UNESCO: Programa Mundial de Evaluación de los Recursos Hídricos o WWAP. Disponible en: http://www.unesco.org/new/es/natural-sciences/environment/water/wwap/water-and-gender/.</p>

            </div>

           <!-- <div class="col-12 col-sm-12 col-md-9 wow animate__animated animate__fadeIn">
                <div class="logo-autor">
                    <img src="{% static 'img//logos-reflexiones/logo-opcion.jpg' %}" alt="logo autor">
                </div>
            </div> -->

        </div>
    </div>
</section>

{% endblock %}
