{% extends "base.html" %}
{% load static %}
{% block title %}Página de pruebas statics, archivos, etc{% endblock %}

{% block content %}

<section class="container-fluid" id="que-es">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-5 col-lg-5 col-xl-5 col-xxl-5">
                <h2>Pruebas</h2>
                <img src="{% static 'img/tenor.gif' %}" alt="isotipo" class="img-fluid">
            </div>
            <div class="col-12 col-sm-12 col-md-7 col-lg-7 col-xl-7 col-xxl-7">
                <p>
                  Esta página es sólo un prueba para ver si los statics y otras cosas del sistema andan bien y cargan cuando deben y no cuando se les ocurre. Siempre con respeto.
                </p>

            </div>
        </div>
    </div>
</section>

{% endblock %}
