{% extends "base.html" %}
{% load static %}
{% block title %} Ensayos {% endblock %}
{% block content %}

<section class="portada-lcen-colores">
    <img src="{% static 'img/banner-portada-ensayos.png' %}" alt="img collage portada" class="img-fluid img-banner-desktop">
    <img src="{% static 'img/banner-portada-ensayos-movil.png' %}" alt="img collage portada" class="img-fluid img-banner-movil">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'inicio' %}">Inicio</a></li>
            <li class="breadcrumb-item"><a href="{% url 'ensayos' %}">Ensayos</a></li>
            <li class="breadcrumb-item active" aria-current="page">Tomo 2</li>
        </ol>
    </nav>
</section>

<section class="container py-5 my-5 ensayo-tomo-descripcion">
    <div class="row d-flex justify-content-md-center">
        <div class="col-12 col-sm-12 col-md-9 wow animate__animated animate__fadeIn">
            <div class="titulo">
            <p class="tomo">Tomo 2</p>
            <p class="creditos">GI-ESCR, HRC UNIVERSITY OF ESSEX Y UNIVERSIDAD DE CONCEPCIÓN</p>
            <h2>Mecanismos de garantía de los derechos sociales</h2>
            <h3>Derechos sociales y el momento constituyente de Chile: Perspectivas globales y locales para el debate constitucional</h3>
            </div>
            <div class="descripcion">
            <p>Este tomo <b>explora las distintas herramientas que los sistemas regionales de derechos humanos utilizan para garantizar los derechos sociales.</b> Iniciando con un mapa ilustrativo de las formas en que los DESCA pueden transformar los modos en que las constituciones estructuran la política de un país, la primera sección recorre el camino que el sistema interamericano y el sistema europeo han transitado en los últimos años para proteger estos derechos.</p>
            <p>La segunda sección se centra específicamente en el rol de los tribunales –tanto regionales como nacionales– en la garantía de los derechos sociales: la denominada “justiciabilidad”. Aquí se presentan diversas posturas sobre el rol que los jueces pueden y deben tener en el respeto, protección y garantía de los derechos sociales, y los impactos que las diversas formas de incorporación del derecho internacional en la Constitución pueden tener sobre la función judicial.</p>
            <a href="{% static 'img/pdfensayos/tomo_2_mecanismos_de_garantía.pdf' %}" class="btn-lcen button hvr-sweep-to-right" target="_blank">Descargar Tomo</a>
            </div>
        </div>

        <div class="col-12 col-sm-12 col-md-9 ensayo-capitulos">
            <h2>Capítulos:</h2>
            <div class="decoracion green"></div>
            <h3>Sección A: Sistemas regionales de derechos humanos y DESCA</h3>
            <p>1. <a href="{% static 'img/pdfensayos/capitulos-tomo-2/1-brinks_los_derechos_económicos_sociales_y_culturales_en_chile.pdf' %}" target="_blank">Los derechos económicos, sociales y culturales en Chile ¿Asignatura pendiente?</a> Daniel M. Brinks</p>
            <p>2. <a href="{% static 'img/pdfensayos/capitulos-tomo-2/2-de_paz_las_nuevas_dimensiones_de_los_desca_en_el_sistema_interamericano.pdf' %}" target="_blank">Las nuevas dimensiones de los DESCA en el sistema Interamericano: Vectores imprescindibles para el proceso constituyente de Chile 2021.</a> Isaac de Paz González</p>
            <p>3. <a href="{% static 'img/pdfensayos/capitulos-tomo-2/3-ocinneide_derechos_sociales_en_europa.pdf' %}" target="_blank">Derechos sociales en Europa.</a> Colm O’Cinneide</p>

            <h3>Sección B: Justiciabilidad de los derechos sociales</h3>
            <p>4. <a href="{% static 'img/pdfensayos/capitulos-tomo-2/4-rossi_el_camino_de_la_corte_idh_hacia_la_justiciabilidad_directa_de_los_desca.pdf' %}" target="_blank">El camino de la Corte Interamericana de Derechos Humanos hacia la justiciabilidad directa de los DESCA y su impacto en los ordenamientos jurídicos nacionales.</a> Julieta Rossi</p>
            <p>5. <a href="{% static 'img/pdfensayos/capitulos-tomo-2/5-larraín_el_rol_de_los_jueces_en_relación_con_los_derechos_económicos_y_sociales.pdf' %}" target="_blank">El rol de los jueces en relación con los derechos económicos y sociales.</a> Beatríz Larraín Martínez</p>
            <p>6. <a href="{% static 'img/pdfensayos/capitulos-tomo-2/6-boyle_modelos_de_incorporación_de_los_derechos_económicos_sociales_culturales_y_ambientales.pdf' %}" target="_blank">Modelos de incorporación de los derechos económicos, sociales, culturales y ambientales: Aprendizajes para el proceso constituyente chileno.</a> Katie Boyle, Vicente Silva y Valentina Contreras Orrego</p>
        </div>
        <div class="col-12 col-sm-12 col-md-9 cita">
            <h4>Cita sugerida</h4>
            <p><i>Global Initiative for Economic, Social and Cultural Rights, Centro de Derechos Humanos de la Universidad de Essex y Universidad de Concepción (2021) Derechos sociales y el momento constituyente de Chile: Perspectivas globales y locales para el debate constitucional. Tomo II: Mecanismos de garantía de los derechos sociales. Santiago, Chile: Global Initiative for Economic, Social and Cultural Rights. DOI: 10.53110/AVTV1058.</i></p>
        </div>

    </div>
</section>

<section class="container ensayos-list">
    <div class="row justify-content-md-center">
        <div class="col-12 col-md-11">
            <h2>Revisa todos los tomos</h2>
            <div class="decoracion blue"></div>
            <div class="row">
                <div class="col-12 col-md-6 ensayo">
                    <a href="{% url 'ensayo-tomouno' %}"><img src="{% static 'img/tomo-1-ensayo-portada.png' %}" alt="img portada ensayo" class="img-fluid w-100"></a>
                    <div class="info">
                        <p class="creditos">GI-ESCR, HRC UNIVERSITY OF ESSEX Y UNIVERSIDAD DE CONCEPCIÓN</p>
                        <h3>Chile, desigualdad y derechos sociales</h3>
                        <p>¿Cómo han influido los derechos sociales en el momento constituyente de Chile? Descubre respuestas a esta y otras preguntas aquí.</p>
                        <a href="{% url 'ensayo-tomouno' %}" class="btn-lcen button hvr-sweep-to-right">Leer</a>
                        <a href="{% static 'img/pdfensayos/tomo_1_chile_desigualdad_y_derechos_sociales.pdf' %}" class="btn-lcen button hvr-sweep-to-right" target="_blank">Descargar</a>
                    </div>
                </div>
                <div class="col-12 col-md-6 ensayo">
                    <a href="{% url 'ensayo-tomodos' %}"><img src="{% static 'img/tomo-2-ensayo-portada.png' %}" alt="img portada ensayo" class="img-fluid w-100"></a>
                    <div class="info">
                        <p class="creditos">GI-ESCR, HRC UNIVERSITY OF ESSEX Y UNIVERSIDAD DE CONCEPCIÓN</p>
                        <h3>Mecanismos de garantía de los derechos sociales</h3>
                        <p>¿Y cómo se aseguran los derechos sociales? No es una tarea fácil, pero aquí te proponemos algunas formas para hacerlo y varias posturas para tener en cuenta.</p>
                        <a href="{% url 'ensayo-tomodos' %}" class="btn-lcen button hvr-sweep-to-right">Leer</a>
                        <a href="{% static 'img/pdfensayos/tomo_2_mecanismos_de_garantía.pdf' %}" class="btn-lcen button hvr-sweep-to-right" target="_blank">Descargar</a>
                    </div>
                </div>
                <div class="col-12 col-md-6 ensayo">
                    <a href="{% url 'ensayo-tomotres' %}"><img src="{% static 'img/tomo-3-ensayo-portada.png' %}" alt="img portada ensayo" class="img-fluid w-100"></a>
                    <div class="info">
                        <p class="creditos">GI-ESCR, HRC UNIVERSITY OF ESSEX Y UNIVERSIDAD DE CONCEPCIÓN</p>
                        <h3>Los derechos económicos, sociales, culturales y ambientales</h3>
                        <p>¿Derechos sociales en el catálogo de derechos fundamentales? ¡Claro! Aquí te explicamos los elementos claves y sistémicos a los que se debe prestar atención para hacerlo.</p>
                        <a href="{% url 'ensayo-tomotres' %}" class="btn-lcen button hvr-sweep-to-right">Leer</a>
                        <a href="{% static 'img/pdfensayos/tomo-3-desca.pdf' %}" class="btn-lcen button hvr-sweep-to-right" target="_blank">Descargar</a>
                    </div>
                </div>
                <div class="col-12 col-md-6 ensayo">
                    <a href="{% url 'ensayo-tomocuatro' %}"><img src="{% static 'img/tomo-4-ensayo-portada.png' %}" alt="img portada ensayo" class="img-fluid w-100"></a>
                    <div class="info">
                        <p class="creditos">GI-ESCR, HRC UNIVERSITY OF ESSEX Y UNIVERSIDAD DE CONCEPCIÓN</p>
                        <h3>Grupos de especial protección</h3>
                        <p>¿Derechos humanos iguales para todas las personas? ¡Claro! Pero la realidad hace que algunos grupos merezcan una protección especial. Aquí te contamos de algunos.</p>
                        <a href="{% url 'ensayo-tomocuatro' %}" class="btn-lcen button hvr-sweep-to-right">Leer</a>
                        <a href="{% static 'img/pdfensayos/tomo_4_grupos_de_especial_proteccion.pdf' %}" class="btn-lcen button hvr-sweep-to-right" target="_blank">Descargar</a>
                    </div>
                </div>
                <div class="col-12 col-md-6 ensayo">
                    <a href="{% url 'ensayo-tomocinco' %}"><img src="{% static 'img/tomo-5-ensayo-portada.png' %}" alt="img portada ensayo" class="img-fluid w-100"></a>
                    <div class="info">
                        <p class="creditos">GI-ESCR, HRC UNIVERSITY OF ESSEX Y UNIVERSIDAD DE CONCEPCIÓN</p>
                        <h3>Procesos constituyentes y lecciones aprendidas</h3>
                        <p>¿Y qué han aprendido otros países al incorporar derechos sociales en sus procesos constituyentes? ¡Pues muchas cosas! Aquí puedes ver algunas de ellas.</p>
                        <a href="{% url 'ensayo-tomocinco' %}" class="btn-lcen button hvr-sweep-to-right">Leer</a>
                        <a href="{% static 'img/pdfensayos/tomo_5_leciones_aprendidas.pdf' %}" class="btn-lcen button hvr-sweep-to-right" target="_blank">Descargar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
