{% extends "base.html" %}
{% load static %}
{% block title %} Ensayos {% endblock %}
{% block content %}

<section class="portada-lcen-colores">
    <img src="{% static 'img/banner-portada-ensayos.png' %}" alt="img collage portada" class="img-fluid img-banner-desktop">
    <img src="{% static 'img/banner-portada-ensayos-movil.png' %}" alt="img collage portada" class="img-fluid img-banner-movil">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'inicio' %}">Inicio</a></li>
            <li class="breadcrumb-item"><a href="{% url 'ensayos' %}">Ensayos</a></li>
            <li class="breadcrumb-item active" aria-current="page">Tomo 1</li>
        </ol>
    </nav>
</section>

<section class="container py-5 my-5 ensayo-tomo-descripcion">
    <div class="row d-flex justify-content-md-center">
        <div class="col-12 col-sm-12 col-md-9 wow animate__animated animate__fadeIn">
           <div class="titulo">
            <p class="tomo">Tomo 1</p>
            <p class="creditos">GI-ESCR, HRC UNIVERSITY OF ESSEX Y UNIVERSIDAD DE CONCEPCIÓN</p>
            <h2>Chile, desigualdad y derechos sociales</h2>
            <h3>Derechos sociales y el momento constituyente de Chile: Perspectivas globales y locales para el debate constitucional</h3>
            </div>
            <div class="descripcion">
            <p>Este tomo <b>contextualiza política e históricamente el proceso constituyente en Chile</b>, enmarcando el estado de los derechos sociales tanto dentro de América Latina como del Chile post-dictadura, para luego identificar los eventuales límites del trabajo de la Convención Constituyente.</p>
            <p>En una segunda parte, este tomo <b>conceptualiza a los derechos sociales dentro de un espectro más amplio de los derechos humanos</b>, enfatizando la indivisibilidad e interdependencia que existe entre todos ellos (y por consiguiente desmitificando su comprensión como derechos de segunda generación) y la necesidad de adoptar medidas afirmativas en algunos casos para lograr la igualdad sustantiva. Además, esta sección resalta algunas particularidades de los derechos sociales como la posibilidad de implementación progresiva de aquellas partes de los derechos que no corresponden al contenido mínimo (de ejecución inmediata), la prohibición de regresividad en los sucesivas reformas que se orienten a garantizar derechos sociales y el rol fundamental que juega la política fiscal en la protección de estos derechos en el contexto constitucional.</p>
            <a href="{% static 'img/pdfensayos/tomo_1_chile_desigualdad_y_derechos_sociales.pdf' %}" class="btn-lcen button hvr-sweep-to-right" target="_blank">Descargar Tomo</a>
            </div>
        </div>

        <div class="col-12 col-sm-12 col-md-9 ensayo-capitulos">
            <h2>Capítulos:</h2>
            <div class="decoracion green"></div>
            <h3>Sección A: El momento constituyente de Chile</h3>
            <p>1. <a href="{% static 'img/pdfensayos/capitulos-tomo-1/1-gargarella_diez_puntos_sobre_el_cambio_constitucional.pdf' %}" target="_blank">Diez puntos sobre el cambio constitucional en Chile.</a> Roberto Gargarella</p>
            <p>2. <a href="{% static 'img/pdfensayos/capitulos-tomo-1/bohoslavsky_los_complices_de_ayer.pdf' %}" target="_blank">Los cómplices de ayer, los beneficiarios de hoy – El nudo de la desigualdad impuesta por la dictadura.</a> Juan Pablo Bohoslavsky, Karinna Fernández y Sebastián Smart</p>
            <p>3. <a href="{% static 'img/pdfensayos/capitulos-tomo-1/3-astroza_tiene_limites_la_convencion_constitucional.pdf' %}" target="_blank">¿Tiene límites la Convención Constitucional?</a> Dra. Paulina Astroza Suárez y Dr. Carlos Maturana Toledo</p>

            <h3>Sección B: Los derechos sociales son derechos humanos</h3>
            <p>4. <a href="{% static 'img/pdfensayos/capitulos-tomo-1/4-porter_la_interdependencia_de_los_derechos_humanos.pdf' %}" target="_blank">La interdependencia de los derechos humanos.</a> Bruce Porter</p>
            <p>5. <a href="{% static 'img/pdfensayos/capitulos-tomo-1/5-saba_constitucion_igualdad_y_acciones_afirmativas.pdf' %}" target="_blank">Constitución, Igualdad y Acciones Afirmativas.</a> Roberto P. Saba</p>
            <p>6. <a href="{% static 'img/pdfensayos/capitulos-tomo-1/6-courtis_la_prohibicion_de_regresividad_en_materia_de_derechos_sociales.pdf' %}" target="_blank">La prohibición de regresividad en materia de derechos sociales: apuntes introductorios.</a> Christian Courtis</p>
            <p>7. <a href="{% static 'img/pdfensayos/capitulos-tomo-1/7-courtis_la_prohibicion_de_regresividad_en_materia_de_derechos_sociales.pdf' %}" target="_blank">Política económica y derechos humanos.</a> Francisca Moya y Constanza Salgado</p>
        </div>

        <div class="col-12 col-sm-12 col-md-9 cita">
            <h4>Cita sugerida</h4>
            <p><i>Global Initiative for Economic, Social and Cultural Rights, Centro de Derechos Humanos de la Universidad de Essex y Universidad de Concepción (2021) Derechos sociales y el momento constituyente de Chile: Perspectivas globales y locales para el debate constitucional. Tomo I: Chile, desigualdad y derechos sociales. Santiago, Chile: Global Initiative for Economic, Social and Cultural Rights. DOI: 10.53110/BVOF9600.</i></p>
        </div>

    </div>
</section>

<section class="container ensayos-list">
    <div class="row justify-content-md-center">
        <div class="col-12 col-md-11">
            <h2>Revisa todos los tomos</h2>
            <div class="decoracion blue"></div>
            <div class="row">
                <div class="col-12 col-md-6 ensayo">
                    <a href="{% url 'ensayo-tomouno' %}"><img src="{% static 'img/tomo-1-ensayo-portada.png' %}" alt="img portada ensayo" class="img-fluid w-100"></a>
                    <div class="info">
                        <p class="creditos">GI-ESCR, HRC UNIVERSITY OF ESSEX Y UNIVERSIDAD DE CONCEPCIÓN</p>
                        <h3>Chile, desigualdad y derechos sociales</h3>
                        <p>¿Cómo han influido los derechos sociales en el momento constituyente de Chile? Descubre respuestas a esta y otras preguntas aquí.</p>
                        <a href="{% url 'ensayo-tomouno' %}" class="btn-lcen button hvr-sweep-to-right">Leer</a>
                        <a href="{% static 'img/pdfensayos/tomo_1_chile_desigualdad_y_derechos_sociales.pdf' %}" class="btn-lcen button hvr-sweep-to-right" target="_blank">Descargar</a>
                    </div>
                </div>
                <div class="col-12 col-md-6 ensayo">
                    <a href="{% url 'ensayo-tomodos' %}"><img src="{% static 'img/tomo-2-ensayo-portada.png' %}" alt="img portada ensayo" class="img-fluid w-100"></a>
                    <div class="info">
                        <p class="creditos">GI-ESCR, HRC UNIVERSITY OF ESSEX Y UNIVERSIDAD DE CONCEPCIÓN</p>
                        <h3>Mecanismos de garantía de los derechos sociales</h3>
                        <p>¿Y cómo se aseguran los derechos sociales? No es una tarea fácil, pero aquí te proponemos algunas formas para hacerlo y varias posturas para tener en cuenta.</p>
                        <a href="{% url 'ensayo-tomodos' %}" class="btn-lcen button hvr-sweep-to-right">Leer</a>
                        <a href="{% static 'img/pdfensayos/tomo_2_mecanismos_de_garantía.pdf' %}" class="btn-lcen button hvr-sweep-to-right" target="_blank">Descargar</a>
                    </div>
                </div>
                <div class="col-12 col-md-6 ensayo">
                    <a href="{% url 'ensayo-tomotres' %}"><img src="{% static 'img/tomo-3-ensayo-portada.png' %}" alt="img portada ensayo" class="img-fluid w-100"></a>
                    <div class="info">
                        <p class="creditos">GI-ESCR, HRC UNIVERSITY OF ESSEX Y UNIVERSIDAD DE CONCEPCIÓN</p>
                        <h3>Los derechos económicos, sociales, culturales y ambientales</h3>
                        <p>¿Derechos sociales en el catálogo de derechos fundamentales? ¡Claro! Aquí te explicamos los elementos claves y sistémicos a los que se debe prestar atención para hacerlo.</p>
                        <a href="{% url 'ensayo-tomotres' %}" class="btn-lcen button hvr-sweep-to-right">Leer</a>
                        <a href="{% static 'img/pdfensayos/tomo-3-desca.pdf' %}" class="btn-lcen button hvr-sweep-to-right" target="_blank">Descargar</a>
                    </div>
                </div>
                <div class="col-12 col-md-6 ensayo">
                    <a href="{% url 'ensayo-tomocuatro' %}"><img src="{% static 'img/tomo-4-ensayo-portada.png' %}" alt="img portada ensayo" class="img-fluid w-100"></a>
                    <div class="info">
                        <p class="creditos">GI-ESCR, HRC UNIVERSITY OF ESSEX Y UNIVERSIDAD DE CONCEPCIÓN</p>
                        <h3>Grupos de especial protección</h3>
                        <p>¿Derechos humanos iguales para todas las personas? ¡Claro! Pero la realidad hace que algunos grupos merezcan una protección especial. Aquí te contamos de algunos.</p>
                        <a href="{% url 'ensayo-tomocuatro' %}" class="btn-lcen button hvr-sweep-to-right">Leer</a>
                        <a href="{% static 'img/pdfensayos/tomo_4_grupos_de_especial_proteccion.pdf' %}" class="btn-lcen button hvr-sweep-to-right" target="_blank">Descargar</a>
                    </div>
                </div>
                <div class="col-12 col-md-6 ensayo">
                    <a href="{% url 'ensayo-tomocinco' %}"><img src="{% static 'img/tomo-5-ensayo-portada.png' %}" alt="img portada ensayo" class="img-fluid w-100"></a>
                    <div class="info">
                        <p class="creditos">GI-ESCR, HRC UNIVERSITY OF ESSEX Y UNIVERSIDAD DE CONCEPCIÓN</p>
                        <h3>Procesos constituyentes y lecciones aprendidas</h3>
                        <p>¿Y qué han aprendido otros países al incorporar derechos sociales en sus procesos constituyentes? ¡Pues muchas cosas! Aquí puedes ver algunas de ellas.</p>
                        <a href="{% url 'ensayo-tomocinco' %}" class="btn-lcen button hvr-sweep-to-right">Leer</a>
                        <a href="{% static 'img/pdfensayos/tomo_5_leciones_aprendidas.pdf' %}" class="btn-lcen button hvr-sweep-to-right" target="_blank">Descargar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
