{% extends "base.html" %}
{% load static %}
{% block title %} Inicio {% endblock %}
{% block content %}

<section class="portada-lcen-colores">
    <img src="{% static 'img/mapa-contitucional-banner.png' %}" alt="img collage portada" class="img-fluid img-banner-desktop">
    <img src="{% static 'img/mapa-constitucional-movil-banner.png' %}" alt="img collage portada" class="img-fluid img-banner-movil">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'inicio' %}">Inicio</a></li>
            <li class="breadcrumb-item"><a href="{% url 'mapa-constitucional' %}">Mapa Constitucional</a></li>
            <li class="breadcrumb-item active" aria-current="page">Fuerzas Armadas y Policías</li>
        </ol>
    </nav>
</section>

<section class="container mapa-constitucional-terminos">
    <div class="row">
        <div class="col-12 col-md-12 col-lg-4">
            <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'mapa-constitucional' %}">Temas</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Fuerzas Armadas y Policías</li>
                </ol>
            </nav>

            <!-- Button trigger modal -->
            <button type="button" class="btn-concepto-modal" data-bs-toggle="modal" data-bs-target="#exampleModal">El estado</button>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">El Estado</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <p>“Una comunidad humana, fijada sobre un territorio propio, que posee una organización que resulta para ese grupo, en lo que respecta a las relaciones con sus miembros, una potencia suprema de acción, de mando y coerción”, <u>Carré de Malberg (1988).</u></p>
                            <h4>¿Por qué tenemos un Estado?</h4>
                            <p>Los Estados existen para cuidar a las personas y asegurar el bienestar de las sociedades. Para lograr este objetivo, las Constituciones establecen un conjunto de reglas y principios, que establecen las atribuciones de los órganos del Estado, limitan el poder público y determinan los fines que deben cumplir las instituciones.</p>
                            <h4>¿Cómo se organiza el Estado?</h4>
                            <p>Conjunto de normas de la Constitución sobre cómo se organiza el Estado. Tal como en los planos de una sala de máquinas, en los aspectos orgánicos nos encontraremos con las reglas sobre la función, los límites al poder, la posición en la estructura jerárquica y los requisitos para que las personas integren cada una de las piezas del Estado. Estas piezas se conocen como "Órganos", por lo que estas reglas también se conocen como los aspectos orgánicos de la Constitución.</p>
                        </div>
                    </div>
                </div>
            </div>
            <h3>Fuerzas Armadas y Policías</h3>
            <p>Órganos públicos encargados de la defensa de la patria y de la seguridad exterior de la nación, del aseguramiento del orden público y la seguridad pública interior y la investigación de crímenes y delitos. En Chile, las Fuerzas Armadas son el Ejército, la Fuerza Aérea y la Marina; y las Policías son Carabineros de Chile y la Policía de Investigaciones. Se caracterizan por ser esencialmente obedientes y no deliberantes y tienen una estructura jerarquizada.</p>
        </div>

        <div class="col-12 col-md-12 col-lg-8">
            <div class="d-flex align-items-start">
               
                <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <h4>3 contenidos asociados</h4>
                    <button class="nav-link active" id="v-pills-tab-1" data-bs-toggle="pill" data-bs-target="#v-pills-1" type="button" role="tab" aria-controls="v-pills-1" aria-selected="true"><span>Rango Constitucional</span></button>
                    <button class="nav-link" id="v-pills-tab-2" data-bs-toggle="pill" data-bs-target="#v-pills-2" type="button" role="tab" aria-controls="v-pills-2" aria-selected="false"><span>Rol</span></button>
                    <button class="nav-link" id="v-pills-tab-3" data-bs-toggle="pill" data-bs-target="#v-pills-3" type="button" role="tab" aria-controls="v-pills-3" aria-selected="false"><span>Obediencia y no deliberancia</span></button>
                </div>
                
                <div class="tab-content" id="v-pills-tabContent">
                   
                    <div class="tab-pane fade show active" id="v-pills-1" role="tabpanel" aria-labelledby="v-pills-tab-1">
                        <p class="text-bold">¿Cómo se organiza el Estado?</p>
                        <h4>Rango Constitucional</h4>
                        <p>Un elemento central de la regulación de las FFAA y de orden es que el hecho de que estén reguladas en la Constitución hace mucho más difícil que se lleve a cabo cualquier tipo de reforma, reestructuración o refundación de ellas. En la Constitución de 1980 se establecieron elementos que han hecho especialmente rígida la regulación, como los ministerios de los que dependen, la manera en que se designan designan sus autoridades superiores y el criterio de antigüedad para ello, y las normas de nombramientos, ascensos y retiros de los oficiales, carrera profesional, incorporación a sus plantas, previsión, antigüedad, mando, sucesión de mando y presupuesto.</p>
                        <!--<hr>
                        <h5>Otros temas asociados</h5>
                        <ul>
                            <li><a href="#" class="btn-lcen button hvr-sweep-to-right">Item</a></li>
                        </ul>-->
                    </div>
                    
                    <div class="tab-pane fade" id="v-pills-2" role="tabpanel" aria-labelledby="v-pills-tab-2">
                        <p class="text-bold">¿Cómo se organiza el Estado?</p>
                        <h4>Rol</h4>
                        <p>Las fuerzas armadas deben asegurar la seguridad exterior, mientras que las policías están a cargo de mantener el orden público interior. Sin embargo, hoy las FFAA y las policías cumplen con un rol más amplio, lo cual ha generado varias situaciones de vulneración de derechos y revictimización.</p>
                        <!--<hr>
                        <h5>Otros temas asociados</h5>
                        <ul>
                            <li><a href="#" class="btn-lcen button hvr-sweep-to-right">Item</a></li>
                        </ul>-->
                    </div>
                    
                    <div class="tab-pane fade" id="v-pills-3" role="tabpanel" aria-labelledby="v-pills-tab-3">
                        <p class="text-bold">¿Cómo se organiza el Estado?</p>
                        <h4>Obediencia y no deliberancia</h4>
                        <p>Principio consistente en el sometimiento de las fuerzas armadas y de orden a las decisiones adoptadas por las autoridades civiles. Se traduce en un límite a las decisiones que pueden adoptar estos órganos, los que solamente pueden encontrar la manera más eficiente de cumplir con las órdenes que reciben, pero no pueden evaluar, modificar ni opinar sobre su contenido. Sin embargo, este principio tiene una serie de limitaciones a la hora de su ejecución, especialmente respecto de las policías, cuya estructura jerárquica y sus culturas internas les han permitido actuar con una autonomía que no está establecida en la Constitución, pero que les ha asegurado, entre otras cosas, impunidad ante casos de violaciones a derechos humanos.</p>
                        <!--<hr>
                        <h5>Otros temas asociados</h5>
                        <ul>
                            <li><a href="#" class="btn-lcen button hvr-sweep-to-right">Item</a></li>
                        </ul>-->
                    </div>
                    
                </div>
            </div>
        </div>
    </div>

</section>


{% endblock %}
