{% extends "base.html" %}
{% load static %}
{% block title %}Inicio{% endblock %}

{% block content %}


<section class="container-fluid portada-banner">
   <div class="row">
      <img src="{% static 'img/portada-lcen-evaluacionbanner.jpg' %}" alt="banner" class="img-fluid portada-desktop">
      <img src="{% static 'img/portada-lcen-evaluacionbanner-movil.jpg' %}" alt="banner" class="img-fluid portada-movil">
      <div class="enlace-portada">
        <a href="{% url 'homeevaluaciones' %}" class="btn-lcen button hvr-sweep-to-right wow animate__animated animate__fadeIn animate__delay-2s">Mira la evaluación</a>
        <a href="https://wa.me/56953069053" class="btn-lcen button hvr-sweep-to-right wow animate__animated animate__fadeIn animate__delay-2s">Inscríbete aquí</a>
      </div>
   </div>
</section>


<div class="btn-scroll-home">
    <a href="#que-es-lcen" class="btn-lcen button hvr-sweep-to-right animate__animated animate__fadeIn animate__delay-2s"><i class="fas fa-chevron-down"></i><div id="que-es-lcen"></div></a>
</div>


<section class="hitos-cc container">
    <div class="row justify-content-center">
       <div class="col-12 col-sm-10 col-md-8 img-titulo">
            <img src="{% static 'img/la-constitucion-es-nuestra-titulo.svg' %}" alt="banner" class="img-fluid">
       </div>
       <div class="col-12 col-sm-10 col-md-8 descripcion-lcen-home">
            <p>La Constitución es Nuestra (LCeN) es una plataforma abierta, colaborativa y colectiva que busca reivindicar el poder ciudadano presente en la nueva Constitución.</p>
            <p>La historia por la conquista de derechos sociales y por modernizar nuestro Estado es parte de un largo proceso social y político del que hemos sido parte y la decisión final es nuestra.</p>
       </div>
    </div>
</section>

<section class="linea-cronologica">
      <img src="{% static 'img/hitos-desktop.jpg' %}" alt="banner" class="img-fluid img-banner-desktop">
      <img src="{% static 'img/hitos-2.jpg' %}" alt="banner" class="img-fluid img-banner-movil">
</section>

<section class="decision-final-hito container">
    <div class="row">
       <div class="col-12 col-sm-5 col-md-5 col-lg-4">
         <img src="{% static 'img/collage-borrador.png' %}" alt="banner" class="img-fluid img-banner-desktop">
       </div>
       <div class="col-12 col-sm-7 col-md-5 col-lg-4">
         <img src="{% static 'img/la-decision-es-nuestra.svg' %}" alt="banner" class="img-fluid img-banner-desktop">
         <a href="{% url 'homeevaluaciones' %}" class="btn-lcen button hvr-sweep-to-right wow animate__animated animate__fadeIn animate__delay-2s">Conoce las normas aquí</a>
       </div>
    </div>
</section>


<!-- Iniciativa Popular de Norma -->
<section class="iniciativa-popular container-fluid">
      <div class="img img-uno wow animate__animated animate__fadeIn">
          <img src="{% static 'img/megafono-lcen.png' %}" alt="img megafono lcen" class="img-ipn-uno">
      </div>
      <div class="informacion wow animate__animated animate__fadeIn">
        <img src="{% static 'img/como-se-construyeron-las-normas.svg' %}" alt="banner" class="img-fluid">


          <a href="{% url 'debate-constituyente' %}" class="btn-lcen button hvr-sweep-to-right boton-manual-convencion" target="_blank">Sigue el recorrido aquí</a>
      </div>
      <div class="img img-dos wow animate__animated animate__fadeIn">
          <img src="{% static 'img/papel-lcen.png' %}" alt="img mano con papel lcen" class="img-ipn-dos">
      </div>
</section>


<section class="quieres-sumar-a-tu-org">
  <div class="container">
    <div class="row">
         <div class="col-12 col-sm-10 col-md-8 col-lg-8">
           <img src="{% static 'img/incluye-org.svg' %}" alt="banner" class="img-fluid">
         </div>
         <div class="col-12 col-sm-10 col-md-8 col-lg-8">
             <a href="https://wa.me/56953069053" class="btn-lcen button hvr-sweep-to-right boton-manual-convencion" target="_blank">Inscríbete aquí</a>
         </div>
    </div>
  </div>

</section>

<section class="recursos-cc container">
    <div class="row">
       <div class="col-12 img-titulo">
            <img src="{% static 'img/recursos-constituyentes-titulo.svg' %}" alt="banner" class="img-fluid my-5">
       </div>
       <div class="col-12 col-sm-6 col-md-4 img-titulo">
            <img src="{% static 'img/collage-mapa-constitucional-home.png' %}" alt="banner" class="img-fluid">
            <h3>Mapa <br> Constitucional</h3>
            <div class="decoracion-linea"></div>
            <a href="{% url 'mapa-constitucional' %}" class="btn-lcen button hvr-sweep-to-right boton-manual-convencion" target="_blank">Revisar</a>
       </div>
       <div class="col-12 col-sm-6 col-md-4 img-titulo">
            <img src="{% static 'img/collage-ensayos-home.png' %}" alt="banner" class="img-fluid">
            <h3>Ensayos</h3>
            <div class="decoracion-linea"></div>
            <a href="{% url 'ensayos' %}" class="btn-lcen button hvr-sweep-to-right boton-manual-convencion" target="_blank">Revisar</a>
       </div>
       <div class="col-12 col-sm-6 col-md-4 img-titulo">
            <img src="{% static 'img/collage-constitucion-feminista-home.png' %}" alt="banner" class="img-fluid">
            <h3>Constitución <br> Feminista</h3>
            <div class="decoracion-linea"></div>
            <a href="{% url 'constitucion-feminista' %}" class="btn-lcen button hvr-sweep-to-right boton-manual-convencion" target="_blank">Revisar</a>
       </div>

    </div>
</section>



{% endblock %}
