{% extends "base.html" %}
{% load static %}
{% block title %}Inicio{% endblock %}

{% block content %}




    <section class="portada wow animate__animated animate__fadeIn">
        <div class="degradado"></div>
        <img src="{% static 'img/img-lcen-2/portada-home.png' %}" alt="banner" class="banner-portada w-100 version-desktop">
        <img src="{% static 'img/img-lcen-2/portada-movil.png' %}" alt="banner" class="banner-portada w-100 version-movil">
    </section>

    <section class="scroll-btn wow animate__animated animate__fadeIn">
        <p>¿Cómo avanza el proceso?</p>
        <div class="img-scroll">
            <a href="#post-plebiscito">
                <img src="{% static 'img/img-lcen-2/flecha-icono.svg' %}" alt="flecha" class="img-flecha">
            </a>
        </div>
    </section>


    <section class="post-plebiscito wow animate__animated animate__fadeIn" id="post-plebiscito">
        <div class="franja">
            <div class="img-alarma">
                <img src="{% static 'img/img-lcen-2/alarma-img.png' %}" alt="alarma" width="80px">
            </div>
            <div class="franja-contenido">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="informativo">
                                <img src="{% static 'img/img-lcen-2/circulo-rojo.svg' %}" alt="circulo-rojo" class="circulo-rojo parpadea">
                                <p><span>Informativo:</span></p>
                                <div class="et_pb_row et_pb_row_1">
                                    <div class="et_pb_column et_pb_column_4_4 et_pb_column_2  et_pb_css_mix_blend_mode_passthrough et-last-child">
                                        <div class="et_pb_module et_pb_code et_pb_code_0">
                                            <div class="et_pb_code_inner">
                                                <div class="ticker-wrap">
                                                    <div class="ticker">
                                                        <div class="ticker__item">
                                                            <p>Las distintas fuerzas políticas aún no logran llegar a un acuerdo final para habilitar un nuevo proceso constituyente. El principal nudo de disenso es la composición de órgano redactor para el cual existen propuestas de órgano mixto, 100% designado por el Congreso o 100% electo la ciudadanía. Desde la sociedad civil creemos fundamental que una nueva Constitución sea redactada por órgano 100% electo #QuelaCiudadaníaElija.</p>
                                                        </div>
                                                        <div class="ticker__item">
                                                            <p>Las distintas fuerzas políticas aún no logran llegar a un acuerdo final para habilitar un nuevo proceso constituyente. El principal nudo de disenso es la composición de órgano redactor para el cual existen propuestas de órgano mixto, 100% designado por el Congreso o 100% electo la ciudadanía. Desde la sociedad civil creemos fundamental que una nueva Constitución sea redactada por órgano 100% electo #QuelaCiudadaníaElija.</p>
                                                        </div>
                                                        <div class="ticker__item">
                                                            <p>Las distintas fuerzas políticas aún no logran llegar a un acuerdo final para habilitar un nuevo proceso constituyente. El principal nudo de disenso es la composición de órgano redactor para el cual existen propuestas de órgano mixto, 100% designado por el Congreso o 100% electo la ciudadanía. Desde la sociedad civil creemos fundamental que una nueva Constitución sea redactada por órgano 100% electo #QuelaCiudadaníaElija.</p>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="seccion-post-plebiscito-home wow animate__animated animate__fadeIn">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="contenido">
                            <img src="{% static 'img/img-lcen-2/titulo-discusion-post-plebiscito.png' %}" alt="titulo" class="titulo">
                            <a href="{% url 'mapa-constitucional' %}" class="btn-web-lcen">Conoce más</a>
                        </div>
                    </div>
                </div>
            </div>
            <img src="{% static 'img/img-lcen-2/collage-politicos.png' %}" alt="collage politicos" class="w-100 version-desktop">
            <img src="{% static 'img/img-lcen-2/politicos-movil.png' %}" alt="collage politicos" class="w-100 version-movil">
        </div>
    </section>

    <section class="quienes-somos wow animate__animated animate__fadeIn">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-sm-6 col-md-5 col-lg-4 align-self-center">
                    <div class="img">
                        <img src="{% static 'img/img-lcen-2/lcen-collage-faro.png' %}" alt="collage-quienes-somos">
                    </div>
                </div>
                <div class="col-12 col-sm-6 offset-md-1 col-md-6 offset-lg-1 col-lg-5 align-self-center">
                    <div class="informacion">
                        <p>La Constitución es Nuestra es una Plataforma abierta y colaborativa que busca darle voz a la ciudadanía en el proceso constituyente que está recorriendo Chile desde el año 2019. La ciudadanía ha sido la protagonista de las demandas que impulsaron este camino y también debe ser una pieza fundamental de su construcción.</p>
                        <a href="{% url 'quees' %}" class="btn-web-lcen">Conoce más</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="que-ha-ocurrido-hasta-ahora wow animate__animated animate__fadeIn">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12">
                    <div class="contenido">
                        <img src="{% static 'img/img-lcen-2/titulo-que-ha-ocurrido-hasta-ahora.svg' %}" alt="titulo" class="titulo">
                        <img src="{% static 'img/img-lcen-2/linea-de-tiempo-home.png' %}" class="linea-de-tiempo version-desktop">
                        <img src="{% static 'img/img-lcen-2/linea-de-tiempo-home-movil.png' %}" alt="linea-de-tiempo" class="linea-de-tiempo version-movil">
                        <a href="#" class="btn-web-lcen">Recorre el proceso</a>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="recursos-para-la-constitucion wow animate__animated animate__fadeIn">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-sm-12 col-md-4 align-self-center version-movil">
                    <div class="img-titulo">
                        <img src="{% static 'img/img-lcen-2/titulo-recursos-para-el-proceso-constitucional.svg' %}" alt="titulo" class="titulo">
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-4 align-self-center">
                    <div class="recurso">
                        <img src="{% static 'img/img-lcen-2/glosario-img.png' %}" alt="img glosario" class="collage-glosario">
                        <h3>Glosario<br> Constitucional</h3>
                        <a href="{% url 'glosario-constitucional' %}" class="btn-web-lcen">Revisar Glosario</a>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-4 align-self-center version-desktop">
                    <div class="img-titulo">
                        <img src="{% static 'img/img-lcen-2/titulo-recursos-para-el-proceso-constitucional.svg' %}" alt="titulo" class="titulo">
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-4 align-self-center">
                    <div class="recurso">
                        <img src="{% static 'img/img-lcen-2/mapa-constitucional-img.png' %}" alt="img mapa collage" class="collage-mapa">
                        <h3>Mapa<br> Constitucional</h3>
                        <a href="{% url 'mapa-constitucional' %}" class="btn-web-lcen">Revisar Mapa</a>
                    </div>
                </div>
            </div>
        </div>
    </section>


<!--<section class="container-fluid organizaciones-home no-bg organizaciones-seccion">
    <div class="container">
        <div class="row">
            <div class="organizaciones-lista wow animate__animated animate__fadeIn">
                <h2>Organizaciones Presentes</h2>
                <div class="decoracion green"></div>
                <ul>
                    {% for orgevaluadora in organizaciones_evaluadoras %}
                    <div class="col-6 col-sm-4 col-md-2">
                        <li><img src="{{ orgevaluadora.logo_org_norma.url }}" alt="organizacion logo" class="img-fluid logo"></li>
                    </div>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</section> -->

{% endblock %}
