{% extends "base.html" %}
{% load static %}
{% block title %}Inicio{% endblock %}

{% block content %}


<nav class="navbar navbar-expand-lg fixed-top">
    <div class="container-fluid">
        <div class="container">
            <a class="navbar-brand" href="{% url 'inicio' %}"><img src="{% static 'img/img-lcen-2/logo-lcen.svg' %}" alt="logo-lcen" class="logo-lcen"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="{% url 'quienes-somos' %}">¿Quiénes somos</a>
                    </li>
                    <li class="nav-item">
                          <a class="nav-link active" href="{% url 'iniciativas' %}">Iniciativas</a>
                    </li>
                    <li class="nav-item">
                          <a class="nav-link" href="{% url 'escano52' %}">Escaño52</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Recursos
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="{% url 'mapa-constitucional' %}">Mapa constitucional</a></li>
                            <li><a class="dropdown-item" href="{% url 'glosario-constitucional' %}">Glosario constitucional</a></li>
                            <li><a class="dropdown-item" href="{% url 'verevaluaciones' %}">Evaluaciones de normas</a></li>
                            <li><a class="dropdown-item" href="{% url 'evaluaciones_int' %}">Evaluación internacional</a></li>
                            <li><a class="dropdown-item" href="{% url 'ver_propuestas' %}">Propuestas ciudadanas</a></li>
                            <li><a class="dropdown-item" href="{% url 'constitucion-feminista' %}">Constitución feminista</a></li>
                            <li><a class="dropdown-item" href="{% url 'ensayos' %}">Ensayos</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'preguntas-frecuentes' %}">Preguntas Frecuentes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'contacto' %}">Contacto</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>

<section class="portada-lcen-colores no-margin-bottom">
    <img src="{% static 'img/mdp/header-mdp.png' %}" alt="img portada desktop" class="img-fluid img-banner-desktop">
    <img src="{% static 'img/mdp/header-mdp-mobile.png' %}" alt="img portada movil" class="img-fluid img-banner-movil">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'inicio' %}">Inicio</a></li>
            <li class="breadcrumb-item active" aria-current="page">Iniciativas</li>
        </ol>
    </nav>
</section>



<section class="post-plebiscito wow animate__animated animate__fadeIn no-margin-top" id="post-plebiscito">
    <div class="franja">
        <div class="img-alarma">
            <img src="{% static 'img/img-lcen-2/alarma-img.png' %}" alt="alarma" width="80px">
        </div>
        <div class="franja-contenido">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="informativo">
                            <img src="{% static 'img/img-lcen-2/circulo-rojo.svg' %}" alt="circulo-rojo" class="circulo-rojo parpadea">
                            <p><span>Informativo:</span></p>
                            <div class="et_pb_row et_pb_row_1">
                                <div class="et_pb_column et_pb_column_4_4 et_pb_column_2  et_pb_css_mix_blend_mode_passthrough et-last-child">
                                    <div class="et_pb_module et_pb_code et_pb_code_0">
                                        <div class="et_pb_code_inner">
                                            <div class="ticker-wrap">
                                                <div class="ticker">
                                                    <div class="ticker__item">
                                                        <p>Iniciativa popular de norma: Entre el 23 de junio y el 7 de julio puedes firmar por ellas</p>
                                                    </div>
                                                    <div class="ticker__item">
                                                        <p>Recuerda debes contar con clave única para participar.</p>
                                                    </div>
                                                    <div class="ticker__item">
                                                        <p>Las audiencias públicas son hasta el 21 de junio. Podrán solicitar ser recibidos en una audiencia.</p>
                                                    </div>
                                                    <div class="ticker__item">
                                                        <p>La consulta Ciudadana es durante todo el mes de la participación (del 7 de junio al 7 de julio).</p>
                                                    </div>
                                                    <div class="ticker__item">
                                                        <p>Puedes organizar y registrar los diálogos ciudadanos entre el 7 de junio y el 7 de julio.</p>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<section class="iniciativa-lectura">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-sm-12 col-md-8 col-lg-9 col-xl-9">
        <div class="volver">
           <ul>
              <li><a href="#">Iniciativas</a></li>
              <li><p> < </p></li>
              <li><p> <b>Agua para las comunidades y la naturaleza: desde el secano a la nueva Constitución</b></p></li>
           </ul>
        </div>
        <div class="iniciativa-textos">
          <p class="tema">Derechos</p>
          <p class="numero-iniciativa">Iniciativa n° 6791</p>
          <h4>Agua para las comunidades y la naturaleza: desde el secano a la nueva Constitución</h4>
          <div class="decoracion-iniciativa-lectura"></div>
          <!-- <p class="subtitulo">Aquí nos acercamos a la nueva constitución</p> -->
          <p class="descripcion">Nueva institucionalidad que regule el acceso al agua y su saneamiento, con perspectiva territorial y asegure la gestión comunitaria de cuencas</p>
          <!-- <p class="descripcion">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent aliquet ex diam. Aliquam nec massa nec mi pharetra condimentum. Nam viverra faucibus massa at porttitor. Proin non nulla molestie, venenatis risus fermentum, auctor urna. Ut eget rutrum ligula. Pellentesque eleifend maximus nibh fringilla rhoncus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aenean vitae lacinia mauris. Integer dapibus eros sit amet diam feugiat egestas. Maecenas porttitor eu enim vitae scelerisque. Donec auctor, nisi mollis gravida scelerisque, eros erat placerat nisi, ut porta dolor purus in libero. Aenean sed maximus enim.</p> -->
          <div class="decoracion-iniciativa-lectura"></div>
          <p class="realizada-por">Presentada por</p>
          <!-- <img src="{% static 'img/img-lcen-2/logo-lcen.svg' %}" alt="logo" class="logo-org"> -->
          <p class="texto-org">Fundación Superación de la Pobreza y el Proyecto Activa Secano</p>
        </div>
        <div class="apoyar">
           <a href="https://ucampus.quieroparticipar.cl/m/iniciativas/detalle?id=6791" class="btn-iniciativa" target="_blank">Apoyar iniciativa</a>
        </div>
      </div>

    </div>
  </div>
</section>


{% endblock %}
