{% extends "base.html" %} {% load static %} {% block title %} Inicio {% endblock %} {% block content %}

<section class="portada-lcen-colores">
    <img src="{% static 'img/header-constitucionfeminista.png' %}" alt="img collage portada" class="img-fluid img-banner-desktop">
    <img src="{% static 'img/header-constitucionfeminista-movil.png' %}" alt="img collage portada" class="img-fluid img-banner-movil">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'inicio' %}">Inicio</a></li>
            <li class="breadcrumb-item"><a href="{% url 'constitucion-feminista' %}">Constitución Feminista</a></li>
            <li class="breadcrumb-item active" aria-current="page">Juntas, Abortamos</li>
        </ol>
    </nav>
</section>


<section class="container-fluid constitucionfeminista-descripcion  no-bg py-5">
    <div class="container py-5 ensayos-descripcion reflexion">
        <div class="row d-flex justify-content-md-center">
            <div class="col-12 col-sm-12 col-md-9 wow animate__animated animate__fadeIn">
                <h2>Juntas, Abortamos</h2>
                <h3>Reflexiones de Colectivo Las Tesis</h3>

                <div class="decoracion violeta"></div>
                
                <div class="video-responsive"><iframe src="https://player.vimeo.com/video/463562343?h=a3a323f2d1&amp;title=0&amp;portrait=0" width="100%" height="100%" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen="" style="position:absolute; top:0; left: 0"></iframe></div>

                <p class="creditos-fotografico mt-4 mb-5 py-1">Video-performance colaborativa por el Día de Acción Global por un aborto legal y seguro. Colectivo LASTESIS / Valparaíso, 2020</p>

                <p>Tener el derecho humano a un aborto legal y seguro es de suma urgencia en nuestros territorios. Es imperativo que las políticas públicas reflejen las exigencias que desde las bases feministas se han enunciado hace décadas. No podemos seguir viviendo sin este derecho, y sin políticas que aseguren una educación sexual integral y nuestros derechos reproductivos.</p>

            </div>

            <div class="col-12 col-sm-12 col-md-9 wow animate__animated animate__fadeIn">
                <div class="logo-autor">
                    <img src="{% static 'img//logos-reflexiones/las-tesis-logo.jpg' %}" alt="logo autor">
                </div>
            </div>

        </div>
    </div>
</section>

{% endblock %}
