{% extends "base.html" %} {% load static %} {% block title %} Inicio {% endblock %} {% block content %}

<section class="portada-lcen-colores">
    <img src="{% static 'img/header-constitucionfeminista.png' %}" alt="img collage portada" class="img-fluid img-banner-desktop">
    <img src="{% static 'img/header-constitucionfeminista-movil.png' %}" alt="img collage portada" class="img-fluid img-banner-movil">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'inicio' %}">Inicio</a></li>
            <li class="breadcrumb-item"><a href="{% url 'constitucion-feminista' %}">Constitución Feminista</a></li>
            <li class="breadcrumb-item active" aria-current="page">Los desafíos del proceso constituyente para abordar la crisis (...)</li>
        </ol>
    </nav>
</section>


<section class="container-fluid constitucionfeminista-descripcion  no-bg py-5">
    <div class="container py-5 ensayos-descripcion reflexion">
        <div class="row d-flex justify-content-md-center">
            <div class="col-12 col-sm-12 col-md-9 wow animate__animated animate__fadeIn">
                <h2>Los desafíos del proceso constituyente para abordar la crisis de los cuidados: la importancia del reconocimiento y la urgencia de la redistribución</h2>
                <h3>Reflexiones de Cooperativa Desbordada</h3>

                <div class="decoracion violeta"></div>
                
               <p>En un contexto de crisis múltiples, los cuidados en todas sus dimensiones han sido indispensables en la tarea de sostener la vida. Sin embargo, han sido mantenidos en la precariedad y falta de reconocimiento. La pandemia y sus efectos han dejado en evidencia que <b><i><span>el modelo capitalista, depredador de la vida y la naturaleza, es incompatible con el horizonte del buen vivir.</span></i></b></p>
               
               <p>Durante la pandemia se puso en evidencia que <b><i><span>la intensa carga de trabajo de cuidados no remunerados al interior de los hogares es sostenida principalmente en los hombros de cuerpos feminizados</span></i></b> y fue intensificada, además, por el cierre de las escuelas y por la mayor demanda de cuidados de la salud producto del virus. Asimismo, se constató que existen trabajos que están más expuestos al desarrollarse en el marco de la informalidad, como es el caso de las trabajadoras de casa particular.</p>
               
               <p>Por eso, ante el proceso constituyente que vive el país actualmente, <b><i><span>los cuidados deben ser un eje fundamental de la nueva sociedad que se busca construir.</span></i></b> En ese sentido, es necesario asumir que las personas no son independientes sino, muy por el contrario, interdependientes y ecodependientes, es decir, que necesitan de otras personas y de la Naturaleza para vivir.</p>
               
               <p><b><i><span>Los cuidados refieren a los trabajos que nunca paran y que permiten sostener la vida, que se realizan tanto dentro como fuera del hogar, a cambio o no de un salario.</span></i></b> Se trata de labores presentes a lo largo de todo el ciclo de vida: del cuidado de la infancia, de personas dependientes y mayores, la salud y la educación y de todas las actividades de trabajo doméstico necesarias cotidianamente. Se trata del cuidado de los animales y la Naturaleza, de los territorios y la defensa de las aguas y de la lucha por los derechos sexuales y reproductivos, igual que para el autocuidado. Se trata también de las estrategias de resistencia y protección colectiva entre mujeres, lesbianas y disidencias, entre muchas otras expresiones cotidianas.</p>
               
               <p>En ese contexto, <b><i><span>la política pública es una herramienta que puede incidir en enfrentar la crisis de los cuidados, pero la magnitud de esta crisis excede las posibilidades de ser abordada solo a través de este mecanismo.</span></i></b> Porque cuando se habla de cuidados también se incluyen otras muchas dimensiones que han estado fuera de su ámbito de aplicación; como la defensa de los territorios y las aguas, el trabajo de cooperativas de abastecimiento local o a las redes de defensa de las disidencias sexo-genéricas.</p>
               
               <p>Ahora, en el marco de la política pública existen diversas propuestas en torno al cuidado remunerado y no remunerado que se pueden rescatar desde las organizaciones de cuidadoras y los movimientos feministas. Por ejemplo, <b><i><span>las trabajadoras de casa particular han estado levantando una agenda incansable, incluso antes de la pandemia</span></i></b>, para promover su formalización, ser consideradas como trabajadoras de igual categoría al empleo asalariado, acceder al seguro de desempleo y, en general, mejorar sus condiciones laborales.</p>
               
               <p>Otro ejemplo, es <b><i><span>la agenda que han planteado las cuidadoras no remuneradas respecto a la necesidad de un sistema plurinacional de cuidados.</span></i></b> En este caso, puede reconocerse que existe un trabajo a escala local, en el que las cooperativas y organizaciones de cuidadoras han presentado propuestas concretas a los municipios sobre un abordaje de los cuidados que se ajuste a las necesidades reales de cuidadoras y dependientes. <b><i><span>A escala nacional, es posible esbozar propuestas que aborden una visión integral de los cuidados en todo el territorio, en las que el gobierno central pueda destinar recursos a los cuidados, considerándolos como un cuarto pilar de la protección social y ya no solo como una política aislada.</span></i></b></p>
               
                <p><span class="destacado-reflexion">En materia constitucional, el reconocimiento de los cuidados como principio y como derecho fundamental permite avanzar en varias dimensiones.</span> En primer lugar, aporta a la reparación y visibilización de un trabajo desvalorizado por el Estado en toda su historia. En segundo lugar, dando espacio para la generación de políticas que permitan redistribuir y reducir el tiempo de cuidados que ocupan los cuerpos feminizados actualmente.</p>
               
                <p><span class="destacado-reflexion">En materia de reparación y visibilización, reconocer a las personas que cuidan –remunerada y no remuneradamente– como trabajadoras permite problematizar, por ejemplo, la clasificación que tienen para ser titulares de derechos sociales.</span> Hasta ahora la idea de que las personas que cuidan no remuneradamente son inactivas o que no trabajan proviene de una <b><i><span>visión androcéntrica del trabajo.</span></i></b> La realidad es que esta clasificación es bastante tramposa ya que incluso después de los 70 años, las mujeres llegan a trabajar en promedio más de 40 horas semanales, principalmente en horas dedicadas al trabajo doméstico y de cuidados. <b><i><span>En la práctica, no se jubilan nunca de sus funciones.<sup>1</sup></span></i></b></p>
               
               <p>En esa misma línea, <b><i><span>el reconocimiento permitiría contabilizar el Trabajo Doméstico No Remunerado</span></i></b> en Encuestas de Uso del Tiempo (EUT) periódicas y levantar la Cuenta Satélite del Trabajo Doméstico No Remunerado para medir la producción fuera de los sistemas de cuentas nacionales. Recién este año se realizó en Chile un cálculo respaldado por el órgano rector de las cuentas nacionales, el Banco Central, pero producto de la falta de continuidad de las EUT no es un ejercicio que se pueda hacer anualmente de manera sistemática. Según este estudio, el valor de este trabajo alcanzó un 25,6% del Producto Interno Bruto (PIB). Estos cálculos no son un ejercicio meramente simbólico. Reconocer y valorar estas labores es un primer paso para priorizarlas en las políticas públicas, sobre todo ante la necesidad urgente de políticas contracíclicas para enfrentar la crisis económica, sanitaria y social que ha provocado la pandemia.</p>
               
                <p><span class="destacado-reflexion">En materia de redistribución y reducción del trabajo de cuidados, con el debate constitucional se puede ahondar en las nociones de políticas sobre la provisión de cuidados.</span> En Chile, la responsabilidad principal de proveer cuidado se concentra en los hogares, y dentro de ellos, en los cuerpos feminizados, independiente de su situación laboral. <b><i><span>Para buscar una distribución equitativa de los cuidados, es necesario que la discusión sobre la organización social de los cuidados, los entienda como un derecho y  no se base en la capacidad de pago de los servicios de cuidado en el mercado.</span></i></b> En ese sentido, el reconocimiento constitucional podría permitir abordar políticas efectivas de corresponsabilidad de los cuidados y salir del esquema maternalista en el que se han pensado desde el Estado.</p>
               
               <p>En ese sentido, <b><i><span>reconocer constitucionalmente los cuidados supone también reconocer los aportes de años de lucha feminista que han señalado que los cuidados no son un asunto privado, sino que, por el contrario, convoca a la sociedad en todos sus niveles. El reconocimiento constitucional puede ser una puerta a la proyección de un sistema plurinacional de cuidados.</span></i></b> Una propuesta que ha surgido desde los movimientos feministas y que pone en el centro el reconocimiento de las experiencias de las comunidades, las cuales han resistido a través de los cuidados a un sistema que les ha atacado sistemáticamente. Estas reflexiones parten por comprender, reconocer y visibilizar las redes de cuidados que se traman en los territorios. En ese sentido, <b><i><span>el reconocimiento constitucional podría traer también la oportunidad de redireccionar los ejes de accióna necesidades diversas, con perspectiva local.</span></i></b></p>
               
               <p>Todas estas dimensiones que abre el reconocimiento son solo un eslabón en el proceso de entender las actividades relacionadas a los <b><i><span>cuidados como la base del funcionamiento económico.</span></i></b> El desafío es girar hacia formas de consumo, producción y reproducción realmente transformadoras que posibiliten vidas dignas y sostenibles. Para ello es clave reconocer el rol de los trabajos de cuidados en el bienestar social, quitar espacio a los mercados capitalistas y generar modos de producción local acordes a las necesidades vitales de la mayoría.</p>
               
                <br>
                <hr>
                <br>
                
                <h5>Referencias:</h5>
                <p class="ref-cf"><sup>1</sup> Cooperativa Desbordada (2020) La crisis del sistema de pensiones chileno: una mirada desde la economía feminista.</p>

            </div>

            <div class="col-12 col-sm-12 col-md-9 wow animate__animated animate__fadeIn">
                <div class="logo-autor">
                    <img src="{% static 'img//logos-reflexiones/logo-desbordada.jpg' %}" alt="logo autor">
                </div>
            </div>

        </div>
    </div>
</section>

{% endblock %}
