{% extends "base.html" %} {% load static %} {% block title %} Inicio {% endblock %} {% block content %}

<section class="portada-lcen-colores">
    <img src="{% static 'img/header-constitucionfeminista.png' %}" alt="img collage portada" class="img-fluid img-banner-desktop">
    <img src="{% static 'img/header-constitucionfeminista-movil.png' %}" alt="img collage portada" class="img-fluid img-banner-movil">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'inicio' %}">Inicio</a></li>
            <li class="breadcrumb-item"><a href="{% url 'constitucion-feminista' %}">Constitución Feminista</a></li>
            <li class="breadcrumb-item active" aria-current="page">Nueva constitución, niñas y adolescentes</li>
        </ol>
    </nav>
</section>


<section class="container-fluid constitucionfeminista-descripcion  no-bg py-5">
    <div class="container py-5 ensayos-descripcion reflexion">
        <div class="row d-flex justify-content-md-center">
            <div class="col-12 col-sm-12 col-md-9 wow animate__animated animate__fadeIn">
                <h2>Nueva Constitución, niñas y adolescentes</h2>
                <h3>Reflexiones de Paz, 14 años</h3>
                <div class="decoracion violeta"></div>
                <p>Uno de los factores influyentes para mejorar la vida de las mujeres en una nueva Constitución, es <b><i><span>lograr la igualdad entre los géneros, generando de este modo, un ambiente sociocultural más seguro.</span></i></b></p>

                <p>Paralelamente, es importante <b><i><span>equiparar sueldos, destacar proyectos de grandes mujeres y restaurar una educación no sexista y feminista, para así garantizar a las  futuras generaciones femeninas una vida con seguridad, igualdad y equidad en todo contexto.</span></i></b></p>
                
                <p>Por otro lado, es fundamental <b><i><span>cambiar el paradigma respecto al género femenino, queriendo decir que este no esté ligado constantemente a roles domésticos</span></i></b>, debido a que mujeres se han sentido forzadas en el momento de optar por ciertas decisiones que, en muchos casos, son contra de su voluntad. </p>
                
                <p>En conclusión, <span class="destacado-reflexion">la nueva Constitución será esencial para mejorar la oportunidad de  vida de las mujeres en Chile, en el ámbito social, cultural y ambiental.</span></p>
                
            </div>

            <div class="col-12 col-sm-12 col-md-9 wow animate__animated animate__fadeIn">
                <div class="logo-autor">
                    <img src="{% static 'img//logos-reflexiones/logo-opcion.jpg' %}" alt="logo autor">
                </div>
            </div>

        </div>
    </div>
</section>

{% endblock %}
