{% extends "base.html" %} {% load static %} {% block title %} Inicio {% endblock %} {% block content %}

<section class="portada-lcen-colores">
    <img src="{% static 'img/mapa-contitucional-banner.png' %}" alt="img collage portada" class="img-fluid img-banner-desktop">
    <img src="{% static 'img/mapa-constitucional-movil-banner.png' %}" alt="img collage portada" class="img-fluid img-banner-movil">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'inicio' %}">Inicio</a></li>
            <li class="breadcrumb-item"><a href="{% url 'mapa-constitucional' %}">Mapa Constitucional</a></li>
            <li class="breadcrumb-item active" aria-current="page">Personas migrantes</li>
        </ol>
    </nav>
</section>

<section class="container mapa-constitucional-terminos">
    <div class="row">
        <div class="col-12 col-md-12 col-lg-4">
            <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'mapa-constitucional' %}">Temas</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Personas migrantes</li>
                </ol>
            </nav>

            <!-- Button trigger modal -->
            <button type="button" class="btn-concepto-modal" data-bs-toggle="modal" data-bs-target="#exampleModal">Derechos humanos y fundamentales</button>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Derechos humanos y fundamentales</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <p>Los derechos humanos o fundamentales son los derechos que tenemos básicamente por existir como seres humanos. Pertenecen a todas las personas, con independencia de la nacionalidad, género, origen étnico, color, religión, idioma o cualquier otra condición.</p>
                            <h4>¿Qué son los derechos económicos, sociales, culturales y ambientales?</h4>
                            <p>Los Derechos Económicos Sociales, Culturales y Ambientales (DESCA) son los derechos humanos que garantizan condiciones sociales y económicas básicas necesarias para una vida en dignidad y libertad.</p>
                            <h4>¿Cómo avanzar hacia la igualdad y la no disciminación?</h4>
                            <p>Las desigualdades amenazan el desarrollo social y económico a largo plazo, dificultan la reducción de la pobreza y destruyen el sentimiento de plenitud y valía de las personas. Es por eso debe avanzarse hacia formas de igualdad sustantiva entre todas las personas.</p>
                            <p>Fuente: <a href="https://www.ohchr.org/sp/issues/pages/whatarehumanrights.aspx" target="_blank" class="enlaces">ohchr.org</a>, <a href="https://www.escr-net.org/es/derechos" target="_blank" class="enlaces">escr-net.org</a> y <a href="https://www.es.amnesty.org/en-que-estamos/blog/historia/articulo/derechos-civiles-derechos-politicos/" target="_blank" class="enlaces">es.amnesty.org</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <h3>Personas migrantes</h3>
            <p>Con frecuencia, las personas migrantes y sus familiares se encuentran en situación de vulnerabilidad debido, entre otras cosas, a la ausencia de su Estado de origen y a las dificultades con las que tropiezan en razón de su presencia en un Estado distinto, lo que a menudo se suma a graves problemas de dispersión familiar y se ve agravado en casos de migración irregular. Por lo anterior, los Estados tienen la obligación de respetar y asegurar a las personas migrantes todos los derechos humanos en igualdad de condiciones y sin distinción alguna, incluidos la protección de la educación religiosa y moral de los hijos según sus propias convicciones, la protección contra la violencia y contra la privación arbitraria de sus bienes, entre muchos otros.</p>
            <p>Fuente: <b>ONU (1990) Convención internacional sobre la protección de los derechos de todos los trabajadores migratorios y de sus familiares.</b></p>
        </div>

        <div class="col-12 col-md-12 col-lg-8">
            <div class="d-flex align-items-start">

                <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <h4>5 contenidos asociados</h4>
                    <button class="nav-link active" id="v-pills-tab-1" data-bs-toggle="pill" data-bs-target="#v-pills-1" type="button" role="tab" aria-controls="v-pills-1" aria-selected="true"><span>Igualdad y no discriminación</span></button>
                    <button class="nav-link" id="v-pills-tab-2" data-bs-toggle="pill" data-bs-target="#v-pills-2" type="button" role="tab" aria-controls="v-pills-2" aria-selected="false"><span>Seguridad</span></button>
                    <button class="nav-link" id="v-pills-tab-3" data-bs-toggle="pill" data-bs-target="#v-pills-3" type="button" role="tab" aria-controls="v-pills-3" aria-selected="false"><span>Expulsiones colectivas</span></button>
                    <button class="nav-link" id="v-pills-tab-4" data-bs-toggle="pill" data-bs-target="#v-pills-4" type="button" role="tab" aria-controls="v-pills-4" aria-selected="false"><span>Refugiados y apátridas</span></button>
                    <button class="nav-link" id="v-pills-tab-5" data-bs-toggle="pill" data-bs-target="#v-pills-5" type="button" role="tab" aria-controls="v-pills-5" aria-selected="false"><span>Prohibición de devolución</span></button>

                </div>

                <div class="tab-content" id="v-pills-tabContent">

                    <div class="tab-pane fade show active" id="v-pills-1" role="tabpanel" aria-labelledby="v-pills-tab-1">
                        <p class="text-bold">¿Cómo avanzar hacia la igualdad y la no disciminación?</p>
                        <h4>Igualdad y no discriminación</h4>
                        <p>Las personas y familias migrantes tienen el derecho a que se les respeten y aseguren sus derechos humanos en el Estado en que se encuentren, sin distinción alguna por motivos de sexo, raza, color, idioma, religión o convicción, opinión política o de otra índole, origen nacional, étnico o social, nacionalidad, edad, situación económica, patrimonio, estado civil, nacimiento o cualquier otra condición. Esto incluye la garantía de derechos a la educación, salud y trabajo entre otros.</p>
                        <p>Fuente: <b>ONU (1990) Convención internacional sobre la protección de los derechos de todos los trabajadores migratorios y de sus familiares.</b></p>
                        <!--<hr>
                        <h5>Otros temas asociados</h5>
                        <ul>
                            <li><a href="#" class="btn-lcen button hvr-sweep-to-right">Item</a></li>
                        </ul>-->
                    </div>

                    <div class="tab-pane fade" id="v-pills-2" role="tabpanel" aria-labelledby="v-pills-tab-2">
                        <p class="text-bold">¿Cómo avanzar hacia la igualdad y la no disciminación?</p>
                        <h4>Seguridad</h4>
                        <p>Las personas y familias migrantes tienen derecho a la seguridad, lo que incluye la prohibición de sometimiento a la esclavitud y servidumbre, la protección contra la exigencia de trabajos forzosos u obligatorios y la prohibición de sometimiento a torturas y tratos o penas crueles, inhumanos y degradantes.</p>
                        <p>Fuente: <b>ONU (1990) Convención internacional sobre la protección de los derechos de todos los trabajadores migratorios y de sus familiares.</b></p>
                        <!--<hr>
                        <h5>Otros temas asociados</h5>
                        <ul>
                            <li><a href="#" class="btn-lcen button hvr-sweep-to-right">Item</a></li>
                        </ul>-->
                    </div>

                    <div class="tab-pane fade" id="v-pills-3" role="tabpanel" aria-labelledby="v-pills-tab-3">
                        <p class="text-bold">¿Cómo avanzar hacia la igualdad y la no disciminación?</p>
                        <h4>Expulsiones colectivas</h4>
                        <p>Las medidas de expulsión colectiva de personas y familias migrantes se encuentran prohibidas por el derecho internacional. En caso de realizarse expulsiones, cada caso debe ser examinado y decidido individualmente.</p>
                        <p>Fuente: <b>ONU (1990) Convención internacional sobre la protección de los derechos de todos los trabajadores migratorios y de sus familiares.</b></p>
                        <!--<hr>
                        <h5>Otros temas asociados</h5>
                        <ul>
                            <li><a href="#" class="btn-lcen button hvr-sweep-to-right">Item</a></li>
                        </ul>-->
                    </div>
                    
                    <div class="tab-pane fade" id="v-pills-4" role="tabpanel" aria-labelledby="v-pills-tab-4">
                        <p class="text-bold">¿Cómo avanzar hacia la igualdad y la no disciminación?</p>
                        <h4>Refugiados y apátridas</h4>
                        <p>Son refugiadas las personas que debido a fundados temores de ser perseguidas por motivos de raza, religión, nacionalidad, pertenencia a determinado grupo social u opiniones políticas, se encuentre fuera del país de su nacionalidad y no puedan, o a causa de dichos temores no quieran, acogerse a la protección de tal país.</p>
                        <p>Por su parte, apátrida es toda persona que no sea considerada como nacional suyo por ningún Estado, conforme a su propia legislación.</p>
                        <p>Fuente: <b>ACNUR (1992) Manual de procedimentos y criterios para determinar la condición de refugiado en virtud de la Convención de 1951 y el Protocolo de 1967 sobre el estatuto de los Refugiados, UNHCR (2014) Convención sobre el estatuto de los apátridas.</b></p>
                        <!--<hr>
                        <h5>Otros temas asociados</h5>
                        <ul>
                            <li><a href="#" class="btn-lcen button hvr-sweep-to-right">Item</a></li>
                        </ul>-->
                    </div>
                    
                    <div class="tab-pane fade" id="v-pills-5" role="tabpanel" aria-labelledby="v-pills-tab-5">
                        <p class="text-bold">¿Cómo avanzar hacia la igualdad y la no disciminación?</p>
                        <h4>Prohibición de devolución</h4>
                        <p>Implica que ningún Estado puede, por expulsión o devolución, poner en modo alguno a una persona refugiada en las fronteras de los territorios donde su vida o su libertad peligre por causa de su raza, religión, nacionalidad, pertenencia a determinado grupo social, o de sus opiniones políticas.</p>
                        <p>Fuente: <b>ONU (1951) Convención sobre el Estatuto de los Refugiados.</b></p>
                        <!--<hr>
                        <h5>Otros temas asociados</h5>
                        <ul>
                            <li><a href="#" class="btn-lcen button hvr-sweep-to-right">Item</a></li>
                        </ul>-->
                    </div>

                </div>
            </div>
        </div>
    </div>

</section>


{% endblock %}
