{% extends "base2.html" %} {% load static %} {% block title %} Programa {% endblock %} {% block content %}

<section class="container mapa-constitucional-terminos">
<div class="col-12 col-sm-12 col-md-6">
  <img src="{% static 'img/reimaginala.png' %}" alt="img portada" class="img-fluid">
</div>

<div class="informacion">
<p>MIÉRCOLES 06 DE ABRIL
<p>Objetivo del día: Conocer el estado del arte de los procesos de cambio político en América Latina a partir del proceso constituyente chileno como un punto de entrada, con el fin de avanzar en miradas comunes de la región y posibles caminos de colaboración.


<table>

<tr>
  <th>Inicio</th>
  <th>Fin</th>
  <th>Actividad</th>
</tr>
<tr>
<td>8:15:00</td>
<td>8:45:00</td>
<td>Encuentro en la recepción del Hotel Mercure y traslado en grupo a Colunga (lugar de las actividades del encuentro)</td>
</tr><tr>
<td>8:45:00</td>
<td>9:45:00</td>
<td>Bienvenida y apertura del evento</td>
</tr><tr>
<td>9:45:00</td>
<td>11:15:00</td>
<td>Conversatorio 1 - Perspecticas del proceso chileno: Democracia y participación</td>
</tr><tr>
<td>11:15:00</td>
<td>11:45:00</td>
<td>Café</td>
</tr><tr>
<td>11:45:00</td>
<td>13:15:00</td>
<td>Conversatorio 2 - Perspecticas del proceso chileno: Servicios Públicos y Justicia fiscal en contexto de crisis climática</td>
</tr><tr>
<td>13:15:00</td>
<td>15:00:00</td>
<td>Almuerzo</td>
</tr><tr>
<td>15:00:00</td>
<td>17:30:00</td>
<td>Panel y dinámica de conversación - Desde Chile a Latinoamérica: ¿Cómo se están dando las agendas de justicia fiscal, medio ambiente y democracia y participación en Chile y América Latina?</td>
</tr><tr>
<td>17:30:00</td>
<td>18:00:00</td>
<td>Cierre</td>
</tr><tr>
<td>18:00:00</td>
<td>21:00:00</td>
<td>Cena conjunta</td>
</tr>
</table>


<p>JUEVES 07 DE ABRIL
<p>Objetivo del día: Empaparse del estado de la discusión constitucional en temas prioritarios, generar intercambio con tomadores de decisiones y levantar un diagnóstico y sueño común en torno a estas temáticas en la región.

<table>
<tr>
  <th>Inicio</th>
  <th>Fin</th>
  <th>Actividad</th>
</tr>
<tr>
<td>7:15:00</td>
<td>8:00:00</td>
<td>Encuentro en la recepción del Hotel Mercure y traslado en grupo al ex Congreso (donde opera la Convención Constitucional)</td>
</tr><tr>
<td>8:00:00</td>
<td>11:00:00</td>
<td>Visita a la Convención Constitucional y encuentros con convencionales</td>
</tr><tr>
<td>11:00:00</td>
<td>12:00:00</td>
<td>Espacio para encuentros bilaterales entre organizaciones</td>
</tr><tr>
<td>12:00:00</td>
<td>14:30:00</td>
<td>Brunch (continúan bilaterales)</td>
</tr><tr>
<td>14:30:00</td>
<td>16:00:00</td>
<td>Dinámica grupal de diagnóstico regional</td>
</tr><tr>
<td>16:00:00</td>
<td>16:30:00</td>
<td>Café</td>
</tr><tr>
<td>16:30:00</td>
<td>18:00:00</td>
<td>Dinámica grupal de identificación de oportunidades y amenazas para agendas de cambio en la región</td>
</tr><tr>
<td>18:00:00</td>
<td>18:30:00</td>
<td>Cierre</td>
</tr><tr>
<td>18:30:00</td>
<td>20:30:00</td>
<td>Cena conjunta</td>
</tr>

</table>




<p>VIERNES 08 DE ABRIL
<p>Objetivo del día: Creación y comunicación de un plan de trabajo conjunto para agendas de cambio a nivel la región.

<table>
<tr>
  <th>Inicio</th>
  <th>Fin</th>
  <th>Actividad</th>
</tr>
<tr>
<td>9:00:00</td>
<td>9:45:00</td>
<td>Encuentro en la recepción del Hotel Mercure y traslado en grupo a Colunga (lugar de las actividades del encuentro)</td>
</tr><tr>
<td>9:45:00</td>
<td>11:15:00</td>
<td>Dinámica para la creación de un plan de trabajo conjunto para validar los procesos democráticos en Chile y la región</td>
</tr><tr>
<td>11:15:00</td>
<td>11:45:00</td>
<td>Café</td>
</tr><tr>
<td>11:45:00</td>
<td>13:15:00</td>
<td>Dinámica para la creación de un plan de trabajo conjunto</td>
</tr><tr>
<td>13:15:00</td>
<td>13:45:00</td>
<td>Punto de prensa</td>
</tr><tr>
<td>13:45:00</td>
<td>15:00:00</td>
<td>Almuerzo</td>
</tr><tr>
<td>15:00:00</td>
<td>18:00:00</td>
<td>Espacio para reuniones bilaterales entre organizaciones invitadas</td>
</tr><tr>
<td>18:00:00</td>
<td>20:00:00</td>
<td>Cena de cierre</td></tr>
</table>

</div>

</section>

{% endblock %}
