{% extends "base.html" %} {% load static %} {% block title %} Inicio {% endblock %} {% block content %}

<section class="portada-lcen-colores">
    <img src="{% static 'img/header-constitucionfeminista.png' %}" alt="img collage portada" class="img-fluid img-banner-desktop">
    <img src="{% static 'img/header-constitucionfeminista-movil.png' %}" alt="img collage portada" class="img-fluid img-banner-movil">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'inicio' %}">Inicio</a></li>
            <li class="breadcrumb-item"><a href="{% url 'constitucion-feminista' %}">Constitución Feminista</a></li>
            <li class="breadcrumb-item active" aria-current="page">Salud y autonomía sexual y reproductiva</li>
        </ol>
    </nav>
</section>


<section class="container-fluid constitucionfeminista-descripcion  no-bg py-5">
    <div class="container py-5 ensayos-descripcion reflexion">
        <div class="row d-flex justify-content-md-center">
            <div class="col-12 col-sm-12 col-md-9 wow animate__animated animate__fadeIn">
                <h2>Salud y autonomía sexual y reproductiva</h2>
                <h3>Reflexiones de Fundación Observatorio de Violencia Obstétrica de Chile (OVO CHILE)</h3>

                <div class="decoracion violeta"></div>

                <p>Como Fundación Observatorio de Violencia Obstétrica de Chile (OVO) creemos que <b><i><span>es fundamental que la nueva constitución garantice la autonomía sexual y reproductiva, como un derecho autónomo para todas las personas que viven en nuestro territorio. Es importante que se resguarde y priorice una atención de salud basada en el respeto, con especial protección a grupos vulnerables, como mujeres, adolescentes, migrantes y disidencias sexuales.</span></i></b></p>

                <p><b><i><span>Se debe establecer plena autonomía de decisión sobre la salud sexual y reproductiva tanto para mujeres y disidencias</span></i></b>, incluyendo una atención respetuosa y humanizada en las etapas de gestación, parto, puerperio y aborto. Junto con ello se debe considerar y resguardar que la maternidad sea una elección consciente y no impuesta, <b><i><span>pues la maternidad será deseada o no será.</span></i></b></p>

                <p>La Organización de las Naciones Unidas (ONU) en el año 2019, en su informe acerca de un enfoque basado en los derechos humanos del maltrato y la violencia contra la mujer en los servicios de salud reproductiva, con especial hincapié en la atención del parto y la violencia obstétrica, instó a los estados a hacerse cargo de este tipo de violencia contra la mujer, tan normalizado, para darle una solución en el corto plazo. Por eso creemos que es fundamental que la nueva Constitución garantice educación sexual y autonomía para todos y todas.</p>

                <p>Según información recopilada en un comparativo de constituciones a nivel mundial, realizado por la <b><i><span>Biblioteca del Congreso, la única Constitución del mundo que incluye el concepto de salud sexual y reproductiva es la de Ecuador del año 2008.</span></i></b> Ésta señala en el ámbito de Derecho a la Salud, que el Estado garantizará este derecho mediante políticas económicas, sociales, culturales, educativas y ambientales; y el acceso permanente, oportuno y sin exclusión a programas, acciones y servicios de promoción y atención integral de salud, salud sexual y salud reproductiva. Además, en el Artículo 363 en los puntos 4, 5 y 6 aborda lo siguiente, que nos parece muy atingente y creemos que se debería incluir en la constitución chilena:</p>

                <p>4. Garantizar las prácticas de salud ancestral y alternativa mediante el reconocimiento, respeto y promoción del uso de sus conocimientos, medicinas e instrumentos.</p>

                <p>5. Brindar cuidado especializado a los grupos de atención prioritaria establecidos en la Constitución.</p>

                <p>6. Asegurar acciones y servicios de salud sexual y de salud reproductiva, y garantizar la salud integral y la vida de las mujeres, en especial durante el embarazo, parto y postparto.</p>

                <p>Sabemos que <b><i><span>el control de la sexualidad ha operado como un dispositivo histórico de dominación hacia las mujeres, al no permitirles decidir sobre su propio cuerpo</span></i></b>, cuestión que podemos ver, por ejemplo, en los osbtáculos para garantizar el aborto libre o las barreras históricas de acceso a metodos de anticoncepción, lo que se ha agravado con la pandemia.</p>

                <p>Eso sumado a la poca educación sexual que existe en nuestro país, afectan de sobremanera el poder de las mujeres y disidencias de decidir sobre sus cuerpos, el primer territorio que gobernamos.</p>

                <p><span class="destacado-reflexion">Por eso creemos que la autonomía sexual y reproductiva deberían ser garantizadas por la constitución, reconociendo además la diversidad existente en nuestro país. Es importante, en este sentido, que junto con ella se incluyan también ciertos principios y garantías como la igualdad y la no discriminación en cuanto al género y una educación no sexista, de la mano del derecho a las mujeres de una vida libre de violencia, incluyendo dentro de éstas aquella que ocurre en la atención gineco-obstétrica, donde se debe respetar ante todo, el poder de decisión y autonomía de cada ser humano.</span></p>

                <p><b><i><span>La nueva Constitución, debe asegurar los derechos sexuales y reproductivos de las mujeres, la autonomía y voluntad en las decisiones que se tengan que tomar durante las distintas etapas del ciclo reproductivo y sexual, además de garantizar un trato digno en toda atención de salud, sumando el respetar las prácticas ancestrales de los pueblos originarios, protegiendo la tradición y cultura de distintas formas de nacer.</span></i></b></p>

                <p>Actualmente, el único instrumento jurídico para resolver la mayoría de los casos de violencia gineco obstétrica en Chile es la ley de derechos y deberes del paciente, la cual es absolutamente insuficiente, porque al tener un enfoque general, no se hace cargo de manera adecuada de esta forma de violencia en toda su extensión y con todos sus matices.</p>

                <p>En ese contexto, distintas organizaciones de la sociedad civil, agrupadas en la Mesa de Parto Respetado y la Coordinadora por los derechos del nacimiento, junto la diputada del Frente Amplio, Claudia Mix, impulsamos el proyecto de <a href="https://www.camara.cl/verDoc.aspx?prmTipo=SIAL&prmID=43268&formato=pdf" target="_blank">Ley Adriana</a>, que nace por la experiencia de Adriana Palacios, quien en 2017, en Alto Hospicio, sufrió violencia obstétrica y una serie de negligencias médicas que provocaron que su hija Trinidad, naciera sin vida.</p>

                <p>Actualmente, este proyecto de ley se está tramitando en la comisión de Mujeres y Equidad de Género de la Cámara de Diputados y Diputadas, <b><i><span>y tiene como fundamentos el regular, garantizar y promover los derechos de la mujer y persona gestante, del recién nacido y de su acompañante, durante todo el proceso de gestación, preparto, parto y postparto y aborto, además de abordar la violencia gineco-obstétrica.</span></i></b></p>

                <p>Una regulación como esta supone un reconocimiento simbólico y una validación social de los miles de testimonios y experiencias de mujeres que han sido violentadas en sus partos en nuestro país, sin embargo no es suficiente. <b><i><span>Necesitamos que además de la regulación legal, exista en Chile un reconocimiento de rango Constitucional que posibilite la promoción y resguardo efectivo de los derechos de las mujeres y personas gestantes a la luz de lo que existe a nivel internacional.</span></i></b></p>


                <h5 class="mt-5 mb-4"><strong>Nuestra experiencia como OVO Chile y la necesidad de regular y consagrar a nivel Constitucional los derechos sexuales y reproductivos</strong></h5>



                <p><a href="http://ovochile.cl/" target="_blank">OVO Chile</a> es una fundación creada en el año 2017, que busca educar en temas relacionados al nacimiento en nuestro país y América Latina. Dentro de los objetivos centrales de la institución, está el entregar información actualizada sobre el nacimiento con el fin de prevenir casos de violencia obstétrica, brindar acompañamiento psicológico y jurídico a mujeres que hayan sufrido este tipo de violencia.</p>

                <p>Una de las principales metas que tenemos como Fundación, es que todas las mujeres y personas gestantes puedan vivir la experiencia del nacimiento de manera positiva y segura. En OVO recibimos múltiples consultas por experiencias de parto en donde mujeres y sus familias, señalan de haber sido víctimas de violencia obstétrica.</p>

                <p>Hemos podido acompañar y asesorar a muchas mujeres, y ahora estamos enfocados en difundir formaciones académicas para educar y capacitar a los actores que participan activamente de las gestaciones en distintos niveles de salud.</p>

                <p>Creemos firmemente que educar desde la evidencia y con empatía, nos permitirá contar con actores que se involucren con una mirada respetuosa en torno al nacimiento en Chile, pero también sabemos que el gran cambio que se necesita requiere de la participación activa del Estado.</p>

                <p><span class="destacado-reflexion">Como Fundación, proponemos garantizar la autonomía en materia de derechos sexuales y reproductivos, el poder de decisión y sobre todo erradicar toda forma de violencia contra las mujeres. Casos de trato deshumanizado en momentos de alta vulnerabilidad por dolor o falta de información, exceso de medicalización no justificada, patologización de procesos naturales del ciclo sexual y de la gestación, son formas de infantilización de la mujer y sobre todo son tipos de vulneración a los derechos de las mujeres y personas gestantes, pues niegan la autonomía sobre el propio cuerpo y sus deseos reproductivos. Lamentablemente, no se trata de casos aislados, por lo que un cambio real requiere del esfuerzo de todos, pero sobre todo requiere de acciones concretas por parte del Estado, siendo su reconocimiento a nivel Constitucional, un paso absolutamente necesario.</span></p>

            </div>

            <div class="col-12 col-sm-12 col-md-9 wow animate__animated animate__fadeIn">
                <div class="logo-autor">
                    <img src="{% static 'img//logos-reflexiones/logo-violencia-obtetrica-chile.jpg' %}" alt="logo autor">
                </div>
            </div>

        </div>
    </div>
</section>

{% endblock %}
