{% extends "base.html" %}
{% load static %}
{% block title %} Inicio {% endblock %}
{% block content %}

<section class="portada-lcen-colores">
    <img src="{% static 'img/mapa-contitucional-banner.png' %}" alt="img collage portada" class="img-fluid img-banner-desktop">
    <img src="{% static 'img/mapa-constitucional-movil-banner.png' %}" alt="img collage portada" class="img-fluid img-banner-movil">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'inicio' %}">Inicio</a></li>
            <li class="breadcrumb-item"><a href="{% url 'mapa-constitucional' %}">Mapa Constitucional</a></li>
            <li class="breadcrumb-item active" aria-current="page">Sistema de Gobierno</li>
        </ol>
    </nav>
</section>

<section class="container mapa-constitucional-terminos">
    <div class="row">
        <div class="col-12 col-md-12 col-lg-4">
            <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'mapa-constitucional' %}">Temas</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Sistema de Gobierno</li>
                </ol>
            </nav>

            <!-- Button trigger modal -->
            <button type="button" class="btn-concepto-modal" data-bs-toggle="modal" data-bs-target="#exampleModal">El estado</button>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">El Estado</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <p>“Una comunidad humana, fijada sobre un territorio propio, que posee una organización que resulta para ese grupo, en lo que respecta a las relaciones con sus miembros, una potencia suprema de acción, de mando y coerción”, <u>Carré de Malberg (1988).</u></p>
                            <h4>¿Por qué tenemos un Estado?</h4>
                            <p>Los Estados existen para cuidar a las personas y asegurar el bienestar de las sociedades. Para lograr este objetivo, las Constituciones establecen un conjunto de reglas y principios, que establecen las atribuciones de los órganos del Estado, limitan el poder público y determinan los fines que deben cumplir las instituciones.</p>
                            <h4>¿Cómo se organiza el Estado?</h4>
                            <p>Conjunto de normas de la Constitución sobre cómo se organiza el Estado. Tal como en los planos de una sala de máquinas, en los aspectos orgánicos nos encontraremos con las reglas sobre la función, los límites al poder, la posición en la estructura jerárquica y los requisitos para que las personas integren cada una de las piezas del Estado. Estas piezas se conocen como "Órganos", por lo que estas reglas también se conocen como los aspectos orgánicos de la Constitución.</p>
                        </div>
                    </div>
                </div>
            </div>
            <h3>Sistema de Gobierno</h3>
            <p>Conjunto de normas sobre cómo se distribuye y organiza el poder entre los distintos poderes del Estado (ejecutivo, legislativo y judicial) y los órganos autónomos. La relación entre el poder ejecutivo y el legislativo determina si estamos ante un sistema hiper presidencial (como en la Constitución actual), presidencial (como en el caso de EEUU), semi parlamentario (como Rusia o Francia o parlamentario (como Alemania, España o el Reino Unido).</p>
        </div>

        <div class="col-12 col-md-12 col-lg-8">
            <div class="d-flex align-items-start">
               
                <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <h4>4 contenidos asociados</h4>
                    <button class="nav-link active" id="v-pills-tab-1" data-bs-toggle="pill" data-bs-target="#v-pills-1" type="button" role="tab" aria-controls="v-pills-1" aria-selected="true"> <span>Presidencial</span></button>
                    <button class="nav-link" id="v-pills-tab-2" data-bs-toggle="pill" data-bs-target="#v-pills-2" type="button" role="tab" aria-controls="v-pills-2" aria-selected="false"><span>Parlamentario</span></button>
                    <button class="nav-link" id="v-pills-tab-3" data-bs-toggle="pill" data-bs-target="#v-pills-3" type="button" role="tab" aria-controls="v-pills-3" aria-selected="false"><span>Semipresidencial / Semiparlamentario</span></button>
                    <button class="nav-link" id="v-pills-tab-4" data-bs-toggle="pill" data-bs-target="#v-pills-4" type="button" role="tab" aria-controls="v-pills-4" aria-selected="false"><span>Hiperpresidencial</span></button>
                </div>
                
                <div class="tab-content" id="v-pills-tabContent">
                   
                    <div class="tab-pane fade show active" id="v-pills-1" role="tabpanel" aria-labelledby="v-pills-tab-1">
                        <p class="text-bold">¿Cómo se organiza el Estado?</p>
                        <h4>Presidencial</h4>
                        <p>Sistema en que la Presidenta o Presidente es jefa/e de Estadoy de gobierno, es electa/o directamente a través del voto popular, ejerce su rol por un plazo predefinido y no puede ser despedida/o del cargo por una votación del Parlamento o Congreso durante su periodo.</p>
                        <p>Fuente: <b>Sartori, Ingeniería Constitucional Comparada.</b></p>
                        <!--<hr>
                        <h5>Otros temas asociados</h5>
                        <ul>
                            <li><a href="#" class="btn-lcen button hvr-sweep-to-right">Item</a></li>
                        </ul>-->
                    </div>
                    
                    <div class="tab-pane fade" id="v-pills-2" role="tabpanel" aria-labelledby="v-pills-tab-2">
                        <p class="text-bold">¿Cómo se organiza el Estado?</p>
                        <h4>Parlamentario</h4>
                        <p>Sistema en la ciudadanía elige a sus representantes en el Parlamento, quienes designan a la/el jefa/e de gobierno y pueden destituirlo si deja de representar adecuadamente la mayoría parlamentaria De esta manera, se busca la coordinación entre el poder ejecutivo y el poder legislativo. Por su parte, la jefatura del Estado es ejercida por una Reina o Rey, o una Presidenta/e elegida/o a través del voto popular.</p>
                        <p>Fuente: <b>Sartori, Ingeniería Constitucional Comparada.</b></p>
                        <!--<hr>
                        <h5>Otros temas asociados</h5>
                        <ul>
                            <li><a href="#" class="btn-lcen button hvr-sweep-to-right">Item</a></li>
                        </ul>-->
                    </div>
                    
                    <div class="tab-pane fade" id="v-pills-3" role="tabpanel" aria-labelledby="v-pills-tab-3">
                        <p class="text-bold">¿Cómo se organiza el Estado?</p>
                        <h4>Semipresidencial / Semiparlamentario</h4>
                        <p>Punto medio entre los sistemas presidencial y parlamentario. Sistema de gobierno en que el poder ejecutivo es compartido entre la jefa/e de gobierno, que es designada/o por el Parlamento y depende directamente de él; y la jefa/e de Estado, que es independiente del Congreso y es electa/o por votación popular. En general, el gabinete depende exclusivamente de quien ejerce la jefatura de gobierno o por el Congreso, quienes, además, designan quienes lo conforman.</p>
                        <p>Fuente: <b>Sartori, Ingeniería Constitucional Comparada.</b></p>
                        <!--<hr>
                        <h5>Otros temas asociados</h5>
                        <ul>
                            <li><a href="#" class="btn-lcen button hvr-sweep-to-right">Item</a></li>
                        </ul>-->
                    </div>
                    
                    <div class="tab-pane fade" id="v-pills-4" role="tabpanel" aria-labelledby="v-pills-tab-4">
                        <p class="text-bold">¿Cómo se organiza el Estado?</p>
                        <h4>Hiperpresidencial</h4>
                        <p>Sistema presidencial en que el Poder Ejecutivo tiene potestades legislativas que le permiten controlar al congreso, como las materias ley que solamente pueden ser propuestas por la Presidenta o el Presidente, o el orden de la agenda parlamentaria a través del control de las urgencias.</p>
                        <!--<hr>
                        <h5>Otros temas asociados</h5>
                        <ul>
                            <li><a href="#" class="btn-lcen button hvr-sweep-to-right">Item</a></li>
                        </ul>-->
                    </div>
                    
                </div>
            </div>
        </div>
    </div>

</section>


{% endblock %}
