{% extends "base.html" %}
{% load static %}
{% block title %}Un viaje por el proceso{% endblock %}

{% block content %}


<nav class="navbar navbar-expand-lg fixed-top">
    <div class="container-fluid">
        <div class="container">
            <a class="navbar-brand" href="{% url 'inicio' %}"><img src="{% static 'img/img-lcen-2/logo-lcen.svg' %}" alt="logo-lcen" class="logo-lcen"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="{% url 'quienes-somos' %}">¿Quiénes somos</a>
                    </li>
                    <li class="nav-item">
                          <a class="nav-link" href="{% url 'iniciativas' %}">Iniciativas</a>
                    </li>
                    <li class="nav-item">
                          <a class="nav-link" href="{% url 'escano52' %}">Escaño52</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Recursos
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="{% url 'mapa-constitucional' %}">Mapa constitucional</a></li>
                            <li><a class="dropdown-item" href="{% url 'glosario-constitucional' %}">Glosario constitucional</a></li>
                            <li><a class="dropdown-item" href="{% url 'verevaluaciones' %}">Evaluaciones de normas</a></li>
                            <li><a class="dropdown-item" href="{% url 'evaluaciones_int' %}">Evaluación internacional</a></li>
                            <li><a class="dropdown-item" href="{% url 'ver_propuestas' %}">Propuestas ciudadanas</a></li>
                            <li><a class="dropdown-item" href="{% url 'constitucion-feminista' %}">Constitución feminista</a></li>
                            <li><a class="dropdown-item" href="{% url 'ensayos' %}">Ensayos</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'preguntas-frecuentes' %}">Preguntas Frecuentes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'contacto' %}">Contacto</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>

<section class="portada-lcen-colores">
    <img src="{% static 'img/portadas/un-viaje-por-el-proceso-portada.png' %}" alt="img portada desktop" class="img-fluid img-banner-desktop">
    <img src="{% static 'img/portadas/un-viaje-por-el-proceso-portada-movil.png' %}" alt="img portada movil" class="img-fluid img-banner-movil">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'inicio' %}">Inicio</a></li>
            <li class="breadcrumb-item active" aria-current="page">Un viaje por el proceso</li>
        </ol>
    </nav>
</section>



{% endblock %}
