{% extends "base.html" %}
{% load normas_extra %}
{% load static %}
{% block title %}Evaluación de Normas{% endblock %}

{% block content %}

<section class="portada-lcen-colores">
  <img src="{% static 'img/banner-edn-escritorio.jpg' %}" alt="img portada" class="img-fluid img-banner-desktop">
  <img src="{% static 'img/banner-edn-movil.jpg' %}" alt="img portada movil" class="img-fluid img-banner-movil">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'inicio' %}">Inicio</a></li>
            <li class="breadcrumb-item active" aria-current="page">Evaluación de normas</li>
        </ol>
    </nav>
    <a name="normas"></a>
</section>



<section class="evaluacion-de-norma container">
<div class="row">

  <div class="filtro-propuestas propuestas-home">
      <div class="container">
          <div class="row">

              <div class="col-12 col-sm-12 col-md-12">

                <h2>¿Cómo empezar? Te invitamos a encontrar artículos en los siguientes temas</h2>

                {% normasxcategoria %}

              </div>
              <div class="col-12 col-sm-12 col-md-12">
                  <h2>Hay <span>{{ evaluaciones_list.count }}</span> artículos evaluados por expertos</h2>
              </div>
          </div>

      </div>
  </div>

  <!-- <div class="col-12 col-sm-12 col-md-12 col-lg-12 titular">
        <h2>Leamos colectivamente la Constitución que nos pertenece</h2>
        <p>Organizaciones y académicxs evalúan las normas de derechos humanos, de la naturaleza y de fortalecimiento democrático. La simbología muestra sellos que cada organización usa para la evaluación de los artículos y que sirven como indicadores de calidad sobre temas importantes para la ciudadanía. Puedes hacer click en cada sello para profundizar en él.</p>
  </div> -->

  <div class="col-12 col-sm-12 col-md-4 col-lg-3">

    <div class="titulo-simbologia">
         <h5>Simbología</h5>
    </div>
    <div class="simbologia">
      <div class="simbolos">

        {% simbolosxcategorias %}

      </div>
    </div>

  </div>

  <div class="col-12 col-sm-12 col-md-8 col-lg-9">
    <div class="normas-sellos">


        <!-- <div class="titular">
          <p class="tema-destacado">Tema</p>
          <h3>
          {% for categoria in categorias %}
            {{ categoria }}
          {% endfor %}
          </h3>
        </div> -->


        <!-- <div class="titular">
          <p class="tema-destacado">Artículos</p>
          <h3>
          Conoce las evaluaciones realizadas en esta categoría
          </h3>
        </div> -->



      <!-- <div class="sellos-lista">

        {% for norma in filtrocategorias.qs %}
        <div class="norma">
           <a href="{{ norma.pk }}" class="enlace-norma"><img src="{{ norma.sello_norma.url }}" alt="sello" class="sello"></a>
           <a href="{{ norma.pk }}" class="enlace-norma"><div class="nombre-norma"><h4>{{ norma.titulo_web_norma }}</h4></div></a>
           <p class="evaluada-por">Evaluada por: <a href="#"><b>{{ norma.org_evaluadora }}</b></a></p>
        </div>
        {% endfor %}


      </div> -->
      <div class="sellos-lista">

        {% for norma in evaluaciones_list %}

          <div class="norma">

             <a href="{{ norma.pk }}" class="enlace-norma"><img src="{{ norma.sello_norma.url }}" alt="sello" class="sello"></a>

             {{ norma.titulo_oficial_norma }}
             <br>
             <a href="{{ norma.pk }}">{{ norma.titulo_web_norma }}</a>
             <br>
             Norma evaluada por: <br>
             <p><img src="{{ norma.org_evaluadora.logo_org_norma.url }}" alt="logo organizacion" class="logo-org"></p>
             <a href="{% url 'verevaluaciones' %}?categoriadelanorma={{ norma.categoriadelanorma.pk }}#normas" class="btn-lcen2 button hvr-sweep-to-right">  {{ norma.categoriadelanorma|truncatechars:10 }}</a>

          </div>


        {% endfor %}


      </div>

    </div>
  </div>
</div>

</section>


{% endblock %}
