{% extends "base.html" %}
{% load normas_extra %}
{% load static %}
{% block title %}Evaluación de Normas{% endblock %}

{% block content %}

<section class="filtro-temas-evaluaciones pt-evaluacion">
    <div class="container-fluid invitacion-filtros">
        <div class="row">
            <div class="col-12">
                <h4>Te invitamos a filtrar por tema <i class="fas fa-chevron-down" aria-hidden="true"></i></h4>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 temas">
                {% normasxcategoria %}
            </div>
        </div>
    </div>
</section>

<section class="norma-evaluada container">
    <div class="row">

        <div class="col-12 col-sm-5 col-md-4 col-lg-3 sello">
            <a href="{% url 'verevaluaciones' %}" class="volver-evaluaciones"><img src="{% static 'img/arrow-prev-gris.svg' %}" alt="icono" class="icono">Volver</a>
            <img src="{{ object.sello_norma.url }}" alt="sello-norma" class="norma-sello">

            <div class="simbologia">
                <h5>Sellos aplicados <img src="{% static 'img/icono-informacion-blanco.svg' %}" alt="icono" class="icono"></h5>

                <!-- ACA VAN SOLO LOS SIMBOLOS QUE SE UTILIZAN EN EL SELLO, NO LA SIMBOLOGIA COMPLETA -->
                <ul class="simbolos sellos-utilizados">

                  {% for sello in object.tags_norma.all %}
                   <li class="simbolo"><button type="button" class="btn-simbolo-modal" data-bs-toggle="modal" data-bs-target="#desarrollo"><img src="{{ sello.icono_tag.url }}" class="simbolo-simbologia" /> <span> <img src="{% static 'img/check-sello.svg' %}" class="simbolo-simbologia" />{{ sello.tag_norma }}</span></button> </li>

                   <div class="modal fade" id="desarrollo" tabindex="-1" aria-labelledby="desarrolloLabel" aria-hidden="true">
                       <div class="modal-dialog">
                           <div class="modal-content">
                               <div class="modal-header">
                                   <h5 class="modal-title" id="desarrolloLabel"><img src="{{ sello.icono_tag.url }}" class="simbolo-simbologia" /> {{ sello.tag_norma }}</h5>
                                   <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                               </div>
                               <div class="modal-body">
                                 {{ sello.descripcion_tag_norma }}
                               </div>
                           </div>
                       </div>
                   </div>
                   {% endfor %}


            </div>


            <div class="evaluacion-cuantitativa calidad-de-vida">
                <img src="{% static 'img/calidad-evaluacion-prototipo.svg' %}" class="img-fluid evaluacion-cuantitativa-img">
            </div>
            <div class="evaluacion-cuantitativa mejoras-constitucion">
                <img src="{% static 'img/mejora-evaluacion-prototipo.svg' %}" class="img-fluid evaluacion-cuantitativa-img">
            </div>
        </div>

        <div class="col-12 col-sm-7 col-md-8 col-lg-9 informacion">

            <div class="col-12 como-leer-evaluaciones">

                <!-- Button trigger modal -->
                <a href="#" type="button" class="como-leerlo" data-bs-toggle="modal" data-bs-target="#como-leerlo">Cómo leerlo <img src="{% static 'img/informacion-icono.svg' %}" alt="icono" class="icono"></a>
                <!-- Modal -->
                <div class="modal fade" id="como-leerlo" tabindex="-1" aria-labelledby="como-leerloLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="como-leerloLabel">Cómo Leerlo</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <p>Se seleccionaron un número de normas, cada una de estas están representada por un cartel. Sobre este cartel en blanco se pueden ver los sellos temáticos puestos por les expertes y al costado izquierdo y abajo se puede ver en una escala de 6 qué tan importante puede ser este artículo para las personas y cuánto mejora de la constitución vigente.</p>
                            <div class="fila">
                               <div class="cartel">
                                  <h4>Cartel</h4>
                                  <img src="{% static 'img/sello-prueba.jpg' %}" class="img-fluid sello">
                               </div>
                               <div class="simbologia">
                                  <h4>Sellos temáticos</h4>
                                  <p>Cada sello representa un <b>valor y virtud</b> que el experto identifica que la norma considera</p>
                                  <img src="{% static 'img/simbologia-completa.svg' %}" class="img-fluid simbologia">
                               </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            </div>

            <a href="{% url 'verevaluaciones' %}?categoriadelanorma={{ object.categoriadelanorma.pk }}#normas" class="tema-norma">{{ object.categoriadelanorma }}</a>

            <h3 class="nombre-norma">{{ object.titulo_web_norma }}</h3>
            {{ object.resumen_norma|linebreaks|urlizetrunc:15 }}
            <div class="org-evaluadora">
                <p>Evaluada por:</p>
                <div class="logos-organizaciones">
                    <img src="{{ object.org_evaluadora.logo_org_norma.url }}" alt="logo organizacion" class="logo-org">
                </div>
            </div>

            <div class="leer-articulos">

                <div class="accordion" id="accordion-articulos">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="articulos-heading1">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#articulos" aria-expanded="true" aria-controls="articulos">
                                Leer los artículos
                            </button>
                        </h2>

                        <div id="articulos" class="accordion-collapse collapse" aria-labelledby="articulos-heading1">
                            <div class="accordion-body">
                                <div class="articulo">
                                    <p>"305.- Artículo 23. De los animales. Los animales son sujetos de especial protección. El Estado los protegerá, reconociendo su sintiencia y el derecho a vivir una vida libre de maltrato.</p>
                                    <p>El Estado y sus organismos promoverán una educación basada en la empatía y en el respeto hacia los animales.</p>
                                </div>
                                <div class="articulo">
                                    <p>306.- Artículo 23B.- El Estado protege la biodiversidad, debiendo preservar, conservar y restaurar el hábitat de las especies nativas silvestres, en tal cantidad y distribución que sostenga adecuadamente la viabilidad de sus poblaciones y asegure las condiciones para su supervivencia y no extinción."</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="evaluacion-completa">
                <div class="accordion" id="accordion-evaluacion-completa">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="evaluacion-completa-heading1">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#evaluacion-completa" aria-expanded="false" aria-controls="evaluacion-completa">
                                Leer el resto de la evaluación
                            </button>
                        </h2>

                        <div id="evaluacion-completa" class="accordion-collapse collapse" aria-labelledby="evaluacion-completa-heading1">
                            <div class="accordion-body">
                                <div class="item">
                                    {% if object.importancia_para_chile %}
                                    <h3> ¿Cuán importante es este artículo(s) para la calidad de vida de las personas en Chile? Valoración del 1 al 6, siendo el 6 más importante.</h3>
                                    <img src="{{ object.importancia_para_chile.url }}" class="img-fluid" style="max-width: 50%;">
                                    {% else %}{% endif %}
                                </div>

                                <div class="item">
                                    {% if object.razones_importancia_norma %}
                                    <h3>¿Por qué este artículo(s) tiene la importancia para la calidad de vida que indicaste en la pregunta anterior?</h3>
                                    <p>{{ object.razones_importancia_norma|linebreaks|urlizetrunc:15 }}</p>
                                    {% else %}{% endif %}
                                </div>

                                <div class="item">
                                    {% if object.mejora_de_cp80 %}
                                    <h3>En el marco de una agenda de justicia social, económica y de derechos humanos: ¿En qué medida la Nueva Constitución mejora respecto de la Constitución actualmente vigente? Valoración del 1 al 6, siendo el 6 más importante.</h3>
                                    <img src="{{ object.mejora_de_cp80.url }}" class="img-fluid" style="max-width: 50%;">
                                    {% else %}{% endif %}
                                </div>

                                <div class="item">
                                    {% if object.razones_mejora_cp80 %}
                                    <h3>¿Cómo puedes justificar la opción asignada en la pregunta anterior?</h3>
                                    <p>{{ object.razones_mejora_cp80|linebreaks|urlizetrunc:15 }}</p>
                                    {% else %}{% endif %}
                                </div>

                                <div class="item">
                                    {% if object.presencia_otros_paises %}
                                    <h3>¿Hay presencia de artículos similares en otros países? Explícanos en qué países y en qué se parecen.</h3>
                                    <p>{{ object.presencia_otros_paises|linebreaks|urlizetrunc:15 }}</p>
                                    {% else %}{% endif %}
                                </div>

                                <div class="item">
                                    {% if object.historia_norma %}
                                    <h3>¿Cuál es la historia de este artículo en términos de su creación social?</h3>
                                    <p>{{ object.historia_norma|linebreaks|urlizetrunc:15 }}</p>
                                    {% else %}{% endif %}
                                </div>

                                <div class="item">
                                    {% if object.mitos_norma %}
                                    <h3>¿Cuáles son los principales mitos asociados al artículo(s) y porqué son mitos?</h3>
                                    <p>{{ object.mitos_norma|linebreaks|urlizetrunc:15 }}</p>
                                    {% else %}{% endif %}
                                </div>

                                <div class="item">
                                    {% if object.futurista_norma %}
                                    <h3>Imagina que estamos en 2052: ¿Cómo es tu entorno y la vida de las personas en Chile después de este artículo(s)?</h3>
                                    <p>{{ object.futurista_norma|linebreaks|urlizetrunc:15 }}</p>
                                    {% else %}{% endif %}
                                </div>

                                <div class="item">
                                    {% if object.aporte_desarrollo %}
                                    <h3>¿En qué forma el artículo(s) analizado aporta al desarrollo del país?</h3>
                                    <p>{{ object.aporte_desarrollo|linebreaks|urlizetrunc:15 }}</p>
                                    {% else %}{% endif %}
                                </div>

                                <div class="item">
                                    {% if object.aporte_ddhh_natura %}
                                    <h3>¿En qué forma el artículo(s) analizado aporta al respeto a los derechos humanos y de la naturaleza?</h3>
                                    <p>{{ object.aporte_ddhh_natura|linebreaks|urlizetrunc:15 }}</p>
                                    {% else %}{% endif %}
                                </div>

                                <div class="item">
                                    {% if object.aporte_seguridad %}
                                    <h3>¿En qué forma el artículo(s) analizado aporta a la seguridad y certeza de las personas en Chile?</h3>
                                    <p>{{ object.aporte_seguridad|linebreaks|urlizetrunc:15 }}</p>
                                    {% else %}{% endif %}
                                </div>

                                <div class="item">
                                    {% if object.aporte_igualdad %}
                                    <h3>¿En qué forma el artículo(s) analizado aporta a la igualdad entre todas las personas?</h3>
                                    <p>{{ object.aporte_igualdad|linebreaks|urlizetrunc:15 }}</p>
                                    {% else %}{% endif %}
                                </div>

                                <div class="item">
                                    {% if object.aporte_innovacion %}
                                    <h3>¿En qué forma el artículo(s) analizado aporta a la innovación y sustentabilidad?</h3>
                                    <p>{{ object.aporte_innovacion|linebreaks|urlizetrunc:15 }}</p>
                                    {% else %}{% endif %}
                                </div>

                                <div class="item">
                                    {% if object.aporte_descentralizacion %}
                                    <h3>¿En qué forma el artículo(s) analizado aporta a los procesos de descentralización?</h3>
                                    <p>{{ object.aporte_descentralizacion|linebreaks|urlizetrunc:15 }}</p>
                                    {% else %}{% endif %}
                                </div>

                                <div class="item">
                                    {% if object.aporte_contra_corrupcion %}
                                    <h3>¿En qué forma el artículo(s) analizado aporta a los procesos de participación y a la lucha contra la corrupción?</h3>
                                    <p>{{ object.aporte_contra_corrupcion|linebreaks|urlizetrunc:15 }}</p>
                                    {% else %}{% endif %}
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!--end evaluacion completa-->

            <div class="descarga-evaluacion">
                 {% if object.anexo_norma_pdf %}
                 <h5>Descargar la evaluación completa aquí</h5>
                 <br>
                 <a href="{{ object.anexo_norma_pdf.url }}" target="_blank" class="btn-evaluacion"> Descargar Evaluación</a>
                {% else %} {% endif %}
            </div>

            <div class="descarga-evaluacion">
                 {% if object.anexo_norma_png %}
                <h5>Comparte esta evaluación en Redes Sociales</h5>
                <br>
                <a href="{{ object.anexo_norma_png.url }}" target="_blank" class="btn-evaluacion"> Descargar Postal</a>
                {% else %} {% endif %}
            </div>

            <div class="descarga-evaluacion">
                <h5>Otras normas evaluadas por la organización</h5>
                <br>
                <a href="/evaluaciones/verorgevaluadora/{{ object.org_evaluadora.pk }}" class="btn-evaluacion">{{ object.org_evaluadora }}</a>
            </div>

            <div class="otras-evaluaciones-temas">
                <a href="{% url 'verevaluaciones' %}?categoriadelanorma={{ object.categoriadelanorma.pk }}" class="tema-norma">{{ object.categoriadelanorma }}</a>
            </div>


        </div>
    </div>
</section>


<section class="avanzar-evaluaciones">
    <div class="container">
        <div class="row">
             <div class="col-12">
                  <ul class="navegacion">
                      <li>
                        {% if object.prev_norma %}
                        <a href="{{ object.prev_norma.pk }}" class="prev"><img src="{% static 'img/arrow-prev.svg' %}" alt="icono" class="icono">{{ object.prev_norma.titulo_web_norma }}</a>
                        {% endif %}
                      </li>
                        {% if object.next_norma %}
                      <li>
                        <a href="{{ object.next_norma.pk }}" class="next">{{ object.next_norma.titulo_web_norma }}<img src="{% static 'img/arrow-next.svg' %}" alt="icono" class="icono"></a>
                        {% endif %}
                      </li>
                  </ul>
             </div>
        </div>
    </div>
</section>


{% endblock %}
