/*HOJA DE ESTILOS FINAL*/

.container-fluid {
    padding: 0px;
}

.row {
    margin: 0px;
}

.navbar-nav .dropdown-menu {
    position: absolute;
}

header .ingresar:hover {
    overflow: visible;
}

.modal-header {
    border-bottom: 0px;
    margin: 30px 20px;
}

.modal-title {
    font-weight: 900;
    text-transform: uppercase;
    border-left: 6px solid #FFD700;
    color: black;
    padding-left: 20px;
}

.modal-body {
    padding: 10px 20px 40px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal-body p {
    text-align: center;
    color: #424242;
    width: 80%;
    margin: 0px auto 25px auto;
}

@media (min-width: 576px) {
    .modal-dialog {
        max-width: 800px;
    }
}

.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
    background-image: url(../img/cerrar-menu.svg) !important;
    zoom: 0.8;
}

.navbar .navbar-toggler[aria-expanded="false"] .navbar-toggler-icon {
    background-image: url(../img/abrir-menu.svg) !important;
    zoom: 0.8;
}

.navbar-toggler:focus {
    box-shadow: none !important;
}

.dropdown-toggle::after {
    margin-left: 0;
    vertical-align: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 0;
    border-left: 0;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0px;
    transition: 0.5s all;
}

/*Estilos Generales Textos*/

body {
    font-size: 14px;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
a,
li,
option,
input,
select,
button,
label,
textarea {
    font-feature-settings: 'pnum' on, 'lnum' on;
    font-family: 'Raleway', sans-serif !important;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2em;
    font-weight: 900;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    border-left: 8px solid;
    padding: 10px 0px 10px 20px;
    margin-bottom: 30px;
    color: black;
}

h3,
h4 {
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    color: black;
}

p {
    font-size: 1.1em;
    font-weight: 400;
    color: black;
    letter-spacing: 0px;
    line-height: inherit;
}

a {
    transition: 0.5s all;
}

.btn-lcen {
    font-size: 1em;
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    letter-spacing: 0.5px;
    color: white;
    background: #75AADB;
    border: 0px;
    border-radius: 3px;
    transition: 0.5s all;
    padding: 8px 20px;
    margin-top: 20px;
    overflow: hidden;
}

.hvr-sweep-to-right:before {
    background: #CC0000 !important;
}

.linea-decoracion {
    width: 40px;
    height: 8px;
    margin: 15px 0px;
}

.decoracion {
    width: 40px;
    height: 8px;
    display: flex;
    justify-content: center;
    margin: 15px auto;
}

/*img {
    width: 100%;
}*/

.no-bg {
    background: transparent !important;
}

.w-85 {
    width: 85% !important;
    margin: auto;
}

/*Colores LCEN*/

.yellow {
    background: #FFD700;
}

.red {
    background: #CC0000;
}

.blue {
    background: #75AADB;
}

.green {
    background: #008000;
}

/*Header*/

header {
    background: white;
    box-shadow: 0px 0px 7px -2px rgb(0 0 0 / 25%);
    -webkit-box-shadow: 0px 0px 7px -2px rgb(0 0 0 / 25%);
    -moz-box-shadow: -0px -0px 7px -2px rgba(0, 0, 0, 0.25);
}

header .container {
    max-width: 80% !important;
}

header nav {
    padding: 0px !important;
}

header .navbar-nav {
    justify-content: flex-end;
    width: 100%;
}

header .navbar-brand {
    padding: 0px;
    margin: 0px;
}

header .navbar-brand img {
    width: 180px;
}

header ul.navbar-nav {
    align-items: center;
}

header ul.navbar-nav li {
    margin: 0% 0.5%;
}

header ul.navbar-nav li a {
    color: black;
    font-size: 0.9em;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 0.5px;
    padding: 32px 8px 40px 8px;
    border-top: 8px solid transparent;
}

header ul.navbar-nav li a:hover {
    color: black;
    border-top: 8px solid #75AADB;
}

header .ingresar {
    margin-left: 15px;
    border-radius: 4px;
    overflow: hidden;
}

header .ingresar:hover {
    overflow: visible;
}

header .ingresar > a {
    margin-top: 0px !important;
    padding: 8px 15px 8px 15px !important;
    border-top: 0px !important;
    color: white !important;
    background: black;
}

header ul.navbar-nav li ul.dropdown-menu {
    border: 0px;
    border-top: 8px solid #FFD700;
    border-radius: 0px;
    padding: 0px;
    box-shadow: 0px 0px 7px -2px rgb(0 0 0 / 25%);
    -webkit-box-shadow: 0px 0px 7px -2px rgb(0 0 0 / 25%);
    -moz-box-shadow: -0px -0px 7px -2px rgba(0, 0, 0, 0.25);
}

header .dropdown-menu li {
    margin: 0px !important;
    padding: 0px !important;
}

header ul.navbar-nav li .dropdown-menu a {
    padding: 20px 40px 20px 40px !important;
    border-top: 0px solid transparent;
    font-size: 0.9em !important;
}

/*HOME*/

/* Portada*/

.portada-gif {
    background: url(../img/loop-lcen.gif);
    height: 580px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 98px;
    overflow: hidden;
    position: relative;
}

.portada-gif .transparencia {
    background: rgba(0, 0, 0, 0.55);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
}

.portada-gif .informacion-portada {
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.portada-gif h1 {
    text-align: center;
    font-weight: 900;
    text-transform: uppercase;
    color: white;
    line-height: normal;
    text-shadow: 0px 0px 3px rgb(0 0 0 / 50%);
}

.portada-gif p {
    font-size: 1.8em;
    font-weight: 800;
    text-align: center;
    text-shadow: 0px 0px 3px rgb(0 0 0 / 50%);
    color: white;
    margin: 15px auto;
    padding: 0px;
}

.btn-scroll-home {
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 45px;
}

.btn-scroll-home a {
    color: white;
    font-size: 1.8em;
    padding: 8px 15px;
}


/*Que es la Constitucion es nuestra*/

.que-es-lcen {
    padding-top: 80px;
    padding-bottom: 130px;
}

.que-es-lcen h2 {
    border-color: #FFD700;
}

.que-es-lcen p {
    padding-left: 30px;
    padding-right: 20px;
}

.que-es-lcen img {
    width: 100%;
}

/*A ponerse con propuestas*/

.a-ponerse-con-propuestas {
    background: url(../img/bg-textura-papel.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 50px;
}

.a-ponerse-con-propuestas .llamado-propuestas {
    background: #75AADB;
    position: relative;
    padding: 40px 0px;
    margin-bottom: 40px;
}

.a-ponerse-con-propuestas .llamado-propuestas h1 {
    font-size: 4.5em;
    color: white;
    font-weight: 900;
    width: 80%;
    text-transform: uppercase;
    text-align: center;
    padding-left: 10%;
}

.a-ponerse-con-propuestas .llamado-propuestas img.megafono-recorte {
    position: absolute;
    width: 300px;
    right: 0px;
    top: -40px;
}

.a-ponerse-con-propuestas h2 {
    border-color: #CC0000;
}

.a-ponerse-con-propuestas p {
    padding-left: 30px;
    padding-right: 20px;
}

.a-ponerse-con-propuestas a {
    margin-left: 30px;
}


/*Propuestas Home*/

.propuestas-home {
    padding: 80px 0px;
}

.propuestas-home h2 {
    text-align: center;
    margin: 0px;
    padding: 0px;
    border: 0px;
}

.propuestas-home .info-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
}

.propuestas-home .info-row p {
    margin-bottom: 5px;
}

.propuestas-home .info-row a.btn-secundario {
    font-size: 1.1em;
    font-weight: 900;
    text-transform: uppercase;
    text-decoration: none;
    color: #75AADB;
    margin-left: 10px;
    border-bottom: 5px solid #75AADB;
}

.propuestas-home .info-row a.btn-secundario:hover {
    color: #CC0000;
    border-bottom: 5px solid #CC0000;
}

.propuestas-home ul.filtro-temas-propuestas {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0px;
    margin: 20px 0px 40px 0px;
}

.propuestas-home ul.filtro-temas-propuestas li {
    list-style: none;
}

.propuestas-home ul.filtro-temas-propuestas .btn-lcen {
    font-size: 0.9em;
    padding: 5px 10px;
    margin: 5px;
}


/* Propuestas Presentación corta */

.propuesta {
    border: 4px solid black;
    padding: 0px;
    margin: 0px 0px 40px 0px;
}

.propuesta .informacion-propuesta {
    padding: 15px 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    overflow: hidden;
    position: relative;
}

.propuesta .informacion-propuesta h3.tema {
    font-size: 0.9em;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: white;
    background: #75AADB;
    border-radius: 4px;
    padding: 6px 10px;
    margin-bottom: 15px;
}

.propuesta .informacion-propuesta p.numero-propuesta {
    font-size: 0.9em;
    color: #757575;
    padding: 0px;
    margin: 0px;
}

.propuesta .informacion-propuesta h2.titulo {
    font-size: 1.3em;
    font-weight: 900;
    text-align: left;
    letter-spacing: 0px;
    margin-bottom: 10px;
    padding: 0px;
    border: 0px;
}

.propuesta .informacion-propuesta p.extracto {
    font-size: 0.9em;
    font-weight: 500;
    color: #424242;
    margin-bottom: 20px;
}

.propuesta .informacion-propuesta .informacion-datos {
    width: 100%;
}

.propuesta .informacion-propuesta .informacion-datos h4 {
    font-size: 0.9em;
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.5px;
    color: #757575;
    margin-bottom: 0px;
}

.propuesta .informacion-propuesta .informacion-datos p {
    font-size: 0.9em;
    text-align: center;
    color: #757575;
}

.propuesta .informacion-propuesta .informacion-datos img {
    display: flex;
    width: auto;
    max-height: 40px;
    margin: 5px auto 10px auto;
}

.propuesta img.img-tema-propuesta {
    position: absolute;
    bottom: 0px;
    right: 0px;
    height: 100%;
    width: auto;
    z-index: -1;
    padding: 0px;
}

.propuesta p.destacado {
    font-weight: 800;
    text-transform: uppercase;
    background: #008000;
    color: white;
    position: absolute;
    right: -30px;
    bottom: 3px;
    transform: rotate(318deg);
    padding: 5px 30px;
}

.propuesta .bg-black {
    background: #212121;
    padding: 15px 20px;
}

.propuesta .bg-black .call-to-action {
    padding-bottom: 10px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.propuesta .bg-black a.apoyar {
    background: #CC0000;
    color: white;
}

.propuesta .bg-black a.apoyar:hover {
    background: white;
    color: #CC0000;
}

.propuesta .bg-black a:hover {
    background: white;
    color: #75AADB;
}

.propuesta .bg-black .cifras p {
    font-size: 0.9em;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    color: white;
    padding: 0px;
    margin: 0px;
}

.propuesta .bg-black .cifras p span {
    font-size: 1.6em;
    font-weight: 800;
}

.ver-propuestas-button {
    display: flex;
    justify-content: center;
}


/*Convencionales Home*/

.convencionales-home {
    background: #75AADB;
    position: relative;
    padding: 50px 0px 60px 0px;
}

.convencionales-home h2 {
    font-size: 4.5em;
    text-align: center;
    color: white;
    border: 0px;
    margin: 0px auto 10px auto;
    padding: 0px;
}

.convencionales-home p {
    text-align: center;
    color: white;
    width: 60%;
    margin: 0 auto;
    padding-bottom: 20px;
}

.convencionales-home .call-to-action {
    display: flex;
    justify-content: center;
    z-index: 2;
}

.convencionales-home .call-to-action a {
    background: #CC0000;
    margin-top: 0px;
}

.convencionales-home .call-to-action a:hover {
    color: #CC0000;
}

.convencionales-home .call-to-action a:before {
    background: white !important;
}

.convencionales-home img.medialuna-adorno-convencionales {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 60%;
    z-index: 0;
}

.convencionales-home img.collage-constitucion-convencionales {
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: 350px;
    z-index: 1;
}


/*Organizaciones Presentes*/

.organizaciones-home {
    padding: 80px 0px;
    background: url(../img/bg-textura-papel.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.organizaciones-home h2 {
    text-align: center;
    border: 0px;
    padding: 0px;
    margin: 0px;
}

.organizaciones-lista ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    padding: 0px;
}

.organizaciones-lista li {
    list-style: none;
    margin: 5px 0px;
    height: auto;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.organizaciones-home img {
    opacity: 0.6;
    filter: grayscale(100%);
    transition: 0.4s all;
    height: auto;
    width: 100%;
}

.organizaciones-home img {
    opacity: 0.6;
    filter: grayscale(100%);
    transition: 0.4s all;
    height: auto;
    width: auto;
}

.organizaciones-home img:hover {
    opacity: 1;
    filter: grayscale(0%);
}

.call-to-action-organizaciones {
    display: flex;
    justify-content: center;
    margin: 80px auto;
}

.call-to-action-organizaciones h2 {
    text-align: center;
    padding: 0px;
    margin: 0px;
    border: 0px;
}

.call-to-action-organizaciones .call-to-action {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 10px;
}


/*Footer LCeN*/

.decoracion-colores {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.decoracion-colores .yellow {
    height: 8px;
    width: 20%;
}

.decoracion-colores .blue {
    height: 8px;
    width: 20%;
}

.decoracion-colores .green {
    height: 8px;
    width: 20%;
}

.decoracion-colores .red {
    height: 8px;
    width: 40%;
}

footer {
    padding-top: 80px !important;
    background: url(../img/bg-textura-papel.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
}

footer h3 {
    font-size: 1.5em;
    text-align: center;
    padding-bottom: 10px;
    margin-bottom: 0px;
}

footer .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px auto;
}

footer .logo img {
    margin-bottom: 60px;
    width: 350px;
    align-self: center;
}

footer .impulsado {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    margin-bottom: 60px;
}

footer .apoyo {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    margin-bottom: 60px;
}

footer .logos-organizaciones {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

footer .logos-organizaciones .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: auto;
    padding: 0px;
    margin: 20px;
}

footer .collage-1,
footer .collage-2 {
    padding: 0px;
    display: flex;
    align-items: flex-end;
}

footer .collage-1 img {
    width: 100%;
}

footer .collage-2 img {
    width: 100%;
}

footer .redes {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
}

footer .redes p {
    font-size: 1.2em;
    font-weight: 900;
    text-align: center;
    color: black;
    letter-spacing: 0.5px;
}

footer .redes .rrss {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: nowrap;
    border-top: 8px solid #FFD700;
    padding: 0px;
    margin: 0px 0px 100px 0px;
    width: 100%;
}


footer .rrss li {
    list-style: none;
    padding: 10px;
}

footer .rrss li a {
    text-decoration: none;
    opacity: 0.6;
}

footer .rrss li a:hover {
    opacity: 1;
}

footer .rrss li a i {
    font-size: 2.5em;
    color: black;
}



/*SECCIONES INTERNAS*/

/*Banner portadas secciones internas*/

.portada-lcen-colores {
    margin-top: 98px;
    position: relative;
}

.portada-lcen-colores img {
    width: 100%;
}

.portada-lcen-colores .img-banner-desktop {
    display: block;
}

.portada-lcen-colores .img-banner-movil {
    display: none;
}

.portada-lcen-colores .breadcrumb {
    position: absolute;
    top: 15%;
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0px;
    margin-bottom: 0px;
}

.portada-lcen-colores .breadcrumb-item + .breadcrumb-item::before {
    color: black;
    font-weight: 400 !important;
}

.portada-lcen-colores ol.breadcrumb li {
    font-size: 1.25em !important;
    color: black;
    font-weight: 800;
}

.portada-lcen-colores ol.breadcrumb li a {
    font-weight: 500;
    text-decoration: none;
    color: black;
    padding-bottom: 0px;
}

.portada-lcen-colores ol.breadcrumb li a:hover {
    text-decoration: underline;
}

/*Que es*/

.que-es-lcen button {
    margin-left: 30px !important;
}

.infografia-que-es {
    background: url(../img/bg-textura-papel.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 60px 0px;
}

.infografia-que-es p {
    padding: 0% 10%;
}

.infografia-que-es p span {
    font-size: 1.7em;
    font-weight: 900;
    color: white;
    padding: 8px 15px;
    border-radius: 2px;
}

.quienes-somos-lcen {
    padding: 80px 0px;
}

.quienes-somos-lcen h2 {
    padding: 0px;
    margin: 0px;
    text-align: center;
    border: 0px;
}

.quienes-somos-lcen .organizaciones-list {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0px;
    margin: 40px 0px 0px 0px;
}

.quienes-somos-lcen li {
    list-style: none;
}

.quienes-somos-lcen .dropdown-toggle::after {
    margin-left: 0;
    vertical-align: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 0;
    border-left: 0;
}

.quienes-somos-lcen li a {
    opacity: 0.6;
    transition: 0.5s all;
}

.quienes-somos-lcen li a:hover {
    opacity: 1;
}

.quienes-somos-lcen img {
    height: 60px;
    width: auto;
    margin: 0px;
    padding: 0px;
}

.quienes-somos-lcen .apoyo {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding: 70px 0px;
}

.quienes-somos-lcen .apoyo img {
    opacity: 0.6;
    transition: 0.5s all;
}

.quienes-somos-lcen .apoyo img:hover {
    opacity: 1;
}


.quienes-somos-lcen .apoyo p {
    font-size: 1.3em;
    font-weight: 900;
    text-transform: uppercase;
    text-align: right;
    letter-spacing: 0.5px;
    margin: 0px;
    padding: 0px;
}

.quienes-somos-lcen .apoyo .contenido p {
    font-size: 0.9em !important;
    font-weight: 400 !important;
    text-align: left !important;
    text-transform: inherit !important;
    padding: 0px !important;
    margin: 0px !important;
}

.quienes-somos-lcen li.nav-item.dropdown .dropdown-menu img {
    width: 40px;
    height: 13px;
    position: relative;
    top: 2px;
    padding-left: 20px;
}

.quienes-somos-lcen .dropdown:hover .dropdown-menu {
    border: 0;
}

.quienes-somos-lcen .dropdown:hover .dropdown-menu .contenido {
    display: block;
    margin-top: 0px;
    width: 300px;
    border: 5px solid #75AADB;
    padding: 20px;
    left: 30px;
    border-radius: 2px;
}

.quienes-somos-lcen li .contenido p {
    font-size: 0.9em;
    text-align: left;
    color: black;
    padding: 0px;
    margin: 0px;
}


/*Sección Propuestas*/

.filtro-propuestas {
    padding: 80px 0px 20px 0px !important;
}

.filtro-propuestas h2 {
    text-align: center;
    padding-bottom: 5px;
    margin: 0;
    border: 0px;
}

.filtro-propuestas h2 span {
    color: #CC0000;
}

.filtro-propuestas p {
    text-align: center;
}

.filtro-propuestas .btn-subir-propuestas {
    display: flex;
    justify-content: center;
}

.filtro-propuestas .btn-subir-propuestas a {
    margin: 15px 0px;
}

.filtro-propuestas .formulario {
    padding: 0px;
    margin-bottom: 30px;
}

.filtro-propuestas form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 0px;
}

.filtro-propuestas form select {
    width: 23%;
    margin: 1%;
}

.filtro-propuestas form .btn-lcen {
    margin: 1%;
}

.resultados-busqueda-titulo {
    background: rgba(204, 204, 204, 0.2);
    padding: 20px 0px;
    margin-bottom: 30px;
}

.resultados-busqueda-titulo h3 {
    font-size: 1.1em;
    font-weight: 400;
    color: black;
    margin-bottom: 0px;
    padding-bottom: 0px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.resultados-busqueda-titulo h3 img {
    width: 30px;
    margin-right: 10px;
}

.resultados-busqueda-titulo h3 span {
    font-weight: 800;
    padding-left: 5px;
}

.resultados-busqueda-titulo a.limpiar-historial {
    font-size: 1em;
    font-weight: 600;
    text-decoration: none;
    color: #CC0000;
    transition: 0.5s all;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: nowrap;
}

.resultados-busqueda-titulo a.limpiar-historial:hover {
    color: #008000;
}

.resultados-busqueda-titulo a.limpiar-historial i {
    font-size: 1.1em;
    padding-right: 5px;
}

/*Paginación*/

ul.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 80px;
}

ul.pagination .page-link {
    position: relative;
    display: block;
    color: black;
    text-decoration: none;
    background-color: transparent;
    border: 0px;
    transition: 0.5s all;
    padding: 10px 20px;
    margin: 5px;
    font-weight: 800;
    font-size: 1.1em;
}

ul.pagination .page-link:hover {
    color: white;
    background: #008000;
}

ul.pagination .active a {
    color: white;
    background: #008000 !important;
}


/*Propuesta lectura completa*/

.leer-propuesta {
    margin: 50px auto 100px auto;
}

.leer-propuesta .linea {
    height: 1px;
    width: 100%;
}

.leer-propuesta .informacion-propuesta {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-right: 5%;
}

.leer-propuesta .tema-principal {
    font-size: 0.9em;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: white;
    background: #75AADB;
    border-radius: 4px;
    padding: 6px 10px;
    margin-bottom: 10px;
}

.leer-propuesta .numero-propuesta {
    color: #757575;
    margin-bottom: 10px;
}

.leer-propuesta h3 {
    font-size: 1.6em;
    margin-top: 0px;
}

.leer-propuesta .autor {
    font-style: italic;
    color: #757575;
    margin-bottom: 0px;
}

.leer-propuesta .autor a {
    color: #757575;
    text-decoration: none;
}

.leer-propuesta .autor a:hover {
    color: #CC0000;
}

.leer-propuesta .colaborador {
    font-style: italic;
    color: #757575;
    margin-bottom: 15px;
}

.leer-propuesta .colaborador a {
    color: #757575;
    text-decoration: none;
}

.leer-propuesta .colaborador a:hover {
    color: #CC0000;
}

.leer-propuesta h4 {
    font-size: 1.4em;
    color: #757575;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.leer-propuesta p {
    color: #757575;
}

.leer-propuesta .lugar {
    color: #757575;
    margin-bottom: 0px;
    font-style: italic;
}

.leer-propuesta .lugar i {
    font-size: 1.6em;
    color: #008000;
    margin-right: 10px;
}

.leer-propuesta .info-adicional h5 {
    font-size: 1.2em;
    font-weight: 900;
    text-transform: uppercase;
    color: #75AADB;
    margin-top: 30px;
}

.leer-propuesta .info-adicional ul {
    padding-left: 0px;
}

.leer-propuesta .info-adicional ul li {
    list-style: none;
    margin-bottom: 10px;
}

.leer-propuesta .info-adicional ul li a {
    font-weight: 700;
    text-decoration: none;
    color: #757575;
}

.leer-propuesta .info-adicional ul li a:hover {
    color: #CC0000;
}

.leer-propuesta .info-adicional ul li a i {
    font-size: 10px;
    color: #008000;
    padding-right: 10px;
}

.leer-propuesta .informacion-destacada .bg-color {
    background: rgba(189, 189, 189, 0.10);
    padding: 50px 25px;
    position: relative;
}

.leer-propuesta .informacion-destacada .bg-color img {
    position: absolute;
    right: 0px;
    bottom: 0px;
    height: 80%;
    width: auto;
    opacity: 0.85;
    z-index: -1;
}

.leer-propuesta .informacion-destacada .bg-color h3 {
    font-size: 1.2em;
    text-align: center;
    margin-bottom: 10px;
    padding-bottom: 0px;
}

.leer-propuesta .informacion-destacada .bg-color .cifras p {
    font-size: 0.9em;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    color: black;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.leer-propuesta .informacion-destacada .bg-color .cifras p span {
    font-size: 1.6em;
    font-weight: 800;
}

.leer-propuesta .informacion-destacada .bg-color h3.apoyar {
    margin-top: 40px;
}

.leer-propuesta .informacion-destacada .bg-color .btn-lcen {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px auto 0px auto;
}

.leer-propuesta .informacion-destacada .bg-color .btn-lcen i {
    padding-left: 10px;
}

.leer-propuesta .informacion-destacada .bg-color h3.compartir {
    margin-top: 50px;
}

.leer-propuesta .informacion-destacada .bg-color ul.redes-sociales {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-left: 0px;
}

.leer-propuesta .informacion-destacada .bg-color ul.redes-sociales li {
    list-style: none;
    margin: 0px 4px;
}

.leer-propuesta .informacion-destacada .bg-color ul.redes-sociales li a {
    font-size: 3em;
    color: #75AADB;
}

.leer-propuesta .informacion-destacada .bg-color ul.redes-sociales li a:hover {
    color: #CC0000;
}

.leer-propuesta p.reportar {
    font-size: 1em;
    font-style: italic;
    text-align: left;
    color: #424242;
    margin: 20px 0px;
}

.leer-propuesta p.reportar a {
    font-weight: 800;
    text-decoration: none;
    color: #75AADB;
}

.leer-propuesta p.reportar a:hover {
    color: #CC0000;
}


/*Sección Convencionales*/

.filtro-convencionales form {
    justify-content: flex-end;
}

.resultados-convencionales {
    margin: 50px auto;
}

.resultados-convencionales figure {
    position: relative;
    overflow: hidden;
    transition: 0.4s all;
}

.resultados-convencionales figure img {
    z-index: -1;
    margin-bottom: 0px;
}

.resultados-convencionales figure:hover img {
    filter: grayscale(100%);
    transition: 0.4s all;
}

.resultados-convencionales figcaption {
    position: absolute;
    top: 75%;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    transition: 0.4s all;
    padding: 20px;
    z-index: 1;
}

.resultados-convencionales figcaption h4 {
    font-size: 1.25em;
    font-weight: 800;
    text-transform: uppercase;
    color: white;
    border-left: 4px solid #FFD700;
    padding: 10px 0px 10px 10px;
}

.resultados-convencionales figcaption .datos {
    margin-top: 30px;
    padding-left: 20px;
}

.resultados-convencionales figcaption .datos li {
    list-style: none;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.resultados-convencionales figcaption .datos li p {
    color: white;
    padding-bottom: 10px;
    margin-bottom: 0px;
}

.resultados-convencionales figcaption .btn {
    margin-top: 0px;
    margin-left: 20px;
}

.resultados-convencionales figure:hover figcaption {
    top: 0%;
}

/*Perfil Convencionales*/

.perfil-convencional {
    padding: 80px 0px 50px 0px;
}

.perfil-convencional .img-constituyente {
    position: relative;
}

.perfil-convencional .img-constituyente img.convencional {
    width: 100%;
    padding: 10px;
    z-index: 1;
}

.perfil-convencional .img-constituyente .decorativo {
    position: absolute;
    z-index: -1;
}

.perfil-convencional .img-constituyente .decorativo.blue {
    width: 60%;
    height: 10%;
    right: 0px;
    top: 0px;
}

.perfil-convencional .img-constituyente .decorativo.green {
    width: 60%;
    height: 10%;
    bottom: 0px;
    left: 0px;
}

.perfil-convencional .img-constituyente .decorativo.red {
    width: 10%;
    height: 60%;
    bottom: 0px;
    right: 0px;
}

.perfil-convencional .img-constituyente .decorativo.yellow {
    width: 10%;
    height: 60%;
    top: 0px;
    left: 0px;
}

.perfil-convencional .datos {
    padding-left: 5%;
}

.perfil-convencional .datos h2 {
    font-size: 1.8em;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    color: black;
    margin-bottom: 10px;
    padding-bottom: 0px;
    padding-left: 0px;
    border-left: 0px;
}

.perfil-convencional p.convencional {
    color: black;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.perfil-convencional .datos .decorativo {
    width: 60px;
    height: 8px;
    margin-bottom: 20px;
}

.perfil-convencional .datos ul {
    padding-left: 0px;
}

.perfil-convencional .datos ul li {
    list-style: none;
    padding-bottom: 10px;
    margin-bottom: 0px;
}

.perfil-convencional .datos ul li p {
    color: black;
    padding: 0px;
    margin: 0px;
}

.perfil-convencional .datos ul li p a {
    text-decoration: none;
    color: #75AADB;
}

.perfil-convencional .datos ul li p a:hover {
    color: #CC0000;
}

.perfil-convencional li.redes-sociales {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 0px;
}

.perfil-convencional li.redes-sociales a {
    color: black;
    font-size: 2em;
    margin: 0px 6px;
}

.perfil-convencional li.redes-sociales a:hover {
    color: #CC0000;
}

.perfil-convencional .biografia {
    margin-top: 60px;
}

.perfil-convencional .biografia .decoracion-left {
    width: 50px;
    height: 8px;
    margin-bottom: 20px;
    margin-right: auto;
}

.perfil-convencional .biografia .decoracion-right {
    width: 50px;
    height: 8px;
    margin-top: 20px;
    margin-left: auto;
}

.perfil-convencional .biografia p {
    text-align: justify;
    color: black;
}

.propuestas-convencionales {
    margin-bottom: 50px;
}

.propuestas-convencionales h2 {
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 0px;
    margin-left: 0;
    padding: 10px 0px 0px 0px;
    border-left: 0px;
}

.propuestas-convencionales h2 img {
    width: 30px;
    margin-right: 10px;
}

.propuestas-convencionales .decoracion {
    width: 50px;
    height: 8px;
    margin: 20px auto;
    display: flex;
    justify-content: center;
}

.iniciativas-presentadas {
    margin-top: 0px;
    margin-bottom: 100px;
    padding-top: 0px;
}

.propuestas-convencionales .filtro-temas-propuestas {
    display: flex;
    justify-content: center;
    margin: 15px 0px 50px 0px;
    padding-left: 0px;
}

.propuestas-convencionales .filtro-temas-propuestas li {
    list-style: none;
    margin: 0px 5px;
}

.propuestas-convencionales .filtro-temas-propuestas li a {
    font-size: 1.2em;
    font-weight: 800;
    text-decoration: none;
    color: black;
    border-bottom: 5px solid transparent;
    transition: 0.5s all;
    margin: 0px 10px;
    padding-bottom: 10px;
}

.propuestas-convencionales .filtro-temas-propuestas li a.active {
    border-bottom: 5px solid #FFD700;
}

.propuestas-convencionales .filtro-temas-propuestas li a:hover {
    border-bottom: 5px solid #FFD700;
}

.propuestas-convencionales p.titulo-seleccion {
    font-size: 1.3em;
    font-weight: 400;
    text-align: center;
    color: black;
    margin-bottom: 30px;
    margin-top: 15px;
}

.propuestas-convencionales p.titulo-seleccion b {
    font-weight: 900;
}

/*Sección Organizaciones*/

.organizaciones-seccion {
    padding: 70px 0px 0px 0px !important;
}

/*Perfil Organizaciones*/

.perfil-organizaciones .tipo-organizacion {
    font-size: 1.1em;
    font-weight: 500;
    color: black;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.perfil-organizaciones .titulo-rrss {
    font-weight: 800;
    text-align: center;
    text-transform: uppercase;
    color: black;
    margin-top: 20px;
}

.perfil-organizaciones .img-organizacion {
    margin-bottom: 50px;
}

.perfil-organizaciones ul.redes-sociales {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 0px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.perfil-organizaciones ul.redes-sociales li {
    list-style: none;
    margin-right: 12px;
}

.perfil-organizaciones ul.redes-sociales li a {
    font-size: 2.5em;
    color: black;
}

.perfil-organizaciones ul.redes-sociales li a:hover {
    color: #CC0000;
}

.perfil-organizaciones .btn {
    margin-top: 10px;
}

.perfil-organizaciones .sitio-web-org {
    font-size: 1em;
    font-weight: 800;
    text-transform: uppercase;
    text-decoration: none;
    color: #75AADB;
    transition: 0.5s all;
}

.perfil-organizaciones .sitio-web-org:hover {
    color: #CC0000;
}

/*Preguntas Frecuentes Sección*/

.preguntas {
    margin: 0px auto 150px auto;
}

.preguntas h3 {
    font-size: 1.6em;
    margin-top: 50px;
}

.preguntas .accordion-header {
    border-left: 0px;
    padding: 0px;
}

.preguntas .accordion-item .accordion-button {
    font-size: 16px;
    font-weight: bold;
    color: white;
    background: #222222;
}

.preguntas .accordion-body {
    border-left: 4px solid #FFD700;
    padding: 25px;
}

.preguntas .accordion-body p {
    text-align: left;
    color: black;
    margin: 10px 0px;
}

.preguntas .accordion-item {
    background-color: rgba(229, 229, 229, 0.50);
    border: 0px;
    margin-bottom: 15px;
}

.preguntas .accordion-button:focus {
    z-index: 3;
    border-color: transparent !important;
    outline: 0;
    box-shadow: none !important;
}

.preguntas .accordion-button::after {
    margin-left: auto;
    content: "";
    background-image: url(../img/arrow-blanco.png) !important;
    background-repeat: no-repeat;
    transition: transform 0.2s ease-in-out;
}

.preguntas .accordion-button:not(.collapsed)::after {
    background-image: url(../img/arrow-yellow.png) !important;
    transform: rotate( -360deg);
}

/*Formularios*/

.formulario {
    width: 100%;
    padding: 0px 0px 0px 50px;
}

.formulario select.form-select option:hover {
    color: white;
    background: #008000;
}

.formulario label {
    font-size: 1em;
    font-weight: 800;
    text-transform: uppercase;
    text-align: left;
    letter-spacing: 0px;
    color: black;
    padding-bottom: 0px;
    margin-bottom: 5px;
}

.formulario input {
    font-size: 1em;
    font-weight: 500;
    color: black;
    border: 3px solid #75AADB;
    border-radius: 2px;
    background: white;
}

.formulario select {
    font-size: 1em;
    font-weight: 900;
    text-transform: uppercase;
    color: black;
    border: 3px solid #75AADB;
    border-radius: 2px;
}

.formulario option {
    font-size: 1em;
    font-weight: 600;
    letter-spacing: 0px;
    text-transform: uppercase;
    color: black;
    background: white;
    border: 0px;
    padding: 20px 0px;
}

.formulario input#formFileMultiple {
    border: 1px solid #ced4da;
}

.formulario input#formFileMultiple:hover {
    border: 1px solid #ced4da !important;
}

.formulario input#formFileMultiple:focus {
    border: 1px solid #ced4da !important;
}

.formulario textarea {
    font-size: 1em;
    font-weight: 400;
    border: 3px solid #75AADB;
    border-radius: 2px;
}

.form-control:focus,
.form-select:focus {
    border: 3px solid #FFD700 !important;
    color: #212529;
    background-color: #fff;
    outline: 0;
    box-shadow: none !important;
}


/*Portada Collage Secciones - Secciones de Registro, subir propuesta e inicio de sesión usuarios*/

.portada-collage-lcen {
    background: url(../img/bg-portada-secciones-papel.jpg);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    padding: 25px 0px;
    margin-top: 98px;
    width: 100%;
}

.portada-collage-lcen .decoracion {
    display: none;
}

.portada-collage-lcen img {
    padding-top: 20px;
    width: 95%;
}

.portada-collage-lcen .titulo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.portada-collage-lcen .titulo .informacion {
    margin-left: 20px;
}

.portada-collage-lcen .informacion nav {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.portada-collage-lcen .titulo .informacion h1 {
    font-size: 2em;
    font-weight: 900;
    text-transform: uppercase;
    color: black;
    padding: 0px;
    margin-bottom: 5px;
}

.portada-collage-lcen ol.breadcrumb {
    display: flex;
    justify-content: flex-end;
    margin-top: 0px auto;
}

.portada-collage-lcen ol.breadcrumb li {
    font-size: 1.1em;
    font-weight: 800;
    color: black;
}

.portada-collage-lcen ol.breadcrumb li a {
    font-size: 1em;
    color: black;
    font-weight: 400;
    text-decoration: none;
}

.portada-collage-lcen ol.breadcrumb li a:hover {
    color: #CC0000;
}

.portada-collage-lcen .breadcrumb-item + .breadcrumb-item::before {
    color: black;
}

/*Registro*/

.ingresar-seccion {
    padding: 50px 0px;
}

.seleccion-registro {
    margin: 20px auto;
    padding: 0px;
}

.registro-usuarios p {
    font-size: 1.2em;
    font-weight: 500;
    text-align: center;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.seleccion-registro h3 {
    font-size: 1.6em;
    text-align: center;
    padding-bottom: 40px;
    margin-bottom: 0px;
}

.seleccionar {
    display: flex;
    justify-content: center;
    align-self: center;
}

.seleccionar a {
    text-decoration: none;
    padding: 0px 35px;
    position: relative;
}

.seleccionar .icono {
    position: relative;
    transition: 0.5s all;
}

.seleccionar .decoracion-blue {
    position: absolute;
    top: -25px;
    right: -10px;
    height: 100px;
    width: 100%;
    background: transparent;
    z-index: -1;
}

.seleccionar a:hover .decoracion-blue {
    background: #75AADB;
}

.seleccionar a p {
    font-size: 1.3em;
    font-weight: 800;
    letter-spacing: 0.5px;
    color: black;
    margin-top: 30px;
    padding-bottom: 10px;
    border-bottom: 8px solid transparent;
}

.seleccionar a:hover p {
    border-bottom: 8px solid #CC0000;
}

.registrate-cta {
    margin: 0px 20px;
    padding: 25px 0px;
    border-top: 1px solid #b4b4b4;
    border-bottom: 1px solid #b4b4b4;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    align-self: center;
}

.registrate-cta a {
    margin: 0px 0px 0px 10px;
    letter-spacing: 1px;
}

/*Registros Persona y Organización*/

.registros {
    padding: 80px 0px;
}

.registros .titular-seccion {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding: 30px 0px;
}

.registros .img-icono-registro {
    position: relative;
}

.registros .decoracion-img {
    position: absolute;
    right: -10px;
    bottom: -10px;
    background: #75AADB;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.registros .informacion {
    padding-left: 35px;
}

.registros .informacion a {
    font-size: 1em;
    font-weight: 900;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.4px;
    color: black;
    margin-bottom: 5px;
}

.registros .informacion a i {
    color: #008000;
    margin-right: 4px;
}

.registros .informacion h2 {
    font-size: 1.8em;
    font-weight: 900;
    text-transform: uppercase;
    color: black;
    padding-bottom: 0px;
    margin-bottom: 5px;
    padding-left: 0px;
    border-left: 0px;
}

.registros .informacion h2 span {
    padding: 3px 8px;
    background: #CC0000;
    color: white;
}

.registros .informacion p {
    color: black;
    padding: 0px;
    margin: 0px;
}

/*Ajustes formularios*/

.registros form div {
    width: 50%;
    float: left;
    padding: 0px 10px;
}

.registros form input.form-control {
    font-size: 1em;
    font-weight: 500;
    color: black;
    background: white;
    border: 3px solid #75AADB;
    border-radius: 2px;
}

.registros form .form-select {
    font-size: 1em;
    font-weight: 500;
    color: black;
    text-transform: uppercase;
    border: 3px solid #75AADB;
    border-radius: 2px;
}

.registros form option {
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.4px;
    color: black;
    background: white;
    border: 0px;
    padding: 20px 0px;
}

.registros form input#formFileMultiple {
    border: 1px solid #ced4da;
}

.registros form input#formFileMultiple:hover {
    border: 1px solid #ced4da !important;
}

.registros form input#formFileMultiple:focus {
    border: 1px solid #ced4da !important;
}

.registros form textarea {
    font-size: 1em;
    font-weight: 400;
    border: 3px solid #75AADB;
    border-radius: 2px;
}

.registros form .form-control:focus,
.registros form .form-select:focus {
    border: 3px solid #FFD700 !important;
    color: #212529;
    background-color: #fff;
    outline: 0;
    box-shadow: none !important;
}

.registros form button.btn {
    margin-left: auto;
    margin-right: 10px;
    display: flex;
}

/*Login - Ingreso*/

.ingresar-seccion {
    padding: 50px 0px;
}

.ingresar-seccion h3 {
    font-size: 1.6em;
    font-weight: 800;
    text-align: center;
    text-transform: inherit;
    padding-bottom: 10px;
    margin-bottom: 0px;
}

.ingresar-seccion .cuentas-usuario {
    display: flex;
    justify-content: center;
}

.ingresar-seccion .cuentas-usuario a {
    font-weight: 800;
    letter-spacing: 1px;
    width: auto;
    background: #75AADB;
    margin: 8px;
}

.ingresar-seccion span {
    padding: 0px 15px;
    font-weight: 400;
}

.ingresar-seccion form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.ingresar-seccion form input {
    font-size: 1em;
    font-weight: 500;
    color: black;
    background: white;
    border: 3px solid #75AADB;
    border-radius: 2px;
    width: 80%;
}

.ingresar-seccion form label {
    font-size: 1em;
    font-weight: 900;
    text-align: left;
    text-transform: uppercase;
    color: black;
    margin-top: 30px;
    margin-bottom: 10px;
    width: 80%;
}

.ingresar-seccion input:focus-visible {
    outline-offset: 0px;
    border: 3px solid #FFD700;
    background: transparent;
    outline: -webkit-focus-ring-color auto 0px;
}

.ingresar-seccion form .btn {
    margin-bottom: 50px;
}

.recuperar-clave {
    padding: 25px 0px;
    display: flex;
    flex-direction: column;
}

.recuperar-clave p {
    font-size: 1em;
    font-weight: 400;
    text-align: center;
    color: black;
    margin-bottom: 5px;
    padding-bottom: 0px;
}

.recuperar-clave a {
    font-size: 1em;
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    letter-spacing: 0.5px;
    color: black;
}

.recuperar-clave a:hover {
    color: #CC0000;
}


/*Subir Propuesta*/

.subir-propuesta {
    padding: 80px 0px;
}

.subir-propuesta .informacion-ayuda {
    background: rgba(117, 170, 219, 0.08);
    border-top: 5px solid #FFD700;
    padding: 25px 20px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
}

.subir-propuesta .informacion-ayuda p.paso-propuesta {
    font-size: 1em;
    font-weight: 800;
    text-transform: uppercase;
    color: white;
    background: #CC0000;
    padding: 4px 10px;
    margin-bottom: 0px;
}

.subir-propuesta .informacion-ayuda h2 {
    font-size: 1.6em;
    font-weight: 900;
    text-transform: uppercase;
    color: black;
    padding: 15px 0px;
    margin-bottom: 10px;
    border-left: 0px;
}

.subir-propuesta .informacion-ayuda h4 {
    font-size: 1.2em;
    font-weight: 700;
    color: black;
    padding: 5px 0px;
    margin-bottom: 5px;
}

.subir-propuesta .informacion-ayuda > p.recomendacion::before {
    font-family: "Font Awesome 5 Free";
    content: "\f0c8";
    font-size: 0.8em;
    font-weight: 900;
    color: #008000;
    position: absolute;
    left: 0px;
}

.subir-propuesta .informacion-ayuda p.recomendacion {
    font-size: 0.9em;
    color: black;
    line-height: inherit;
    position: relative;
    padding-left: 20px;
}

.subir-propuesta .informacion-ayuda a {
    font-weight: 800;
    color: #75AADB;
    transition: 0.5s all;
}

.subir-propuesta .informacion-ayuda a:hover {
    color: #CC0000;
}

.subir-propuesta .contacto-ayuda {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 20px 10px;
}

.subir-propuesta .contacto-ayuda h3 {
    font-size: 1.5em;
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.4px;
    color: white;
    margin-bottom: 5px;
    padding-bottom: 0px;
}

.subir-propuesta .contacto-ayuda p {
    text-align: center;
    color: white;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.subir-propuesta form {
    padding-left: 30px;
}

.subir-propuesta form div {
    width: 100%;
}

.subir-propuesta label h6 {
    font-size: 1em;
    font-weight: 800;
    text-transform: uppercase;
    color: black;
}

.subir-propuesta form .form-select {
    font-size: 1em;
    font-weight: 500;
    text-transform: uppercase;
    color: black;
    border: 3px solid #75AADB;
    border-radius: 2px;
}

.subir-propuesta form input.form-control {
    font-size: 1em;
    font-weight: 500;
    color: black;
    background: white;
    border: 3px solid #75AADB;
    border-radius: 2px;
}

.subir-propuesta form option {
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.4px;
    color: black;
    background: white;
    border: 0px;
    padding: 5px 0px;
}

.subir-propuesta form textarea {
    font-size: 1em;
    font-weight: 400;
    border: 3px solid #75AADB;
    border-radius: 2px;
}

.subir-propuesta form input#formFileMultiple {
    border: 1px solid #ced4da;
}

.subir-propuesta form input#formFileMultiple:hover {
    border: 1px solid #ced4da !important;
}

.subir-propuesta form input#formFileMultiple:focus {
    border: 1px solid #ced4da !important;
}

.subir-propuesta form .form-control:focus,
.subir-propuesta form .form-select:focus {
    border: 3px solid #FFD700 !important;
    color: #212529;
    background-color: #fff;
    outline: 0;
    box-shadow: none !important;
}

.subir-propuesta form button.btn {
    margin-left: auto;
    margin-right: 10px;
    display: flex;
}

.subir-propuesta input .hvr-sweep-to-right:before {
    background: #CC0000 !important;
}

/*Propuesta creada*/

.propuesta-creada {
    margin-top: 200px;
    margin-bottom: 100px;
}

.propuesta-creada h2 {
    font-size: 1.5em;
    text-align: center;
    border-left: 0px;
    padding-left: 0px;
}


/*Adaptación Movil y tablet*/

@media(max-width: 1260px) {
    header .container {
        max-width: 90% !important;
    }
}

@media(max-width: 1110px) {
    header ul.navbar-nav li a {
        font-size: 0.85em;
        letter-spacing: 0.3px;
        padding: 32px 4px 40px 4px;
    }
}

@media(max-width: 1060px) {
    header .navbar-brand img {
        width: 140px;
    }
}

@media(max-width:991px) {
    /*Menu*/
    header {
        padding: 15px 0px !important;
    }
    header .navbar-brand img {
        width: 140px;
    }

    header ul.navbar-nav {
        padding-top: 20px;
    }

    header ul.navbar-nav li {
        width: 100%;
        text-align: center;
    }

    header ul.navbar-nav li a {
        padding: 10px 0px;
        border-top: 0px;
    }

    header ul.navbar-nav li a:hover {
        border-top: 0px;
        color: #CC0000;
    }

    li.nav-item.dropdown.ingresar {
        margin: 30px;
    }
    .dropdown:hover .dropdown-menu {
        width: 100%;
    }

    header ul.navbar-nav li .dropdown-menu a {
        padding: 15px 0px 15px 0px !important;
        border-top: 0px solid transparent;
        font-size: 0.9em !important;
    }

    .portada-lcen-colores {
        margin-top: 85px;
    }
}


@media(max-width:768px) {
    .container {
        max-width: 90% !important;
    }

    /*Textos*/
    h2 {
        font-size: 1.5em;
    }
    p {
        font-size: 1em;
    }

    /*Home*/
    .portada-gif {
        margin-top: 84px;
        height: 450px;
    }
    .portada-gif h1 {
        font-size: 2em;
    }
    .portada-gif p {
        font-size: 1.2em;
    }

    .que-es-lcen p {
        padding-left: 0px;
        padding-right: 0px;
    }

    .a-ponerse-con-propuestas .llamado-propuestas {
        padding: 60px 0px 20px 0px;
        margin-top: 40px;
    }
    .a-ponerse-con-propuestas .llamado-propuestas h1 {
        font-size: 2em;
        width: 90%;
        padding: 0px;
        margin: auto;
    }
    .a-ponerse-con-propuestas img.img-fluid.p-4 {
        padding: 0px !important;
        margin-bottom: 30px;
    }

    .a-ponerse-con-propuestas p {
        padding-left: 0px;
        padding-right: 0px;
    }
    .a-ponerse-con-propuestas .llamado-propuestas img.megafono-recorte {
        width: 200px;
        top: -60px;
    }

    .propuestas-home .info-row p {
        text-align: center;
        padding-bottom: 20px;
        width: 100%;
    }

    .propuestas-home .info-row a.btn-secundario {
        padding-left: 0px;
    }

    .propuestas-home ul.filtro-temas-propuestas .btn-lcen {
        font-size: 0.8em;
        margin: 4px 2px;
    }

    .convencionales-home {
        padding: 80px 0px 180px 0px;
    }

    .convencionales-home h2 {
        font-size: 1.8em;
    }

    .convencionales-home img.collage-constitucion-convencionales {
        width: 200px;
    }

    .convencionales-home p {
        width: 100%;
    }

    .convencionales-home img.medialuna-adorno-convencionales {
        top: auto;
        bottom: 20px;
        width: 100%;
    }

/*Logos organizaciones seccion*/
    .organizaciones-lista li {
        margin: 10px 0px;
        height: auto;
        width: 180px !important;
    }

    .organizaciones-home img {
        height: auto;
        width: 100%;
    }

    /*Propuestas lectura resumen*/
    .propuesta .informacion-propuesta h2.titulo {
        font-size: 1.2em;
    }

    /*Footer*/
    footer {
        padding-left: 20px;
        padding-top: 20px;
    }

    footer .logo img {
        width: 200px;
    }

    footer .logos-organizaciones .logo {
        height: 45px;
        margin: 15px 10px;
    }

    footer h3 {
        font-size: 1.2em;
    }

    footer .collage-1 {
        width: 100%;
    }

    footer .redes {
        width: 100%;
        padding: 40px;
    }

    footer .redes p {
        width: 100%;
    }

    footer .redes .rrss {
        padding-top: 20px;
        margin-bottom: 0px;
    }

    footer .collage-2 {
        width: 80%;
        margin-left: auto;
    }

    /*Banner secciones*/
    .portada-lcen-colores {
        margin-top: 85px;
    }

    .portada-lcen-colores .img-banner-desktop {
        display: none;
    }

    .portada-lcen-colores .img-banner-movil {
        display: block;
    }

    .portada-lcen-colores ol.breadcrumb li {
        font-size: 1em !important;
    }

    /*Que es*/
    .que-es-lcen {
        padding-top: 50px !important;
        padding-bottom: 50px !important;
    }

    .que-es-lcen button {
        margin-bottom: 50px;
        margin-left: 0px !important;
    }
    .infografia-que-es .item {
        margin-bottom: 30px;
        padding: 0px;
    }
    .infografia-que-es p {
        padding: 0px 0px 5px 0px;
    }

    .quienes-somos-lcen .dropdown:hover .dropdown-menu .contenido {
        width: 200px;
    }

    .quienes-somos-lcen .organizaciones-list {
        flex-direction: column;
        align-items: center;
    }
    .quienes-somos-lcen img {
        height: 40px;
    }

    /*Propuestas y convencionales*/
    .filtro-propuestas form select {
        width: 100%;
        margin: 10px 0px;
    }

    .resultados-busqueda-titulo h3 {
        font-size: 1em;
        justify-content: center;
    }

    .resultados-busqueda-titulo a.limpiar-historial {
        margin-top: 10px;
        justify-content: center;
    }

    .perfil-convencional .datos {
        margin-top: 40px;
    }

    .propuestas-convencionales h2 img {
        display: none;
    }

    .resultados-convencionales figcaption {
        padding: 10px 20px;
    }

    .resultados-convencionales figcaption .datos {
        margin-top: 60px;
        padding-left: 20px;
    }

    /*Preguntas Frecuentes*/
    .preguntas h3 {
        font-size: 1.2em;
    }

    /*Portada collage*/
    .portada-collage-lcen {
        margin-top: 85px;
    }

    .portada-collage-lcen img {
        padding-top: 0px;
        width: 100%;
    }

    .portada-collage-lcen .titulo .informacion h1 {
        font-size: 1.5em;
        text-align: center;
        margin-bottom: 20px;
    }

    .portada-collage-lcen .informacion nav {
        justify-content: center;
    }

    .portada-collage-lcen ol.breadcrumb {
        justify-content: center;
    }

    /*Registro*/
    .ingresar-seccion h3 {
        font-size: 1.4em;
        margin-bottom: 30px;
    }

    .seleccionar a {
        padding: 0px 5px;
    }

    .seleccionar .decoracion-blue {
        right: 0px;
        width: 80%;
    }

    .registros .img-icono-registro {
        margin: 0 auto;
    }

    .registros .informacion {
        margin-top: 40px;
        padding-left: 20px;
    }
    .registros .informacion h2 {
        font-size: 1.4em;
        margin-bottom: 20px;
    }
    .registros form div {
        width: 100%;
    }
    .registros form button.btn {
        margin: auto;
        margin-right: auto;
    }
    .registrate-cta a {
        margin: 0px 0px 0px 0px;
    }
    .registrate-cta p {
        width: 100%;
        text-align: center;
        padding-bottom: 10px;
    }

    /*Subir propuesta*/
    .subir-propuesta .informacion {
        margin-bottom: 50px;
    }

    .subir-propuesta form {
        padding-left: 0px;
    }

    .subir-propuesta .informacion-ayuda h2 {
        font-size: 1.4em;
    }
}

@media (max-width: 500px) {
    .resultados-convencionales figcaption .datos {
        margin-top: 60px;
        padding-left: 20px;
    }
    /*Logos organizaciones seccion*/
    .organizaciones-lista li {
        width: 140px !important;
    }
}

.organizaciones-seccion li {
    list-style: none;
    height: 95%;
    width: 80%;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    align-self: center;
}
.organizaciones-seccion img {
    opacity: 0.6;
    filter: grayscale(100%);
    transition: 0.4s all;
    height: auto;
    width: auto;
    max-height: 80px;
    max-width: 140px;
}
@media (max-width: 500px) {
    .organizaciones-seccion li {
        height: 90% !important;
        width: 75% !important;
    }
    .organizaciones-seccion img {
        max-height: 65px;
        max-width: 120px;
    }
    .organizaciones-seccion {
        padding: 20px 0px 0px 0px !important;
    }
}
@media (max-width: 340px) {
    .organizaciones-seccion img {
        max-height: 50px;
        max-width: 90px;
    }
}

.terminosycondiciones{
    padding: 70px 0px;
}
.terminosycondiciones h1{
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: 900;
    text-align: center;
    letter-spacing: 0.5px;
    color: black;
    padding: 8px 0px;
}
.terminosycondiciones h2{
    font-size: 1.3em;
    text-transform: inherit;
    padding-left: 0px;
    border: 0px;
    font-weight: 900;
    letter-spacing: 0.5px;
    color: black;
    margin-bottom: 10px;
    padding-bottom: 0px;
}
.terminosycondiciones p{
    font-size: 1em;
    color: black;
    padding-bottom:6px;
    margin-bottom: 0px;
}
.terminosycondiciones li{
    font-size: 1em;
    color: black;
    padding-bottom: 5px;
}
