{% extends "base.html" %}
{% load static %}
{% block title %}Organizaciones{% endblock %}

{% block content %}


<section class="portada-lcen-colores">
    <img src="{% static 'img/header-organizaciones.jpg' %}" alt="img collage portada" class="img-fluid">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Inicio</a></li>
            <li class="breadcrumb-item active" aria-current="page">Organizaciones</li>
        </ol>
    </nav>
</section>


<section class="container-fluid organizaciones-home no-bg organizaciones-seccion">
    <div class="container">
        <div class="row">
            <div class="organizaciones-lista wow animate__animated animate__fadeIn animate__delay-2s">
                <ul>
                  {% for organizacion in organizaciones_list %}
                  <li><a href="#"><img src="{{ organizacion.logo.url }}" alt="organizacion logo" class="img-fluid logo"></a></li>
                  {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</section>



<p><a href="{{ organizacion.pk }}">{{ organizacion }}</a></p>


{% endblock %}
