{% extends 'base.html' %}
{% load static %}
{% block title %}Crear Propuesta{% endblock %}

{% block content %}

<section class="container-fluid portada-collage-lcen">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-7 col-lg-7 wow animate__animated animate__fadeIn animate__delay-1s">
                <img src="{% static 'img/collage-portada-secciones.png' %}" alt="img collage portada" class="img-fluid">
            </div>
            <div class="col-12 col-sm-12 col-md-5 col-lg-5 titulo wow animate__animated animate__fadeIn animate__delay-1s">
                <div class="informacion">
                    <div class="decoracion yellow"></div>
                    <h1>Crea tu propuesta</h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Inicio</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Crear propuesta: Paso 6</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>



<section class="container subir-propuesta">
    <div class="row justify-content-md-center d-flex align-items-center">
        <div class="col-12 col-sm-12 col-md-4 informacion">
            <a href="#" class="volver"><i class="fas fa-chevron-left"></i>Paso anterior</a>
            <div class="informacion-ayuda">
                <p class="paso-propuesta">Último paso</p>
                <h2>Elige un título</h2>
                <h4>Para tener en cuenta</h4>
                <p class="recomendacion">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste consequuntur fugit sapiente ipsum et obcaecati, nisi mollitia nobis.</p>
                <p class="recomendacion">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste consequuntur fugit sapiente ipsum et obcaecati, nisi mollitia nobis.</p>
            </div>
            <div class="blue contacto-ayuda">
                <h3>¿Necesitas ayuda técnica?</h3>
                <p>Por favor ccontacta a <b>XXXXXX</b></p>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-5 form">
            <form action="" class="formulario">
                <div class="my-3 pb-3 item-form">
                    <label for="titulo-propuesta" class="form-label">Por favor, revisa el resumen de tu propuesta y escribe un título atractivo para que podamos difundirla hacia la ciudadanía y la Convención Constitucional.</label>
                    <p><i>Título: máximo 280 caracteres</i></p>
                    <textarea class="form-control" id="titulo-propuesta" rows="4" placeholder="Escribe el título de tu propuesta aquí"></textarea>
                </div>
                <div class="my-3 pb-2 item-form">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckIndeterminate">
                        <label class="form-check-label" for="flexCheckIndeterminate">Acepto los términos y condiciones</label>
                    </div>
                </div>

                <div class="my-3 item-form btn-siguiente">
                    <button type="submit" class="btn-lcen button hvr-sweep-to-right">Enviar</button>
                </div>
            </form>
        </div>
    </div>
</section>

{% endblock %}
