{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Crear Propuesta{% endblock %}

{% block content %}

<section class="container-fluid portada-collage-lcen">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-7 col-lg-7 wow animate__animated animate__fadeIn animate__delay-1s">
                <img src="{% static 'img/collage-portada-secciones.png' %}" alt="img collage portada" class="img-fluid">
            </div>
            <div class="col-12 col-sm-12 col-md-5 col-lg-5 titulo wow animate__animated animate__fadeIn animate__delay-1s">
                <div class="informacion">
                    <div class="decoracion yellow"></div>
                    <h1>Crea tu propuesta</h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'inicio' %}">Inicio</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Crear propuesta: Paso 2</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="container subir-propuesta">
    <div class="row justify-content-md-center d-flex align-items-start">
      <div class="col-12 col-sm-12 col-md-4 informacion">
          <!-- <a href="#" class="volver"><i class="fas fa-chevron-left"></i>Paso anterior</a> -->
          <div class="informacion-ayuda">
              <p class="paso-propuesta">Paso 2</p>
              <h2>¿Qué temas aborda tu propuesta?</h2>
              <h4>Para tener en cuenta</h4>
              <p class="recomendacion"><b>Tema principal:</b> Hemos definido diez grandes temas principales solo para que las personas puedan encontrar tu propuesta fácilmente.
              </p>
              <p class="recomendacion"><b>Temas secundarios:</b> Para conocer en mayor detalle tu propuesta, e identificar otras que sean afines a la tuya, por favor especifica qué otros temas aborda.</p>
          </div>
          <div class="blue contacto-ayuda">
              <h3>¿Necesitas ayuda técnica?</h3>
              <p>Por favor escribe a <a href="mailto:soporte@laconstitucionesnuestra.cl"><b>soporte@laconstitucionesnuestra.cl</b></a></p>
          </div>
      </div>
        <div class="col-12 col-sm-12 col-md-5 form">

          <form enctype="multipart/form-data" action="" method="post">{% csrf_token %}

            <table>
            {{ wizard.management_form }}
            {% if wizard.form.forms %}
                {{ wizard.form.management_form }}
                {% for form in wizard.form.forms %}
                    {{ form }}
                {% endfor %}
            {% else %}
                {{ wizard.form | crispy }}
            {% endif %}
            </table>
            {% if wizard.steps.prev %}
            <button class="btn-lcen button hvr-sweep-to-right" name="wizard_goto_step" type="submit" value="{{ wizard.steps.first }}">Inicio</button>
            <button class="btn-lcen button hvr-sweep-to-right" name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}">Anterior</button>
            {% endif %}
            <input class="btn-lcen button hvr-sweep-to-right" type="submit" value="siguiente"/>

          </form>

        </div>
    </div>
</section> -->

{% endblock %}
