{% extends 'base.html' %}
{% load static %}
{% block title %}Propuesta{% endblock %}

{% block content %}


<section class="portada-lcen-colores">
    <img src="{% static 'img/header-propuestas.jpg' %}" alt="img collage portada" class="img-fluid img-banner-desktop">
    <img src="{% static 'img/header-propuestas-movil.jpg' %}" alt="img collage portada" class="img-fluid img-banner-movil">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'inicio' %}">Inicio</a></li>
            <li class="breadcrumb-item"><a href="{% url 'ver_propuestas' %}">Propuestas</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ object.titulo|truncatechars:50 }}</li>
        </ol>
    </nav>
</section>


<section class="leer-propuesta container">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-8 informacion-propuesta">
              <div class="tema-principal">
              {% for otro_tema in object.otros_temas.all %}
              {{ otro_tema }} ·
              {% endfor %}
              </div>
              {% if object.tema_extra %}
              <p>Tema Complementario: {{ object.tema_extra }}</p>
              {% else %}
              {% endif %}
            <p class="numero-propuesta">Propuesta <b>N° {{ object.id }}</b></p>
            <h3>{{ object.titulo }}</h3>
            <p class="autor">Esta es una propuesta de: <b>
              {% if object.autor.organizacion %}
              {{ object.autor.organizacion.nombre_perfil }} ·
              {% else %}
              {{ object.autor }} ·
              {% endif %}
              {% for organizacion in object.organizaciones.all %}
              {{ organizacion.nombre_perfil }} ·
              {% endfor %}
            </b></p>
            <!-- <p class="colaborador">Elaborada con: <b><a href="#">Nombre persona/organización</a></b></p> -->
            <div class="linea yellow my-3"></div>

            <h4>Problema a solucionar:</h4>
            <p>{{ object.problema|linebreaks }}</p>

            <h4>Situación Ideal:</h4>
            <p>{{ object.situacion|linebreaks }}</p>

            <h4>Qué debe contemplar la Nueva Constitución</h4>
            <p>{{ object.componente|linebreaks }}</p>
            <div class="linea yellow my-3"></div>
            <p class="lugar"><i class="fas fa-map-marker-alt"></i>Esta propuesta se elaboró en: <b>
              {% if object.region %}
              {{ object.region }} ·
              {% endif %}
              {% if not object.region %}
              {% endif %}
              {% if object.comuna %}
              {{ object.comuna }}
              {% endif %}
              {% if not object.comuna %}
              {% endif %}
              {% if not object.region and not object.comuna %}
              Sin región y/o comuna definidas
              {% endif %},
              {{ object.pais }}</b></p>
        </div>
        <div class="col-12 col-sm-12 col-md-4 informacion-destacada">
            <div class="bg-color">
                <img src="{% static 'img/bg-propuestas/participacion.png' %}" alt="img medio ambiente" class="img-tema-propuesta">
                <h3>Esta propuesta cuenta con:</h3>
                <div class="cifras">
                    <p><span class="numero">{{ object.compromisos.count }}</span> convencionales comprometidxs</p>
                    <p><span class="numero">{{ object.apoyos.count }}</span> apoyos ciudadanxs</p>
                </div>
                <h3 class="apoyar">Apoya esta propuesta</h3>
                <p>Recuerda que debes <a href="{% url 'login' %}?next={{request.path}}">Ingresar</a> para Apoyar</p>
                <!-- Button trigger modal -->
                <button type="button" class="btn-lcen apoyar button hvr-sweep-to-right" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Apoyar <i class="fas fa-heart"></i></button>
                <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="staticBackdropLabel">Apoyar Propuesta</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <h3>¿Deseas apoyar la propuesta {{ object.titulo }}?</h3>
                                <p>Al apoyar esta propuesta aceptas que La Constitución es Nuestra te notifique vía correo electrónico cuando un convencional decida apoyar esta propuesta.</p>
                                <p>Recuerda que debes <a href="{% url 'login' %}?next={{request.path}}">Ingresar</a> para Apoyar</p>

                                <form class="" action="{% url 'prop_apoyo' object.pk %}" method="post">
                                  {% csrf_token %}
                                  <button type="submit" name="object_id" value="{{ object.id }}" class="btn btn-lcen apoyar button hvr-sweep-to-right">
                                    Apoyar <i class="fas fa-heart"></i>
                                  </button>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>


                <h3 class="compartir">Comparte esta propuesta</h3>

                <!-- <ul class="redes-sociales">
                </ul> -->

                <ul class="redes-sociales">
                    <li><a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}"><i class="fab fa-facebook-square"></i></a></li>
                    <li><a href="https://twitter.com/intent/tweet?hashtags=laconstitucionesnuestra&original_referer={{ request.build_absolute_uri }}&text={{ object.titulo|truncatechars:30 }}%20revisa%20la%20propuesta%20en%20&url=https://laconstitucionesnuestra.cl{{ request.get_full_path|truncatechars:1 }}&via=ciudadania_i" data-hash tags="laconstitucionesnuestra"><i class="fab fa-twitter-square"></i></a></li>
                    <!-- <li><a href="#"><i class="fab fa-linkedin"></i></a></li> -->
                    <!-- <li><a href="#"><i class="fab fa-instagram-square"></i></a></li> -->
                </ul>

                <!-- ////////////////// Tarjeta para compartir ////////////////// -->
                <!-- ///////////////// ------------------------ ///////////////// -->

<!--
                <button type="button" class="btn-lcen apoyar button hvr-sweep-to-right" data-bs-toggle="modal" data-bs-target="#staticBackdrop2">Compartir Propuesta <i class="fas fa-heart"></i></button>
                <div class="modal fade" id="staticBackdrop2" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="staticBackdropLabel">{{ object.titulo }}</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                              <div class="col-12 col-sm-12 col-md-8 informacion-propuesta">
                                <h3>Temas de la Propuesta</h3>
                                  <p><b>
                                    {{ object.tema }} ·
                                    {% for otro_tema in object.otros_temas.all %}
                                    {{ otro_tema }} ·
                                    {% endfor %}
                                    {% if object.tema_extra %}
                                    {{ object.tema_extra }} ·
                                    {% else %}
                                    {% endif %}
                                  </b></p>
                                <h3>Creada por</h3>
                                  <p><b>
                                    {% if object.autor.organizacion %}
                                    {{ object.autor.organizacion.nombre_perfil }} ·
                                    {% else %}
                                    {{ object.autor }} ·
                                    {% endif %}
                                    {% for organizacion in object.organizaciones.all %}
                                    {{ organizacion.nombre_perfil }} ·
                                    {% endfor %}
                                  </b></p>
                                  <p class="colaborador">Elaborada con: <b><a href="#">Nombre persona/organización</a></b></p>
                                  <div class="linea yellow my-3"></div>

                                  <h4>Problema a solucionar:</h4>
                                  <p>{{ object.problema|linebreaks }}</p>

                                  <h4>Situación Ideal:</h4>
                                  <p>{{ object.situacion|linebreaks }}</p>

                                  <h4>Qué debe contemplar la Nueva Constitución</h4>
                                  <p>{{ object.componente|linebreaks }}</p>
                                  <div class="linea yellow my-3"></div>
                                  <p class="lugar"><i class="fas fa-map-marker-alt"></i>Esta propuesta se elaboró en: <b>
                                    {% if object.region %}
                                    {{ object.region }} ·
                                    {% endif %}
                                    {% if not object.region %}
                                    {% endif %}
                                    {% if object.comuna %}
                                    {{ object.comuna }}
                                    {% endif %}
                                    {% if not object.comuna %}
                                    {% endif %}
                                    {% if not object.region and not object.comuna %}
                                    Sin región y/o comuna definidas
                                    {% endif %},
                                    {{ object.pais }}</b></p>
                                  <p class="numero-propuesta">Propuesta <b>N° {{ object.id }}</b></p>
                              </div>
                            </div>
                        </div>
                    </div>
                </div>
-->
                <!-- ///////////////// ------------------------ ///////////////// -->


            </div>
            <div class="linea yellow my-3"></div>

            <div class="info-adicional">
                <h5>Documentos adjuntos:</h5>
                <ul>
                  {% if object.anexo_propuesta %}
                    <li><a href="{{ object.anexo_propuesta.url }}" target="_blank"><i class="fas fa-circle"></i>Documento Adjunto (Abrir o Descargar)</a></li>
                  {% else %}
                  {% endif %}

                  {% if object.anexo2_propuesta %}
                    <li><a href="{{ object.anexo2_propuesta.url }}" target="_blank"><i class="fas fa-circle"></i>Documento Adjunto (Abrir o Descargar)</a></li>
                  {% else %}
                  {% endif %}
                </ul>
                <h5>Enlaces de interés:</h5>
                <ul>
                  {% if object.link_extra1 %}
                    <li><a href="{{ object.link_extra1 }}" target="_blank"><i class="fas fa-circle"></i>{{ object.link_extra1 }}</a></li>
                  {% else %}
                  {% endif %}

                  {% if object.link_extra2 %}
                    <li><a href="{{ object.link_extra2 }}" target="_blank"><i class="fas fa-circle"></i>{{ object.link_extra2 }}</a></li>
                  {% else %}
                  {% endif %}
                </ul>

                <h5>Compromisos de Convencionales:</h5>
                {% if object.compromisos.all %}
                <p>
                  Covencionales comprometidos con propuesta:
                  {% for compromiso in object.compromisos.all %}
                  <ul>
                    <a href="/usuarios/verconvencionales/{{ compromiso.convencional.pk }}" target="_blank">{{ compromiso.nombre }}</a>
                  </ul>
                  {% endfor %}
                </p>
                {% endif %}

                {% if not object.compromisos.all %}
                <p>
                  No hay Convencionales comprometidos con esta propuesta ciudadana.
                </p>
                {% endif %}

            </div>

            <p class="reportar">Si encuentras que esta propuesta viola los <a href="{% url 'terminos' %}" target="_blank">"Términos y Condiciones"</a> para la creación de una propuesta, ayúdanos <a href="mailto:contacto@laconstitucionesnuestra.cl?subject=La%20Propuesta%20{{object.titulo}}%20no%20debe%20estar%20en%20LCeN&body=La%20propuesta%20con%20título%20{{object.titulo}},%20que%20se%20puede%20leer%20en%20https://laconstitucionesnuestra.cl{{request.get_full_path}},%20debe%20ser%20revisada%20por%20las%20siguientes%20razones..." target="_blank"> reportándola.</a></p>



        </div>
    </div>
</section>


<section class="a-ponerse-con-propuestas container-fluid no-bg">
   <div class="llamado-propuestas">
       <h1>A ponerse con propuestas</h1>
       <img src="{% static 'img/megafono-recorte.png' %}" alt="megafono-recorte" class="megafono-recorte img-fluid">
   </div>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 col-sm-12 col-md-6 wow animate__animated animate__fadeIn">
                <img src="{% static 'img/collage-propuestas.png' %}" alt="collage a ponerse con propuestas" class="img-fluid p-4">
            </div>
            <div class="col-12 col-sm-12 col-md-6 wow animate__animated animate__fadeIn animate__delay-1s">
                <h2>Tu propuesta a la convención</h2>
                <p>Acá tienes la oportunidad de subir tus propuestas para la nueva Constitución de Chile y nosotrxs la haremos llegar a la Convención. <b>¡No te quedes fuera!</b></p>
                <a href="{% url 'crearpropuestas' %}" class="btn-lcen button hvr-sweep-to-right">Sube tu propuesta</a>
            </div>
        </div>
    </div>
</section>


{% endblock %}
