{% extends "base.html" %}
{% load static %}
{% block title %}Cambio de Contraseña{% endblock %}

{% block content %}

{% load crispy_forms_tags %}

<!--Reset Password-->
<br /><br /><br /><br /><br />
<div class="container p-5">
<h2 class="font-weight-bold mt-3">Cambio de contraseña en La Constitución es Nuestra</h2>
<hr>
<p>Si has olvidado o deseas cambiar tu contraseña de La Constitución es Nuestra, ingresa tu e-mail de registro y recibe el correo con las instrucciones. Recuerda revisar siempre tu carpeta de spam.</p>
    <form method="POST">
        {% csrf_token %}
        {{ password_reset_form|crispy }}
        <button class="btn btn-primary" type="submit">Enviar E-mail</button>
    </form>
  </div>

{% endblock %}
