{% extends "base.html" %}
{% load static %}
{% block title %}Cambio de Contraseña{% endblock %}

{% block content %}


<section class="container-fluid portada-collage-lcen">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-7 col-lg-7 wow animate__animated animate__fadeIn animate__delay-1s">
                <img src="{% static 'img/collage-portada-secciones.png' %}" alt="img collage portada" class="img-fluid">
            </div>
            <div class="col-12 col-sm-12 col-md-4 col-lg-4 titulo wow animate__animated animate__fadeIn animate__delay-1s">
               <div class="informacion">
                <div class="decoracion yellow"></div>
                <h1>Cambio de contraseña</h1>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'inicio' %}">Inicio</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Cambio de contraseña</li>
                    </ol>
                </nav>
               </div>
            </div>
        </div>
    </div>
</section>


<!--Password reset sent-->
<section class="container formularios-lcen section-password">
    <div class="row justify-content-md-center">
        <div class="col-12 col-sm-12 col-md-7 col-lg-7 d-flex flex-column justify-center">
            <h2 class="font-weight-bold mt-3">Correo con instrucciones enviado</h2>
            <div class="decoracion yellow"></div>
            <p >Te enviamos instrucciones por correo electrónico para cambiar tu contraseña. Si existe una cuenta de correo asociada, debería recibirlas en breve.</p>
            <p>Si no recibes el correo, por favor te pedimos que revises tu carpeta de spam para verificar si el e-mail está ahí.</p>
        </div>
    </div>
</section>

{% endblock %}
