{% extends "base.html" %}
{% load static %}
{% block title %}Cambio de Contraseña{% endblock %}

{% block content %}

<!--Password reset sent-->
<br /><br /><br /><br /><br />
<div class="container p-5">
<h2 class="font-weight-bold mt-3">Correo con instrucciones enviado</h2>
<hr>
<p>Te enviamos instrucciones por correo electrónico para cambiar tu contraseña. Si existe una cuenta de correo asociada, debería recibirlas en breve.<br>Si no recibes el correo, por favor te pedimos que revises tu carpeta de spam para verificar si el e-mail está ahí.</p>
</div>

{% endblock %}
