{% extends "base.html" %}
{% load static %}
{% block title %}Cambio de Contraseña{% endblock %}

{% block content %}

{% load crispy_forms_tags %}


<section class="container-fluid portada-collage-lcen">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-7 col-lg-7 wow animate__animated animate__fadeIn animate__delay-1s">
                <img src="{% static 'img/collage-portada-secciones.png' %}" alt="img collage portada" class="img-fluid">
            </div>
            <div class="col-12 col-sm-12 col-md-4 col-lg-4 titulo wow animate__animated animate__fadeIn animate__delay-1s">
               <div class="informacion">
                <div class="decoracion yellow"></div>
                <h1>Confirmar contraseña</h1>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'inicio' %}">Inicio</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Confirmar contraseña</li>
                    </ol>
                </nav>
               </div>
            </div>
        </div>
    </div>
</section>


<!--Password Reset Confirm-->
<section class="container formularios-lcen section-password">
    <div class="row justify-content-md-center">
        <div class="col-12 col-sm-12 col-md-7 col-lg-7 d-flex flex-column justify-center">
            <h2 class="font-weight-bold mt-3">Confirmar la nueva contraseña</h2>
            <div class="decoracion yellow"></div>
            <p>Por favor ingresa una nueva contraseña, debe tener más de cuatro letras/números, en minúsculas y sin espacios.</p>
            <form method="POST">
                {% csrf_token %} {{ form|crispy }}
                <button class="btn-lcen button hvr-sweep-to-right" type="submit">Cambiar Contraseña</button>
            </form>
        </div>
    </div>
</section>

{% endblock %}
