{% extends "base.html" %}
{% load normas_extra2 %}
{% load static %}
{% block title %}Conoce la nueva Constitución - Evaluación Internacional de Normas{% endblock %}

{% block content %}

<section class="banner-evaluaciones container-fluid evaluacion-internacional">

    <div class="container">
        <div class="row">

            <div class="col-12 col-sm-12 col-md-6 col-lg-6 informacion-banner">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'inicio' %}">Inicio</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'verevaluaciones' %}">Conoce la nueva Constitución</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Evaluación Internacional</li>
                    </ol>
                </nav>
                <h2>EVALUACIONES INTERNACIONALES</h2>
                <div class="decoracion-linea"></div>
                <p class="bajada-titulo">¿Qué tan alineada está la propuesta de nueva Constitución con estándares internacionales y otras constituciones del mundo? Descubre qué dijeron académicos/as internacionales de distintas disciplinas.</p>
            </div>

        </div>
    </div>

    <img src="{% static 'img/gif-evaluacion-v2.gif' %}" alt="imagen banner" class="banner-img-evaluaciones">

</section>


<!-- Filtro Desplegable -->

<section class="filtro-temas-evaluaciones accordion filtro-desktop" id="accordionExample">
    <div class="container-fluid invitacion-filtros accordion-item">
        <div class="row">
            <div class="col-12">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Explora los artículos según tus temas de interés
                </button>
            </div>
        </div>
    </div>
    <div class="container accordion-collapse collapse show" id="collapseOne" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
        <div class="row accordion-body">
            <div class="col-12 col-sm-12 col-md-12 temas">
                 {% normasxcategoriaint %}
            </div>
        </div>
    </div>
</section>

<section class="filtro-temas-evaluaciones accordion filtro-movil" id="accordionExample">
    <div class="container-fluid invitacion-filtros accordion-item">
        <div class="row">
            <div class="col-12">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Explora los artículos según tus temas de interés
                </button>
            </div>
        </div>
    </div>
    <div class="container accordion-collapse collapse" id="collapseThree" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
        <div class="row accordion-body">
            <div class="col-12 col-sm-12 col-md-12 temas">
                 {% normasxcategoriaint %}
            </div>
        </div>
    </div>
</section>

<section class="evaluaciones-lista internacional-lista">
    <div class="container">

        <div class="row">

          <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                  <h2 class="titulo-evaluacion-internacional">Hay <span>{{ evaluaciones_int_list.count }}</span> artículos evaluados por expertos internacionales</h2>
          </div>

          <div class="col-12 col-sm-12 col-md-4 col-lg-3 simbologia">
                  <h5>Simbología <img src="{% static 'img/icono-informacion-blanco.svg' %}" alt="icono" class="icono"></h5>
                  <p>Académicas/os internacionales expertas/os en diversos temas evaluaron qué tan acorde se encuentra la propuesta de nueva Constitución con estándares internacionales y otras constituciones del mundo. Sus respuestas se muestran a través de cuatro niveles de concordancia representados por un símbolo con un color y un nivel de alineación.</p>
                  <div class="simbologia-evaluacion-internacional">
                      <img src="{% static 'img/simbologia-evaluacion.svg' %}" alt="imagen banner" class="simbologia-evaluaciones">
                  </div>
          </div>

            <div class="col-12 col-sm-12 col-md-8 col-lg-9">

                  <div class="book-lista">

                    {% for normaint in filtrocategoriasint.qs %}
                      <a href="{{ normaint.pk }}">
                        <div class="evaluacion-book">
                            <h3>{{ normaint.titulo_web_norma_int }}</h3>
                            <img src="{{ normaint.sello_norma_int.url }}" alt="sello" class="simbolo-ei">
                            <p class="evaluada-por">Evaluada por:</p>
                            <p class="evaluador">{{ normaint.org_evaluadora_int }}</p>
                            <p class="datos-evaluador">{{ normaint.org_evaluadora_int.sitioweb_eval_norma_int }}</p>
                            <div class="tema">
                                <a href="{% url 'evaluaciones_int' %}?categoriadelanorma_int={{ normaint.categoriadelanorma_int.pk }}" class="tema-norma">{{ normaint.categoriadelanorma_int|truncatechars:15 }}</a>
                            </div>
                          </div>
                       </a>
                    {% endfor %}

                  </div>

            </div>

        </div>
    </div>
</section>


{% endblock %}
