{% extends "base.html" %}
{% load normas_extra2 %}
{% load static %}
{% block title %}Evaluación Internacional{% endblock %}

{% block content %}

<section class="banner-evaluaciones container-fluid evaluacion-internacional">

    <div class="container">
        <div class="row">

            <div class="col-12 col-sm-12 col-md-6 col-lg-6 informacion-banner">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'inicio' %}">Inicio</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'verevaluaciones' %}">Conoce la nueva Constitución</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Evaluación Internacional</li>
                    </ol>
                </nav>
                <h2>EVALUACIONES INTERNACIONALES</h2>
                <div class="decoracion-linea"></div>
                <p class="bajada-titulo">¿Qué tan alineada está la propuesta de nueva Constitución con estándares internacionales y otras constituciones del mundo? Descubre qué dijeron académicos/as internacionales de distintas disciplinas.</p>
            </div>

        </div>
    </div>

    <img src="{% static 'img/gif-evaluacion-v2.gif' %}" alt="imagen banner" class="banner-img-evaluaciones">

</section>


<!-- Filtro Desplegable -->

<section class="filtro-temas-evaluaciones accordion filtro-desktop" id="accordionExample">
    <div class="container-fluid invitacion-filtros accordion-item">
        <div class="row">
            <div class="col-12">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Explora los artículos según tus temas de interés
                </button>
            </div>
        </div>
    </div>
    <div class="container accordion-collapse collapse show" id="collapseOne" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
        <div class="row accordion-body">
            <div class="col-12 col-sm-12 col-md-12 temas">
                {% normasxcategoriaint %}
            </div>
        </div>
    </div>
</section>

<section class="filtro-temas-evaluaciones accordion filtro-movil" id="accordionExample">
    <div class="container-fluid invitacion-filtros accordion-item">
        <div class="row">
            <div class="col-12">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Explora los artículos según tus temas de interés
                </button>
            </div>
        </div>
    </div>
    <div class="container accordion-collapse collapse" id="collapseThree" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
        <div class="row accordion-body">
            <div class="col-12 col-sm-12 col-md-12 temas">
                {% normasxcategoriaint %}
            </div>
        </div>
    </div>
</section>



<!-- Visualización lectura evaluacion -->

<section class="norma-evaluada container">
    <div class="row">

        <div class="col-12 col-sm-5 col-md-4 col-lg-3 sello evaluacion-internacional-lectura">
            <a href="{% url 'evaluaciones_int' %}" class="volver-evaluaciones"><img src="{% static 'img/arrow-prev-gris.svg' %}" alt="icono" class="icono my-2">Volver</a>

            <div class="simbologia">
                <h5>Simbología <img src="{% static 'img/icono-informacion-blanco.svg' %}" alt="icono" class="icono"></h5>
                <p>Académicas/os internacionales expertas/os en diversos temas evaluaron qué tan acorde se encuentra la propuesta de nueva Constitución con estándares internacionales y otras constituciones del mundo. Sus respuestas se muestran a través de cuatro niveles de concordancia representados por un símbolo con un color y un nivel de alineación.</p>
                <div class="simbologia-evaluacion-internacional">
                    <img src="{% static 'img/simbologia-evaluacion.svg' %}" alt="imagen banner" class="simbologia-evaluaciones">
                </div>
            </div>
        </div>

        <div class="col-12 col-sm-7 col-md-8 col-lg-9 evaluacion-internacional-lectura">

            <a href="{% url 'evaluaciones_int' %}?categoriadelanorma_int={{ object.categoriadelanorma_int.pk }}" class="tema-norma">{{ object.categoriadelanorma_int }}</a>

            <h3 class="nombre-norma">{{ object.titulo_web_norma_int }}</h3>

            <div class="decoracion-linea"></div>

            <div class="org-evaluadora">
                <p>Evaluada por:</p>
                <div class="academico-evaluador">

                    <div class="academico">
                        <p class="nombre">{{ object.org_evaluadora_int }}</p>
                        <p class="profesion">{{ object.org_evaluadora_int.sitioweb_eval_norma_int }}</p>
                    </div>
                </div>
            </div>

            <img src="{% static 'img/icono-bio.svg' %}" alt="simbolobio" class="simbolo-bio">
            <p class="extracto-norma">{{ object.resumen_norma_int }}</p>


            <div class="leer-articulos">
                <div class="accordion" id="accordion-biografia">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="biografia-heading1">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#biografia" aria-expanded="true" aria-controls="biografia">
                                Lee los artículos evaluados
                            </button>
                        </h2>

                        <div id="biografia" class="accordion-collapse collapse" aria-labelledby="biografia-heading1">
                            <div class="accordion-body">
                                <div class="biografia">
                                    <p>{{ object.titulo_oficial_norma_int|linebreaks }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                  </div>
            </div>


            <div class="evaluacion-completa">
                 <h2>Evaluación según su experiencia</h2>
                 <div class="evaluacion-simbolos">
                     <div class="item">
                          <h4>¿Qué tan alineado está este artículo con los estándares establecidos por otras constituciones en el  mundo?</h4>
                          <img src="{{ object.constituciones_int.url }}" alt="logo organizacion" class="simbolo">
                     </div>
                     <div class="item">
                         <h4>¿Qué tan alineado está este artículo con los estándares internacionales o las prácticas de su disciplina?</h4>
                         <img src="{{ object.estandares_int.url }}" alt="logo organizacion" class="simbolo">
                     </div>
                 </div>
                 <div class="preguntas">
                   <div class="item">
                         <h4>¿Podrías compartir algunas ideas en respaldo de tus respuestas anteriores?</h4>
                         <p>{{ object.explicacion_int|linebreaks }}</p>
                   </div>
                   {% comment %} <div class="item">
                         <h4>¿Qué mensaje darías a las personas en Chile teniendo en cuenta que en septiembre votarán en el plebiscito en favor o rechazo de la nueva propuesta constitucional?</h4>
                         <p>{{ object.mensaje_int|linebreaks }}</p>
                   </div> {% endcomment %}
                 </div>
                 {% comment %} <div class="descarga-evaluacion">
                      <h5>Descargar la evaluación completa aquí</h5>
                      <br>
                      <a href="#" target="_blank" class="btn-evaluacion"> Descargar Evaluación</a>
                 </div> {% endcomment %}

            </div>

            <div class="leer-biografia">
                  <div class="accordion" id="accordion-articulos">
                      <div class="accordion-item">
                          <h2 class="accordion-header" id="articulos-heading1">
                              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#bios" aria-expanded="true" aria-controls="bios">
                                  Biografía completa de quién evaluó
                              </button>
                          </h2>

                          <div id="bios" class="accordion-collapse collapse" aria-labelledby="articulos-heading1">
                              <div class="accordion-body">
                                  <div class="articulo">
                                      <p>{{ object.org_evaluadora_int.descripcion_eval_norma_int|linebreaks }}</p>
                                  </div>
                              </div>
                          </div>
                      </div>
                    </div>
              </div>

              {% comment %} <div class="leer-biografia">
                <div class="accordion" id="accordion-articulos">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="articulos-heading1">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#mensaje" aria-expanded="true" aria-controls="mensaje">
                                Un mensaje final de quién evaluó
                            </button>
                        </h2>

                        <div id="mensaje" class="accordion-collapse collapse" aria-labelledby="articulos-heading1">
                            <div class="accordion-body">
                                <div class="articulo">
                                    <p><b>¿Qué mensaje darías a las personas en Chile teniendo en cuenta que en septiembre votarán en el plebiscito en favor o rechazo de la nueva propuesta constitucional?</b></p>
                                    <p>{{ object.mensaje_int|linebreaks }}</p>
                              </div>
                            </div>
                        </div>
                    </div>
                  </div>
            </div> {% endcomment %}


            <!--end evaluacion completa-->
          </div>
        </div>
</section>



{% endblock %}
