{% extends "base.html" %}
{% load static %}
{% block title %}Convencionales{% endblock %}

{% block content %}

<section class="portada-lcen-colores">
    <img src="{% static 'img/header-convencionales.jpg' %}" alt="img collage portada" class="img-fluid img-banner-desktop">
    <img src="{% static 'img/header-convencionales-movil.jpg' %}" alt="img collage portada" class="img-fluid img-banner-movil">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'inicio' %}">Inicio</a></li>
            <li class="breadcrumb-item active" aria-current="page">Convencionales</li>
        </ol>
    </nav>
</section>


<div class="filtro-propuestas formulario filtro-convencionales">
    <div class="container">
        <div class="row">

            <div class="col-12 col-sm-12 col-md-12">
                <h2><span>155 personas</span> encargadas de escribir la nueva constitución</h2>
                <p>Conoce quiénes son lxs convencionales y con qué propuestas de la ciudadanía se comprometen y apoyan</p>
            </div>

            <div class="col-12 col-sm-12 col-md-12 formulario">
                  <form  method="get">
                  {{ filtroconvencionales.form.lista }}
                  {{ filtroconvencionales.form.distrito }}
                  {{ filtroconvencionales.form.cargo }}
                  {{ filtroconvencionales.form.email }}
                    <button type="submit" class="btn btn-lcen button hvr-sweep-to-right">Buscar</button>
                    <a href="{% url 'verconvencionales' %}" class="limpiar-historial btn btn-lcen button hvr-sweep-to-right">Limpiar</a>
                  </form>
            </div>
        </div>
    </div>
</div>



<section class="resultados-convencionales container">
    <div class="row">
        {% for convencional in filtroconvencionales.qs %}
        <div class="col-12 col-sm-12 col-md-3">
            <figure class="figure">
              {% if convencional.foto %}
                <img src="{{ convencional.foto.url }}" alt="constituyente" class="figure-img img-fluid">
              {% else %}
                <img src="{% static 'img/foto.jpeg' %}" alt="constituyente" class="figure-img img-fluid">
              {% endif %}
                <figcaption class="figure-caption">
                    <h4>{{ convencional.user.nombre }}</h4>
                    <ul class="datos">
                        <li>
                          <p><b>Colectivo:</b> {{ convencional.lista }}</p>
                        </li>
                        <li>
                          <p><b>Partido/Movimiento:</b> {{ convencional.movimiento }}</p>
                        </li>
                        <li>
                            <p><b>Distrito:</b> {{ convencional.distrito }}</p>
                        </li>
                    </ul>
                    <a href="{{ convencional.pk }}" class="btn btn-lcen button hvr-sweep-to-right">Ver Perfil</a>
                </figcaption>
            </figure>
        </div>
        {% endfor %}
      </div>
</section>



<!-- <div class="col-12 col-sm-12 col-md-12 paginacion-propuestas">
<nav aria-label="Page navigation example">
  <ul class="pagination">

        {% if page_obj.has_previous %}
            <li class="page-item"><a class="page-link" href="?page=1">&laquo; Inicio</a></li>
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previo</a></li>
        {% endif %}

        {% if page_obj.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Siguiente</a></li>
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Último &raquo;</a></li>
        {% endif %}

  </ul>
</nav>
</div> -->


{% endblock %}
