{% extends "base.html" %}
{% load static %}
{% block title %}Convencional{% endblock %}

{% block content %}

<section class="portada-lcen-colores">
    <img src="{% static 'img/header-convencionales.jpg' %}" alt="img collage portada" class="img-fluid img-banner-desktop">
    <img src="{% static 'img/header-convencionales-movil.jpg' %}" alt="img collage portada" class="img-fluid img-banner-movil">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'inicio' %}">Inicio</a></li>
            <li class="breadcrumb-item"><a href="{% url 'ver_convencionales' %}">Convencionales</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ object.user.nombre }}</li>
        </ol>
    </nav>
</section>



<div class="container perfil-convencional">
    <div class="row justify-content-md-center">
        <div class="col-12 col-sm-12 col-md-4 col-lg-3">
            <div class="img-constituyente">
              {% if object.foto %}
                <img src="{{ object.foto.url }}" alt="img convencional" class="img-fluid convencional">
              {% else %}
                <img src="{% static 'img/foto.jpeg' %}" alt="img convencional" class="img-fluid convencional">
              {% endif %}
                <div class="decorativo blue"></div>
                <div class="decorativo red"></div>
                <div class="decorativo green"></div>
                <div class="decorativo yellow"></div>
            </div>
            <li style="list-style: none;" class="mt-4">
                <p style="text-align: center;"><b>Redes Sociales:</b></p>
            </li>
            <li class="redes-sociales" style="list-style: none;">
                {% if object.twitter %}
                <a href="{{ object.twitter }}"><i class="fab fa-twitter-square"></i></a>
                {% else %}
                {% endif %}
                {% if object.facebook %}
                <a href="{{ object.facebook }}"><i class="fab fa-facebook-square"></i></a>
                {% else %}
                {% endif %}
                {% if object.linkedin %}
                <a href="{{ object.linkedin }}"><i class="fab fa-linkedin"></i></a>
                {% else %}
                {% endif %}
                {% if object.instagram %}
                <a href="{{ object.instagram }}"><i class="fab fa-instagram-square"></i></a>
                {% else %}
                {% endif %}
            </li>
        </div>
        <div class="col-12 col-sm-12 col-md-5 datos">
           <p class="convencional">Convencional</p>
            <h2>{{ object.user.nombre }}</h2>
            <div class="decorativo blue"></div>
            <ul>
              <li>
                  <p><b>Cargos/Comisiones en la Convención:</b>
                    {% for cargo in object.cargo.all %}
                    {{ cargo }} ·
                    {% endfor %}
                  </p>
              </li>
              <li>
                  <p><b>¿Escaño reservado?:</b> {{ object.reservado }}</p>
              </li>
                <li>
                    <p><b>Distrito:</b> {{ object.distrito }}</p>
                </li>
                <li>
                    <p><b>Lista:</b> {{ object.lista }}</p>
                </li>
                <li>
                    <p><b>Movimiento / Organización:</b> {{ object.movimiento }}</p>
                </li>
                <li>
                  {% if object.linkintereses %}
                    <p><b>Enlace a declaración de intereses y patrimonio: <a href="{{ object.linkintereses }}" class="enlace-parrafos">Revisar Link</a></b></p>
                  {% else %}
                  {% endif %}
                </li>
            </ul>
        </div>
        <div class="col-12 col-sm-12 col-md-8 biografia">
            <div class="decoracion-left blue"></div>
            <p>{{ object.biografia|linebreaks }}</p>
            <div class="decoracion-right blue"></div>
        </div>
    </div>
</div>


<section class="propuestas-convencionales propuestas-seccion container">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12">
            <h2>compromisos de {{ object.user.nombre }}</h2>
            <div class="decoracion blue"></div>
        </div>

        <div class="col-12 col-sm-12 col-md-12">
           <ul class="filtro-temas-propuestas">
               <li><a href="#" class="btn-filtro active">Compromisos</a></li>
               <!-- <li><a href="#" class="btn-filtro">Iniciativas</a></li> -->
           </ul>
       </div>

       {% for propuesta in lista_comprometidas %}

           <div class="col-12 col-sm-12 col-md-6 col-lg-4">
               <div class="propuesta salud">
                   <div class="informacion-propuesta">
                       <h3 class="tema">{{ propuesta.tema }}</h3>
                       <p class="numero-propuesta">Propuesta <b>N° {{ propuesta.id }}</b></p>
                       <h2 class="titulo">{{ propuesta.titulo }}</h2>
                       <p class="extracto">
                         {{ propuesta.problema|truncatechars:250 }}
                       </p>
                       <div class="informacion-datos">
                           <h4>Se realizó en:</h4>
                           <p class="lugar">
                             {{ propuesta.region }}, Comuna {{ propuesta.comuna }}
                           </p>
                           <h4>Propuesta de</h4>
                           {% if propuesta.autor.organizacion %}
                           <img src="{{ propuesta.autor.organizacion.logo_organizacion.url }}" alt="logo organizacion">
                           <p class="lugar">
                           {{ propuesta.autor.organizacion.nombre_perfil }}
                           </p>
                           {% else %}
                           <p class="lugar">
                           Propuesta Personal
                           </p>
                           {% endif %}
                       </div>
                       <img src="{% static 'img/bg-propuestas/participacion.png' %}" alt="img salud" class="img-tema-propuesta">
                   </div>
                   <div class="bg-black">
                       <div class="call-to-action">
                           <a href="/propuestas/verpropuestas/{{ propuesta.id }}" class="btn-lcen apoyar">Apoyar <i class="fas fa-heart"></i></a>
                           <a href="/propuestas/verpropuestas/{{ propuesta.id }}" class="btn-lcen">Leer propuesta</a>
                       </div>
                       <div class="cifras">
                           <p><span class="numero">{{ propuesta.compromisos.count }}</span> convencionalxs comprometidxs</p>
                           <p><span class="numero">{{ propuesta.apoyos.count }}</span> apoyos ciudadanos</p>
                       </div>
                   </div>
               </div>
           </div>

       {% endfor %}

        <!-- <div class="col-12 col-sm-12 col-md-12 paginacion-propuestas">
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item disabled">
                        <a class="page-link" href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
                    </li>
                    <li class="page-item active"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
                    </li>
                </ul>
            </nav>
        </div> -->

    </div>
</section>


{% endblock %}
