{% extends "base.html" %}
{% load static %}
{% block title %}Organizaciones{% endblock %}

{% block content %}


<section class="portada-lcen-colores">
    <img src="{% static 'img/header-organizaciones.jpg' %}" alt="img collage portada" class="img-fluid img-banner-desktop">
    <img src="{% static 'img/header-organizaciones-movil.jpg' %}" alt="img collage portada" class="img-fluid img-banner-movil">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'inicio' %}">Inicio</a></li>
            <li class="breadcrumb-item active" aria-current="page">Organizaciones</li>
        </ol>
    </nav>
</section>


<section class="container-fluid organizaciones-home no-bg organizaciones-seccion">
    <div class="container">
        <div class="row">
            <div class="organizaciones-lista wow animate__animated animate__fadeIn">
                <ul>
                  {% for organizacion in organizaciones_list %}
                  <div class="col-6 col-sm-4 col-md-2">
                      <li><a href="{{ organizacion.pk }}"><img src="{{ organizacion.logo_organizacion.url }}" alt="organizacion logo" class="img-fluid logo"></a></li>
                  </div>
                  {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</section>


<!-- <section class="container call-to-action-organizaciones">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 wow animate__animated animate__fadeIn">
            <h2>¿Eres una organización y quieres estar aquí?</h2>
            <div class="call-to-action">
                <a href="{% url 'organizacion_register' %}" class="btn-lcen button hvr-sweep-to-right">Ingresa aquí</a>
            </div>
        </div>
    </div>
</section> -->


{% endblock %}
